[2020-12-22 21:50] Prolonpo opened #397 "Idle Animation & Military Drill Animations"
**How will this enhancement improve the game?**
Idea from @Kiefer

Reference post: https://discord.com/channels/681641241125060652/683376785659789342/788969353818144828

This enhancement will make AoTTG2 a lot less static as the characters will actually feel alive.

**Describe the solution you'd like**
When being idle, the characters will be performing some sort of animation - perhaps looking arou

[2020-12-22 21:51] Lithrun commented on #385
Seems like that something broke on the MC while they were a Player Titan, since the titans bodies aren't disappearing (Logic managed by the MC). Not exactly sure what the cause is, but that's up for the investigation part 👍

[2020-12-22 21:55] Lithrun commented on #276
Might be solved in Alpha 2, will see what testing team finds.

[2020-12-22 22:20] Prolonpo opened #398 "[PROPOSAL] First Person View"
**How will this feature improve the game?**
Can give an extra layer of immersion for players as well as another level of challenge.

This idea came during the November 28, 2020 Proposal meetings.

**Describe the solution you'd like**

The ability to switch into a first person view

- This view will only display the necessary elements such as the blades and the handles (showing the rest of the gear

[2020-12-22 22:27] Prolonpo commented on #326
From @Kamui and @Radicalore, some 3dmg sound effects to make the 3dmg gear sound a lot closer to the anime one.

Reference post (Kamui): https://discord.com/channels/681641241125060652/683376785659789342/789570427721613342

Reference pos (Radicalore): https://discord.com/channels/681641241125060652/683376785659789342/789771497018621953

[2020-12-22 22:30] Prolonpo commented on #310
From @AlexBot and related to #326

Death Sounds

In the current state of the AoTTG there are no sounds like grunts or screams upon death of Player or Titan. In the game there is "splash" which is played upon death of Player and it's okay when we get slapped to death my titan or the moment we are getting eaten but other wise our character displays no signs of being afraid of injured. Also if we do

[2020-12-23 04:00] KoroSensei0320 opened #399 "[BUG] Cursor issue"
**Describe the bug**
On Mac, "Alpha 2" (Edit: Till current, although recent builds are unable to open)
Upon reaching lobby creation screen (both single-player and multiplayer), the cursor disappears and the user is unable to interact with any buttons.
Furthermore, my Mac got quite heated and turned on its fans (fairly intensely).
I thought this may be due to the uncapped FPS on the menu, but as th

[2020-12-23 15:55] Prolonpo commented on #52
After a conversation with @antigasp, we have determined that the following should be included in the map editor:

- Map editor tools that will allow for mission creation (label a building, titan, human, space to protect, capture, destroy, etc.)
- Provide enough tools in the map editor that can allow members to create decent enough mission maps
- Allow players that are well versed in coding to also

[2020-12-23 20:25] Alex-Mod-Bot152 commented on #313
Additional Achievement from BuDeco
#1928

"That was a close call" - Save a Player from Titans Grip

[2020-12-23 20:32] Alex-Mod-Bot152 opened #400 "[PROPOSAL] Saluting on Horse Back"
Idea by @pixelz
#0667

**How will this enhancement improve the game?**
Making player more immersed into the world

**Describe the solution you'd like**
Simply presing salute button would start animation that will apply to both player and Horse

**Additional context** (Remove if not relevant)
Gif profived by author of idea https://cdn.discordapp.com/attachments/683376807101071489/790630033743937557

[2020-12-23 20:39] Alex-Mod-Bot152 opened #401 "[PROPOSAL] Abnormal Titans turning more slowly"
Idea by @Emperor Stiffy
#8301

Idea link-https://discord.com/channels/681641241125060652/683376807101071489/790472006448840705

**How will this enhancement improve the game?**
Making Abnormals titans feel more real by adding "weight" to them. Nothing with great mass comes to full stop in very short time

**Describe the solution you'd like**
Making the turn more slowly, possibly by even in drift mo

[2020-12-23 21:05] Alex-Mod-Bot152 opened #402 "[PROPOSAL] Different blade holding styles"
Idea by @K1ngCyX
#3562

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/790232165912412210

**How will this enhancement improve the game?**
More options for player to use. Making characters more different from each other

**Describe the solution you'd like**
Having set of how character hold their blades. For example Levi having one blade other way or one character

[2020-12-23 21:22] Prolonpo commented on #313
Additional Achievement from @The_Juns_Machine

"Aww, there there" for killing a titan that has leaped into the air.

Reference post: https://discord.com/channels/681641241125060652/683376807101071489/782655996086583346

[2020-12-23 21:32] Alex-Mod-Bot152 opened #403 "[PROPOSAL] Dummy Titan training"
Idea by @Alex152
#8670

**How will this enhancement improve the game?**
A way for players to practice striking down titans. Making it a great way to train attack from different angles and position also on moving targets. Also it would be great use for dummy titans

**Describe the solution you'd like**
Having dummy titans randomly placed around the training map, map would have other randomly places

[2020-12-23 22:04] Prolonpo commented on #310
From @Mujib, here are some additional animations for titan's when they are stuck (which involves reaching towards the player and trying to inch through a narrow opening), drifting, as well as hiding behind cover to observe passing players.

Reference post (start): https://discord.com/channels/681641241125060652/681647375336341522/782284314964131890

Reference post (stop): https://discord.com/chann

[2020-12-24 05:06] Acros5542 commented on #146
Update: As of Alpha 0.2, crushers 1 and 2 are no longer synced, instead moving in opposite directions. Crusher 5 is still too slow, as it's synced exactly with crusher 3. All other issues _seem_ to still be occurring, but I'm not positive, it probably would take a custom build to truly make sure, as testing it in game is quite difficult.

[2020-12-24 09:38] Alex-Mod-Bot152 commented on #392
**How will this feature improve the game?**
Will provide an awesome storyline that players can play through and enjoy their victories or persevere through their failures. Also some form of tutorial

Updated by @Alex152#8670 (Creator of this proposal, this version is in my opinion finished and can be view as so)

**Describe the solution you'd like**

__***Story mode**__

(I'm surprised no one made

[2020-12-24 11:20] Lithrun commented on #403
Sounds like a continuation of a new gamemode dedicated to #25 & but also related to the training gamemode #115

[2020-12-24 11:25] Alex-Mod-Bot152 commented on #403
Now that I look into it you are right. This can be treated as continuation or expension to issue #25 and #115

[2020-12-24 21:57] Prolonpo opened #405 "[PROPOSAL] To the Dev Team: Weak Point on Titans's Jaws in addition to Amputable limbs"
**How will this enhancement improve the game?**
Including this feature will allow more versatility to gameplay.

Amputable limbs are already being considered, @~L~ has proposed that a weak point near the titan's jaw should also be possible which would allow for players to slash a titan's mouth and making this titan unable to bite players

Reference post: https://discord.com/channels/68164124112506

[2020-12-24 21:58] Prolonpo commented on #324
From @~L~, here is a list of additional emotes:

Waving
Toggleable Salute
Air Punching
A faceplant/death
Crying
Bow

Reference post: https://discord.com/channels/681641241125060652/683376807101071489/782819211982012418

[2020-12-24 22:04] Prolonpo opened #406 "[PROPOSAL] Titan Decay (after being killed)"
**How will this enhancement improve the game?**
This will improve the game's immersion by having dead titans taking longer to disappear and having them emit more smoke in the process.

Idea from @~L~, link: https://discord.com/channels/681641241125060652/683376807101071489

**Describe the solution you'd like**
Dead titans models should be present for a longer timeframe and emit smoke in the locati

[2020-12-24 22:12] Prolonpo opened #407 "[PROPOSAL] Proximity voice chat can affect titan behaviour"
**How will this feature improve the game?**
Idea from @~L~, this feature would allow another level of immersion to the game as well as having to lead to players developing better strategies.

Reference post: https://discord.com/channels/681641241125060652/683376807101071489/783162358481551360

Related to #324
• Perhaps actions that emit a sound from the voice line hotbar can also have a similar ef

[2020-12-24 22:19] Prolonpo commented on #70
Additional detail from @~L~ which is around different types of wagons: Supply, transport, and corpse wagons.

See the following for more detail: https://discord.com/channels/681641241125060652/683376807101071489/783888289958592524

[2020-12-24 22:27] Lithrun commented on #392
The concept I had in mind for a campaign mode for a while, would be to write & create a custom campaign which takes place within the northern districts. We all know how the AoT story goes, and whereas implementing the canon story into the game via gamemodes / missions is great, having our own custom campaign will make things more original and unique.

This custom campaign can have some (limited) i

[2020-12-24 22:28] Prolonpo opened #408 "[PROPOSAL] Avenging Respawn Mechanic"
**How will this feature improve the game?**
Idea from @Xavier which will encourage teamwork between players in order to kill certain titans in order to revive fallen comrades.

Reference post: https://discord.com/channels/681641241125060652/681647375336341522/783841085722066944

**Describe the solution you'd like**
The Avenging Respawn Mechanic

So this was something I implemented into my games/se

[2020-12-24 22:35] Prolonpo commented on #392
The issue with having a custom campaign that keeps getting developed is that the development team would need to focus on creating the new storyline instead of devoting to improving the gameplay and introducing new features to the game.

I would suggest that the story mode offers an introduction to AoTTG2 with some reference to AoT. However, I would not recommend having a story mode that keeps gett

[2020-12-25 05:59] TheBoredProgrammer64 commented on #392
Have a group of people dedicated to develop a story. One from the dev team, a couple from the art team, and one from the mapping team to discuss missions and the overall campaign from all the aspects. Then we could have a workable template.

[2020-12-25 09:43] Alex-Mod-Bot152 commented on #107
**Idea by @IRI and @Cheese respectively**

Being able to retrive the blades

Blades could get stuck in titans and if retriving them is a option there would be animation for doing it

**Alex-Mod-Bot note**

After retriving the blades they would have decreased durability and there would be no animation if titans have already vaporized

[2020-12-25 09:56] Alex-Mod-Bot152 opened #409 "[PROPOSAL] Hooks detaching from objects"
Idea by @spideyrobo312004

Reference post- https://discord.com/channels/681641241125060652/683376807101071489/790299419777564722 and more explanation https://discord.com/channels/681641241125060652/683107211983323164/791741287439138846

**How will this enhancement improve the game?**
A more challanging gameplay on Realistic Difficulty

**Describe the solution you'd like**
If some criteria such as

[2020-12-25 10:02] Alex-Mod-Bot152 opened #410 "[PROPOSAL] Female looking titans"
Idea by @spideyrobo312004

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/790300117386788865 and more explanation https://discord.com/channels/681641241125060652/683107211983323164/791741287439138846

**How will this enhancement improve the game?**
Players being able to get more immersed into the game

**Describe the solution you'd like**
Some titans would have m

[2020-12-25 10:12] Alex-Mod-Bot152 opened #411 "[PROPOSAL] Titans throwing up"
Idea by @spideyrobo312004

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/790300911322136607 and more explanation https://discord.com/channels/681641241125060652/683107211983323164/791741287439138846

**How will this enhancement improve the game?**
Immersion and giving player another chance to strike the titans

**Describe the solution you'd like**
After titans e

[2020-12-25 10:21] Lithrun commented on #107
Don't think we should implement this due to balancing issues, nor do we need such a mechanic & animation as it will make things more complex than they have to be.

[2020-12-25 10:23] Alex-Mod-Bot152 commented on #107
I understand. I just wanted to write IRI and Cheese idea and what they think about it. Balancing the special is something that should be done so I agree with you. If needed we can discuss this further

[2020-12-25 10:40] Lithrun commented on #386
Photon Server issue: https://github.com/AoTTG-2/AoTTG-2-Photon-Server/issues/8
Should be fixed shortly.

[2020-12-25 12:04] Lithrun commented on #386
Issue from the Photon Server is done. No changes are required in this repo for that to work, so issue closed.

[2020-12-25 12:04] #386 closed, assigned to Lithrun

[2020-12-25 16:58] Prolonpo opened #412 "[PROPOSAL] Player Titan Skill: Throwing Objects"
**How will this feature improve the game?**
This will allow Player Titan to play a much more dangerous role during Human vs. Titan pvp scenarios. Idea by @desu

Link: https://discord.com/channels/681641241125060652/681647375336341522

**Describe the solution you'd like**
The ability for Player titans to pick up smaller titans and throw them in the direction where they are aiming
• The thrown titan

[2020-12-25 17:01] Prolonpo commented on #412
Additional detail from @Hakaishin:

For Titans:

The hability to grab anything like horses, rocks or players and throwing them and aim system for that because in normal aottg when you have not a target it can't throw the rock and the anim pauses 4ever.
Like if titan grabs a player and throws him player can die, same with horses and if aottg will have barrels or small things for titans it can be gr

[2020-12-25 17:19] Prolonpo opened #413 "[PROPOSAL] Titan shifters power and drawbacks & Shifter PvP"
**How will this enhancement improve the game?**
This will allow more exciting fights against titan shifters when they get introduced to AoTTG2.

Idea by @LittleHazy,

Link: https://discord.com/channels/681641241125060652/681647375336341522

**Describe the solution you'd like**
Some ideas for how it would work;

The Attack Titan; standard all-round fighting titan with lots of strength, especially g

[2020-12-25 17:29] Prolonpo opened #414 "[PROPOSAL] Custom Titans for Player Titans"
**How will this feature improve the game?**
Currently, player titans have only access to the skills accessible by computer controlled titans. In order to create more challenge for players facing against player titans and for player titans to be able to have a better range of ability, creating custom titans (that cannot shift back into humans) would be a nice addition

Idea stemmed from a discussio

[2020-12-25 17:36] Prolonpo opened #415 "[PROPOSAL] Levi Skill Improvement"
**How will this enhancement improve the game?**
The current Levi skill leaves a player very vulnerable as there is no way to cancel its animation except for gas bursting if a player misses their target.

Idea proposed by @Kiefer and developed by @Prolonpo

Link: https://discord.com/channels/681641241125060652/683107211983323164/792082880988839946

**Describe the solution you'd like**

I see, so th

[2020-12-25 17:38] Prolonpo commented on #413
@Kamui's take on this topic (link: https://discord.com/channels/681641241125060652/681647375336341522)

In AOTTG when you’re using Titan shifters their attacks seem pretty basic, all you have in your normal punch and kick and that’s basically it, I feel as though Titan Shifters should have their own special abilities that they should be able to use in order to make it more fun.

Attack Titan: Eren

[2020-12-25 20:02] Prolonpo opened #416 "[PROPOSAL] Buttonmash to escape titan's grasp"
**How will this feature improve the game?**
Idea by @DjFrytek (link: https://discord.com/channels/681641241125060652/683376807101071489/785779759988736011)

This feature would allow all players to have a chance (perhaps a slim one) to escape from the grasp of a titan if grabbed.

**Describe the solution you'd like**
This would consist of mashing a button in order to fill a quickly decreasing gauge

[2020-12-25 20:07] Prolonpo opened #417 "[PROPOSAL] To the art team - Hook should come back to gear"
**How will this enhancement improve the game?**
Currently, after releasing a hook's keybind, the hook simply disappears instead of coming back to where it has initially being shot from.

Having this feature would make AoTTG2 more immersive.

Idea from @Pllumped (link: https://discord.com/channels/681641241125060652/683376807101071489/786818691085369344)

**Describe the solution you'd like**
Have t

[2020-12-26 15:51] Alex-Mod-Bot152 opened #418 "[PROPOSAL] Hooks moving in more of a wave motion"
Idea by @kimwafu

Reference post-https://discord.com/channels/681641241125060652/681647375336341522/792416050342789141

**How will this enhancement improve the game?**
Mostly a neat thing to look at. Won't be changing anything about hooks

**Describe the solution you'd like**
Hooks would travels in a wave or more circular motion similar to that of anime

**Addiction**
In the vid showed before we c

[2020-12-27 15:18] Alex-Mod-Bot152 commented on #67
Idea by @IRI

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/792089615603073074

Some titans having visible ribs that are outside of the body

[2020-12-27 15:25] Alex-Mod-Bot152 opened #419 "[PROPOSAL] Hero Skill : Spherical cutting (Name can be changed)"
Idea by @Alex152

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/792447851174428682

**How will this enhancement improve the game?**
A new special skill for players to use. Just a addition to already existing skills

**Describe the solution you'd like**
Out character would spin is all directions cutting every thing around it. It would be able to blind, hinder or

[2020-12-28 03:15] KoroSensei0320 opened #420 "Collider meshes"
For complex objects collider meshes are required, as otherwise, all unity can do is exactly map colliders to the whole object which is very expensive to do in-game and results in a large loss of frames.

**Please tick if you are working on one of these models**
(As this task may have multiple contributors, we need to know what meshes are being worked on individually, and a second tick to know that

[2020-12-28 15:27] Prolonpo opened #421 "[PROPOSAL] ~L~'s Enhanced Character Customization (To the Art Team for making the parts, and the Dev team to ensure the process works flawlessly)"
**How will this enhancement improve the game?**
AoTTG's character customization system is very limiting and has many shortcomings.

~L~ has offered an amazing solution to a method which could address this problem and this would most likely make AoTTG2 better.

Source: https://discord.com/channels/681641241125060652/683107211983323164/793008471921655849

**Describe the solution you'd like**

Please

[2020-12-28 16:20] Lithrun commented on #421
Has some nice stuff in it, although check #34 and #116 as well

[2020-12-29 13:50] Acros5542 opened #422 "[BUG] Camera Issue - Crosshair desyncing from cursor position on other camera types"
**Describe the bug**
On resolutions other than 1920x1080p, your crosshair can desync from your cursors position when playing on Original or WoW camera type. When this occurs, your hooks will go towards where your cursor actually is (can be seen by using the x key) rather than where your crosshair is at.

**To Reproduce**
1. Go to any map and spawn in
2. Switch to Original camera (C key by default)

[2020-12-29 13:59] Acros5542 opened #423 "[BUG] Camera Issue - Range of crosshair movement on different resolutions"
**Describe the bug**
On resolutions other than 1920x1080p, you're not always able to move your crosshair to the corners of the screen on Original or WoW camera types. AoTTG2 has a sort of limiting box that stops you from moving your crosshair out of the window when playing on Original or WoW camera types (thankfully, as this makes playing on these camera types with multiple monitors possible); how

[2020-12-29 14:08] Acros5542 opened #424 "[BUG] Camera Issue - Nape focus not properly scaling with camera distance"
**Describe the bug**
The nape focus key currently doesn't properly target the nape of the titan across all camera distances. I suspect this is because nape focus is currently going off of the player character's location rather than his camera's location, as the only time the focus key seems to be very close to the nape is when on very low camera distance settings.

**To Reproduce**
1. Go to any ma

[2020-12-29 14:23] Acros5542 opened #425 "[BUG] Camera Issue - Toggle cursor breaking TPS camera mode"
**Describe the bug**
This one is a minor issue, but when toggle cursor (default key is X) has been turned on, the crosshair no longer stays locked to the center of the screen. This is fixed by simply toggling off the cursor by pressing X again. I think this is caused by the fact that when toggle cursor is on, your crosshair and mouse move according solely to your OS's sensitivity setting and your

[2020-12-29 19:08] Prolonpo commented on #295
From @sasha best waifu (Stiffy), the titan vs titan should have a counter to incoming strikes.

https://discord.com/channels/681641241125060652/683376807101071489/786965240646205510

[2020-12-29 19:10] Prolonpo commented on #295
From @Hunzey, shifters can be injured/hit by hitting their titans on their nape.

https://discord.com/channels/681641241125060652/683376807101071489/786966614460596296

[2020-12-29 19:14] Prolonpo commented on #310
From @Theodor, titans falling animation after being killed should be dependent on what stage of an animation they're in when they get struck.

Prolonpo's note: For example, if a titan is currently doing a slap, killing this titan during its slap animation should carry on the slap momentum instead of playing the default animation.

https://discord.com/channels/681641241125060652/683376807101071489/

[2020-12-29 19:18] Prolonpo commented on #413
From @IRI, when a shifter is about to transform, there will be a yellow electric aura that will appear. Other non shifter players would have to run away from it as they will get killed if the "explosion" of yellow lighting hits them.

This "explosion" of yellow lighting will form a sort of sphere that will be dependent on the size of the titans produced afterwards - thus, the colossal titan would

[2020-12-29 19:21] Prolonpo commented on #394
From @~𝕃~, A blood splatter effect for when your body or a horses body hits a surface, that way if you run across a village or something there could be blood everwhere where an entire team died

Prolonpo's note: this blood splatter will only happen when a player is killed.

https://discord.com/channels/681641241125060652/683376807101071489/787916393315958805

[2020-12-29 19:29] Prolonpo commented on #324
From @spideyrobo312004, emotes should also influence a character's face. In addition, saluting, killing titans, flying, hitting the ground or an obstacle should all affect the facial expressions of avatars.

https://discord.com/channels/681641241125060652/683376807101071489/788563633818697789

[2020-12-29 19:32] Lithrun commented on #168
Some improvements are applied in my #33 branch already. On hold until this is in development branch.

[2020-12-29 19:35] Prolonpo commented on #295
From @Your Best Buddy and @Kamui, when injuring a shifter, the human player would be able to rip them out of their titan's nape

Your best buddy: https://discord.com/channels/681641241125060652/683376807101071489/788988063329681466

Kamui: https://discord.com/channels/681641241125060652/683376807101071489/788991259694858240

[2020-12-29 19:42] Prolonpo commented on #405
From @kimwafu, fingers should also be amputable.

https://discord.com/channels/681641241125060652/681647375336341522/789694397091414027

[2020-12-29 20:06] Alex-Mod-Bot152 opened #426 "Ymir Jaw Titan"
Idea by @Alex152

### **Jaw Titan**

Quite a lot of people asked about it but there were no proposals or plans about it so I decided to write it down. For start Jaw titans is in general, what strengths and weaknesses it has and how they could be implemented into the AoTTG2 to make this Titan Balanced. Also using Ymir Jaw Titan is probably a best form of Jaw Titan we can add

### **Point 1- General

[2020-12-30 17:50] Alex-Mod-Bot152 opened #428 "[PROPOSAL] Destructible Objects"
Idea suggested by @aztral25
#2220

Reference post-https://discord.com/channels/681641241125060652/683107211983323164/793823080563736607

Discussed by @Alex152, @Dakros, @Tony Twohands and @Lithrun

**How will this enhancement improve the game?**
Surroundings being able to be damaged and destroyed would make titans and possibly players able to suprise and get to people much more easily. Houses woul

[2020-12-30 20:45] Acros5542 opened #429 "[BUG] Camera Issue - Minimap centering based off of camera position"
**Describe the bug**
The minimap is currently centering itself based off of the position of the player's camera when it should be centered based on the player character's location. This is especially noticeable when playing with a very high camera distance or when playing as a titan as they inherently have a higher camera distance. If you set camera distance to max (5) when playing as a titan, you

[2020-12-30 20:57] Acros5542 opened #430 "[BUG] Typing HTML styling into chat can cause some oddities"
**Describe the bug**
In both AoTTG1 and 2, the chat will accept certain stylings for text such as <color></color> or <size></size>; however, in AoTTG2 this form of styling while still executed behaves differently. Any changes to the text color will have no affect, as the text still is printed white. However with <size>, the text will instead be printed as a blank message, and an error code will be

[2020-12-30 21:03] Acros5542 opened #431 "[BUG] You can de-select the chat box while still having your inputs locked."
**Describe the bug**
This one is another minor chat bug, but if you press enter to open the chat, then left click anywhere on the screen other than the chat box, you'll de-select the chat window but remain in a state where your inputs are locked, despite pressing keys not actually typing anything into the chat box. This is easily fixable by the user by pressing the enter key again.

**To Reproduce

[2020-12-30 21:14] Acros5542 opened #432 "[BUG] /restart does not clear the interaction wheel from your screen"
**Describe the bug**
As with the /pause message, if you restart the game while the interaction wheel is up on your screen, it will not clear and remain stuck on your screen after the restart even if you let off the interaction wheel key.

**To Reproduce**
1. Go to any map and spawn in
2. Go to the refill station and hold the InteractionWheel key
3. While still holding the key, press T to suicide a

[2020-12-30 21:21] Acros5542 opened #433 "[BUG] The interaction wheel will remain open even if you move very far from the refill station"
**Describe the bug**
The interaction wheel doesn't automatically close once you leave the radius required to initially open it, so you can continue holding the key down and move far away from the refill station with the menu still open.

**To Reproduce**
1. Go to any map with a refill station and spawn in
2. Go to the refill station and hold the key to open the interaction wheel
3. While still hol

[2020-12-30 21:43] Acros5542 opened #434 "[BUG] Wallrun issue on flat walls"
**Describe the bug**
If you stand directly in front of a flat wall (such as the buildings on City or the walls in Akina) and hold forwards into the wall then jump, rather than initializing the normal wallrun maneuver, you'll instead appear to hover in place at the base of the wall and will not come back down until letting go of either your jump or forwards key.

**To Reproduce**
1. Walk directly t

[2020-12-30 21:51] Acros5542 opened #435 "[BUG] More pause bugs lol"
**Describe the bug**
For the first time you press escape to open the menu on a singeplayer session, the "Game Paused" message will appear upon closing the escape menu, and it will take another cycle of opening and closing the escape menu to begin the countdown for the game to unpause. For all future presses of escape in this lobby, the game will only be paused while the escape menu is open and wil

[2021-01-01 18:48] Prolonpo commented on #406
@Pllumped also supports the idea of titans leaving a skeleton behind lasting a few seconds after being killed.

https://discord.com/channels/681641241125060652/683376807101071489/789779950453522452

[2021-01-01 18:49] Prolonpo commented on #397
@Pllumped suggested adding walking in the game so a player can casually walk up to a titan and be cool prior to killing it.

https://discord.com/channels/681641241125060652/683376807101071489/789782598355779594

[2021-01-01 19:01] Prolonpo opened #436 "Different slash/attack animation depending on the area being hit"
**How will this enhancement improve the game?**
Idea from @rhyzim (https://discord.com/channels/681641241125060652/683376807101071489/793006021324177467)

This will make the gameplay a lot more immersive, fun, and epic

**Describe the solution you'd like**

Animation should reflect which part of the body is being attacked - for example, attack the eyes would require a stabbing motion which would b

[2021-01-01 19:03] Prolonpo commented on #413
From @IRI, dodge and block abilities which will consume stamina

https://discord.com/channels/681641241125060652/683376807101071489/793406862128840775

[2021-01-01 19:05] Prolonpo commented on #396
Additional detail from @KirinFN, "if you could put your hood up and your nametag above your head either goes away entirely or becomes something generic like "soldier." would be helpful for if for some reason you had to obscure your face or stay hidden"

https://discord.com/channels/681641241125060652/683376807101071489/793781624336547840

[2021-01-03 01:48] Prolonpo opened #438 "[PROPOSAL] Replay Function for AoTTG2"
**How will this feature improve the game?**
This will allow players to access a replay footage of their game session where they would be a free-floating camera and have the ability to stop time, accelerate it and slow it down.

This would allow players to create cinematic scenes of their game sessions and to film epic kills from better angles.

Idea by @Ainchase Ishmael (https://discord.com/channe

[2021-01-03 01:54] Prolonpo opened #439 "[PROPOSAL] Sample set of sound effects for AoTTG2"
**How will this enhancement improve the game?**
This sample set of sound effects would make AoTTG2 more immersive. In addition, they could also act as draft versions of the sound effects to be included in AoTTG2 to make the game more lively, realistic, and enjoyable to play.

Sound effects are very important as they could make or break a game. Good sound effects are so well blended together that t

[2021-01-03 01:55] Prolonpo commented on #406
Additional explanation from @maislu3819 (with illustrations showcasing 3 stages of titan decay/decomposition after being killed)

https://discord.com/channels/681641241125060652/683376807101071489/794749082479624212

[2021-01-03 06:17] Prolonpo commented on #392
Here is a perspective offered by @JohnnyG, main idea about including fan-made stories to the official available set of offered storyline

https://discord.com/channels/681641241125060652/683376807101071489/795157249139802132

[2021-01-03 23:27] Prolonpo opened #440 "[PROPOSAL] Ability to carry/transport players/NPCs who are stunned and/or out of gas"
**How will this feature improve the game?**
This will allow a better system to transport players who are out of gas quickly out of harm's way.

Idea from @spideyrobo312004 (https://discord.com/channels/681641241125060652/681647375336341522/790717051202437191)

**Describe the solution you'd like**
The ability to carry another player who is stunned or out of gas, transporting them to the nearest sup

[2021-01-03 23:30] Prolonpo opened #441 "[PROPOSAL] AHSS Specialization and Level up system"
**How will this feature improve the game?**
This system would allow AHSS players to be able to gain specialist roles and also introduce a levelling up system for AHSS players.

Idea by @Prolonpo, (https://discord.com/channels/681641241125060652/681647375336341522/791317634926510111)

**Describe the solution you'd like**
(Part 1 of 3)

Here is my personal take onto these questions:

For the first q

[2021-01-03 23:32] Prolonpo commented on #107
From @Alex-Mod-Bot152, this skill should be available for all blade wielders in Human vs Human Pvp Scenarios.

https://discord.com/channels/681641241125060652/681647375336341522/791412867386572851

[2021-01-03 23:41] Prolonpo opened #442 "[PROPOSAL] Being able to stand up and jump whilst on horseback"
**How will this enhancement improve the game?**
This will allow players a more consistent way of maintaining their speed going from horseback to 3dmg flying.

Contributors are @nothing clever, @Kamui, @KirinFN

https://discord.com/channels/681641241125060652/681647375336341522/794104800303120404

**Describe the solution you'd like**
Have an animation which shows the player standing up on their hor

[2021-01-03 23:45] Prolonpo commented on #405
From @maislu3819, titans, after having their jaw being cut, wouldn't be able to eat people until their jaws are fully healed. This would also allow players to save grabbed players as the titan wouldn't be able to chomp and munch them.

https://discord.com/channels/681641241125060652/681647375336341522/794912217207406592

[2021-01-03 23:50] Prolonpo opened #443 "[PROPOSAL] Idle Animation for Titans that are not aggroed and Making Titans having more Personality"
**How will this enhancement improve the game?**
Idea from @~L~, (https://discord.com/channels/681641241125060652/683376807101071489/795290466869837825)

This enhancement will make AoTTG2 more lively as titans wouldn't simply just be sitting or standing immobile like statues if players are not close.

**Describe the solution you'd like**
Titans could also have the ability to lie down (such as when

[2021-01-04 14:57] Prolonpo opened #444 "[PROPOSAL] Discussion regarding Titan AI"
**How will this enhancement improve the game?**
This can perhaps lead to Titans having a better AI which will challenge players' strategies and tactics during their gameplay.

Current discussion contributors:

- @~L~
- @Prolonpo
- @Acros5542

Start: https://discord.com/channels/681641241125060652/683107211983323164/795441941964914729

**Describe the solution you'd like**

[Currently being discusse

[2021-01-04 22:45] Acros5542 opened #445 "[BUG] Utgard Castle Vanishing Titans"
**Describe the bug**
Occasionally when restarting the game on Utgard Castle, especially on gamemodes with lots of titans such as Titans mode or custom difficulty with 5 or more titans, a null reference exception will be given in the developer console and several of the titans will not spawn. Not entirely sure why this happens, perhaps the area in which titans can spawn isn't entirely in line with

[2021-01-05 04:18] atirutw commented on #445
I don't think that's how Unity works. Assuming this is a reference to a GameObject or a Component, it should not turn into a null even if spawned out of bound. I don't know how AoTTG2 handle titans, but assuming it uses a manager script to keep track of the titans then the fault would be in the said manager script.

[2021-01-05 08:53] Lithrun commented on #445
It's related to #301 (Including previous bug #346 ). Has to do with the timing of when Capture spawnpoints get removed if the gamemode is not capture, due to them both being on Awake/Start, there's a chance that the old spawn logic will try to use a Capture spawnpoint because it can detect one, but a few frames later it gets deleted, and thus a nullReference.

Same issue happens on City - Classic.

[2021-01-05 17:43] Prolonpo commented on #402
Hmm... I wonder what would be the activation requirement for those characters to hold their blades differently?

Levi holds his blades backward when getting ready to attack titans, but if he is just flying around, he holds the blade upright.

[2021-01-05 19:57] Prolonpo opened #446 "[PROPOSAL] To the Art Team: Sprites to add more details to maps"
**How will this enhancement improve the game?**
Instead of creating different models to showcase the same (let's say) wall but one that is intact and others that are cracked, sprites should be instead used in AoTTG2.

Idea from @Sinser and discussed with @Prolonpo:
Question about the proposal: https://discord.com/channels/681641241125060652/683107211983323164/795666546789056542

Answer: https://di

[2021-01-05 21:08] Acros5542 opened #447 "[BUG] Titans do not move their heads as much as they should."
**Describe the bug**
When compared to AoTTG1, titans are not moving their heads in AoTTG2 as much as they should. Especially noticeable when the titan is turning to face you if you are behind him. See the videos below for direct comparison. This is a larger issue than just purely visual, as the head moving has an effect on your hooks when going for kills.

**To Reproduce**
1. Swing behind a titan

[2021-01-06 03:33] Prolonpo commented on #409
Staff discussion (start): https://discord.com/channels/681641241125060652/683483289289621515/796114267773337660

[2021-01-06 03:42] Prolonpo commented on #409
Perhaps this idea should instead focus on a list of 3dmg compatible materials (if you hook on these materials, you can fly) and a list of 3dmg incompatible materials (if you hook on these materials, you can't fly as the hook doesn't anchor in those materials) that would impact the gameplay

https://discord.com/channels/681641241125060652/683483289289621515/796221512361181214 (staff chat)

[2021-01-06 03:51] Prolonpo commented on #444
Issue that is common with the current Titan AI is that they tend to form mobs which are just boring, painful, and time-consuming to kill.

"At that point it just becomes a tedious game of picking them off one at a time until you reach the next wave." is the biggest problem in my opinion. - written by @Acros5542 (https://discord.com/channels/681641241125060652/683483289289621515/796120754034049054)

[2021-01-06 04:02] Acros5542 commented on #444
Eh, that's taken a little out of context. The quote above is coming from when I was talking about an issue with realism mode in which it currently forces players to play the game at a slightly slower pace when combined with aberrant/abnormal only, nape health, and increased titan amounts per wave (all of which are currently a part of the default settings for realism mode) leading to boring mobs to

[2021-01-06 04:04] Prolonpo commented on #444
But wouldn't you agree that giving more mechanics that will allow players to deal with those hordes of titans be better for AoTTG2?

Edit: from the previous answer, the last paragraph has been added after the initial posting of this question.

[2021-01-06 04:16] Acros5542 commented on #444
"Should we start implementing titans knocking each other out? Titans sabotaging each other which will leave them more vulnerable to be picked off?"
This is a pretty interesting mechanic that might be worth considering, and Punk titans in AoTTG1 already have a similar mechanic to them with their rock throws. I'd imagine the general idea is to make it so if a titan impacts another titan during their

[2021-01-06 11:26] atirutw opened #448 "[BUG] Aim cursor and actual curser does not line up"
**Describe the bug**
This screenshot pretty much describes what's going on.
![image](https://user-images.githubusercontent.com/25323231/103763212-1bdae900-504c-11eb-9150-7524a63192b2.png)
Also because that the game raycasts to the mouse position instead of the curser, the gameplay also took a big blow from this bug.

**To Reproduce**
Start a singleplayer match(prob occurs on multiplayer too), that

[2021-01-06 11:34] Lithrun commented on #448
Isn't this the same as #422?

[2021-01-06 11:37] atirutw commented on #448
Definitely the same one. Let's close this one down

[2021-01-06 11:39] Lithrun commented on #448
Alright then. This issue is closed due to being identical to #422

[2021-01-06 11:39] #448 closed, assigned to nobody

[2021-01-06 14:56] Toorah commented on #430
I suppose it should be decided whether or not to allow or block html tags in chat.
Personally I'd vote to block them, for various reasons, including consistency

[2021-01-06 17:51] Toorah opened #450 "[Backend] Scriptable Object based Variables and UI Bindings"
**Description**
Creating a Scriptable Object based Variable System, which ties into the UI to decouple UI and Logic.
The Variables can be used generically without the UI too.

The UI will get new components, which are variants of existing components (like sliders) that use the Variables as values.

[2021-01-06 21:26] EdJairRodriguez opened #451 "[PROPOSAL] Ways to save teammates - Cooperative and ideas"
**How will this feature improve the game?**
it could make it less stress and more cooperative playing in abnormal difficulty or hard

**Describe the solution you'd like**
i've thought in 3 things to add:
1) save yourself: by the cost of brake 2 blades + 20% of total gas, you can use the levi's ability in the opposite direction where the titan is looking cutting her fingers and make the titan unabl

[2021-01-08 02:09] Acros5542 opened #453 "[BUG] Collision"
**Introduction**
Alright, so this one is going to be quite lengthy to read and will deviate slightly from the standard format as I want to include as much detail as possible on this issue. This is an issue that has been discussed and investigated by myself as well as other testers, notably @desu7, over the last couple of days, and I believe it to be one of the biggest issues with the game currentl

[2021-01-08 02:27] Acros5542 commented on #386
Since the change I have not been able to make an account only lobby at all, regardless of whether I'm logged in or not, the box will not be ticked when selected.

[2021-01-08 06:46] atirutw opened #454 "[BUG][To the Art team] Weird normal on building models"
![image](https://user-images.githubusercontent.com/25323231/103982948-03d3a880-51b7-11eb-9361-a50cf00e1da3.png)

The normal of the building models aren't flat. This is causing some really weird lighting such as apparent shadows where there are none at night time.
![image](https://user-images.githubusercontent.com/25323231/103983008-1f3eb380-51b7-11eb-9bff-a009efe3257d.png)

(With increased contras

[2021-01-09 10:17] PoleDark commented on #287
Hello, any update regarding the texture?

[2021-01-09 10:19] #268 closed, assigned to PoleDark

[2021-01-09 13:27] FAStre commented on #365
@HawkeMaylan #113 is nearly finished and a daynightcycle prefab is now nearly ready for use. A default time can easily be set(so map makers can easily configure the time of day of a scene) and other options configured too.

I recommend that we include this prefab for map makers, it's as simple as dragging this prefab onto a scene I think.

[2021-01-09 14:04] KoroSensei0320 commented on #287
Tony is working on it starting now.

[2021-01-09 15:02] atirutw commented on #287
I'm no 3D or 2D artist but I hope the final texture will be PBR :)

[2021-01-09 21:25] atirutw commented on #451
I really like this idea but throwing your blades into their eyes is a bit much.
*shrugs*

[2021-01-10 02:23] HawkeMaylan commented on #365
Sounds good, before I can continue working on this I need to try and get my entire team onto GitHub as many are very reluctant. I'll see how soon I can get working on both this and the hierarchy, hopefully it should be within the week.

[2021-01-10 09:41] atirutw opened #457 "[BUG] High menu CPU Usage"
**Describe the bug**
The CPU usage is unusually high in the menu(it's also high while in a game but it's a lot less severe).
Please note that I have not tested this in a build yet

**To Reproduce**
Steps to reproduce the behavior:
1. Open Task Manager
2. Navigate to the Performance tab
3. Start the game
4. The CPU Usage goes up significantly
5. Start a game on any map
6. The CPU drops to about hal

[2021-01-10 09:51] Lithrun commented on #457
Identical to #351

[2021-01-10 09:57] #457 closed, assigned to nobody

[2021-01-10 10:07] Alex-Mod-Bot152 opened #458 "Loading screen tips"
Idea proposed by many people like @damian the elite

Reference post to @damian the elite https://discord.com/channels/681641241125060652/683376807101071489/797651745701363712

**How will this enhancement improve the game?**
Give new players advise on how they can do things or what will make them survive for longer. Also many new players have problems with killing titans especially while doing high

[2021-01-10 10:32] atirutw commented on #458
I upvote this

[2021-01-10 10:35] Lithrun commented on #458
Well, you should keep in mind that all of the existing levels loaded within a second...

[2021-01-10 11:00] atirutw commented on #458
Can we stash this as a low priority TODO until when there are big maps that takes time to load?

[2021-01-10 11:03] Lithrun commented on #458
Of course, hence why it's a proposal 😉

[2021-01-10 11:06] atirutw commented on #458
Yay

[2021-01-10 21:25] #390 closed, assigned to 8veStory

[2021-01-10 21:25] #430 closed, assigned to Toorah

[2021-01-10 22:32] Lithrun commented on #383
This sounds something related to #33, where I might have fixed it. If it's fixed in #33, then I will try to get #33 done asap to include this fix. If it's not fixed in #33, then I will create a separate branch to include a fix for this bug

[2021-01-11 03:55] Acros5542 commented on #386
Follow up, what I reported above is not solely related to this issue, it seems any tick/toggle boxes in the game are no longer displaying the tick mark, so regardless of what setting they're on they appear to be toggled off. Will report as a separate issue in a minute.

[2021-01-11 04:11] Acros5542 opened #461 "[BUG] Titan Health is no longer visible on Alpha 2.1"
**Describe the bug**
Pretty simple, seems titan health numbers don't appear anymore on the 2.1 Alpha build. Note they were appearing properly on Alpha 2.0

**To Reproduce**
1. Go to any gamemode with Titan Health (Forest Realism difficulty for example, or the Female Titan fight)
2. Spawn in as a human
3. Look at the empty air above the titans' heads menacingly

**Expected behavior**
Titan health s

[2021-01-11 04:17] Acros5542 opened #462 "[BUG] FPS Limiter no longer works - Alpha 2.1"
**Describe the bug**
Seems since v-sync has temporarily become something that is always on, it's taking priority over the FPS Limiter option, so no matter what you put in for the FPS Limiter, your FPS will still be locked to your monitor's refresh rate.

**To Reproduce**
1. Go into any game
2. Open the menu with escape and under graphics settings set a number for the FPS Limiter and hit save
3. No

[2021-01-11 04:24] Acros5542 opened #463 "[BUG] Toggle/tick boxes don't display when on certain quality settings"
**Describe the bug**
As the title suggests, when toggling a tick box (such as Account Only lobbies, Camera Tilt, Mouse Invert, or Gas Burst Double Tap), the checkmark is no longer displayed within the box when it is toggled on if you are on certain graphics settings. On Simple, the check mark is partially transparent, and on Fast and Fastest it is completely invisible. The option will still be tog

[2021-01-11 04:37] Acros5542 commented on #435
Additional note: this doesn't seem to happen on the very first singleplayer session you create upon launching the game.. for some reason..

[2021-01-11 04:54] Acros5542 opened #464 "[BUG] /pause breaker, breaker of /pause"
**Describe the bug**
Likely related to #435. If you leave a singleplayer lobby while the "Game Paused" message is clearing from the screen (so joining a singleplayer lobby, using /pause to bring up the "Game Paused" message, then using /pause again to begin the countdown for "Game Paused" to clear), for all future single and multiplayer lobbies you join, the "Game Paused" message will no longer ap

[2021-01-11 05:11] Acros5542 commented on #432
As of Alpha 2.1, this issue has been fixed. So as long as that build becomes the new standard, it's safe to close this issue.

[2021-01-11 13:08] 8veStory commented on #196
Will use Unity's animation events to get this done. Here's a preemptive list of the animations that will need to be done:

**Mindless Titan**
- [x] run_walk
- [x] turn_around1
- [x] turn_around2

**Abnormal Titan**
- [x] Run_abnormal
- [x] Run_abnormal0
- [x] Run_abnormal1

**Female Titan**
- [x] ~~ft_run~~ (seems like footstep sounds for female titan have already been implemented).

**Crawler**
-

[2021-01-11 16:33] #351 closed, assigned to Lithrun, ronitrocket

[2021-01-11 19:13] Lithrun commented on #373
As mentioned earlier on Discord: Upgrading to 2020.2 is as simple as pressing the upgrade button. Currently waiting until an unity docker image is available for 2020.2

[2021-01-11 19:14] Lithrun commented on #383
Issue occurs on #33 as well, so time to create branch 383 and have some fun

[2021-01-11 20:31] Lithrun commented on #461
This appears to be broken as per #430 (PR #449). Changing the font to Dynamic does work for the chat, but it appears to be incompatible with the Health Labels. So either:
1. Refactor the Health label to be compatible with Dynamic fonts
2. Add a static font which health labels can use

[2021-01-11 21:05] atirutw commented on #461
I upvote refactoring the code.

[2021-01-12 15:11] atirutw opened #467 "[PROPOSAL] Update obsolete codes"
**How will this enhancement improve the game?**
I think we should update codes that still use obsolete methods or APIs such as OnLevelWasLoaded, etc.
This will not effect any gameplay, but it will clean things up under the hood and hopefully makes maintaining codes easier.

**Describe the solution you'd like**
We just fix each code issues that Unity warns in the console. It's as simple as that.

*

[2021-01-12 20:04] Lithrun commented on #383
Issue is caused because a non-MC has OnLevelWasLoaded triggered twice. This for some reason, a non-MC has to load a scene twice. That's not something we want, so let's fix that

[2021-01-12 22:29] #432 closed, assigned to nobody

[2021-01-12 22:36] Acros5542 commented on #276
I've never been able to recreate this one, and honestly suspect it to be the same issue as #136, as the time it takes to do the steps above is very close to the amount of time you have to wait to recreate #136. If that's the case this issue can be closed.

[2021-01-12 22:56] Acros5542 commented on #353
To give an update on this issue, there seems to be a speed-related issue overall with reeling in/out while in between two of your own hooks, just having one of those hooks be on a player makes the issue exponentially more potent. Effectively, it's possible to do this solo, but you'll gain far less speed doing so. It's mostly an issue if you try to do it with bigger titans (especially noticeable on

[2021-01-12 23:28] Acros5542 opened #469 "[BUG] Resolution setting is ignored when going from windowed to fullscreen mode with backspace"
**Describe the bug**
If you set a lower than max resolution while on fullscreen mode, then press backspace twice to go to windows mode and then back to fullscreen, the resolution setting you chose will be ignored and the game will revert back to max resolution, despite your resolution setting still being selected in the Graphic Settings menu. This can be fixed simply by selecting a different resol

[2021-01-12 23:29] Acros5542 commented on #469
Low Priority as you can fix this yourself and I see it very rarely being a problem for players.

[2021-01-13 14:22] Alex-Mod-Bot152 opened #471 "[PROPOSAL] Visual and Sound effect upon cutting the surface"
Idea by @Dakros

Commented by @{ Flightless }

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/798885581576863756

**How will this enhancement improve the game?**
More realistic experience for players

**Describe the solution you'd like**
When attack from Blades hits the surface we would see sparks or particles depending on surface. Adding SFX would be quite easy

[2021-01-13 20:53] #422 closed, assigned to Toorah

[2021-01-13 20:53] Lithrun commented on #423
The fix of #422 also fixes this bug. Double ~~kill~~ bug fixes!

[2021-01-13 20:53] #423 closed, assigned to Toorah

[2021-01-15 19:14] Alex-Mod-Bot152 opened #472 "[PROPOSAL] Ability to name horses"
Idea by-@{ Flightless }

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/798393886849630228

**How will this enhancement improve the game?**
Players being more attached to their horses

**Describe the solution you'd like**
There would be addition box in Main menu next to players name where we can name your horse. It would appear similarly to how player names and G

[2021-01-17 21:46] Rekperion commented on #445
Could it possibly be the order of how the game loads in each object could also play a part in it? The outdated spawns seem to be the culprit but since it's only happening after continuous restarts it could be a problem with how everything is loaded in. I'm still getting familiar with the code so I'm not 100% on that but it seems likely that if it isn't currently playing a part in this issue that i

[2021-01-18 11:48] Acros5542 opened #475 "[BUG] Update & PauseService.isPaused issue"
**Note**
See comments for updated information.

**Describe the bug**
This one's pretty simple but may take a few tries to replicate. Basically, horses seem to compile speed while the game is paused with the Escape menu or with /pause in multiplayer. They also seem to lose their trajectory and direct their speed straight down rather than in whatever direction they were travelling before the pause o

[2021-01-18 23:52] Toorah opened #476 "[PROPOSAL] Accessibility feature: Easy Aim (non-strict aiming)"
**How will this enhancement improve the game?**
I often see people who want to play this game, but are not "gamers" or simply don't have a lot of experience playing PC games who are fans of AoT and really want to play. One of their biggest problems is the controls and *aiming*, especially when suddenly reaching higher velocities.
I believe that the game should have features to help people and one

[2021-01-19 17:27] Lithrun commented on #475
Horses aren't implemented yet. Hard to consider this a bug until #116 has been implemented.

[2021-01-20 23:14] Acros5542 commented on #383
**Referring to the Issue-383 build**
___
**Intro**

It is still possible to recreate this issue, but it is a little more complicated and contingent on certain factors. For the sake of explaining this in the most understandable way I can, I’m going to define some variables:

- Player 1 - The host/MasterClient (MC) of the server
- Player 2 - The first person to connect to the server
- Player 3 - The

[2021-01-20 23:15] Acros5542 commented on #387
**Update with much more information**

![Screenshot (449)](https://user-images.githubusercontent.com/75679898/105252478-7e071400-5b4b-11eb-8073-8cb28f95508d.png)
Upon first launching the game, your first attempt to connect to a lobby will never give this error. If this first connection to a lobby is a multiplayer lobby, you will instead be given a Null Reference Exception upon connecting successfu

[2021-01-20 23:21] Acros5542 opened #478 "[BUG] Wave counter display on multiplayer servers."
**Describe the bug**
When joining an existing multiplayer lobby, the wave counter will always show Wave 1 upon connecting, even if the lobby is on a later wave.

**To Reproduce**
1. Create a multiplayer lobby on one client on Forest or City on the Wave gamemode
2. Clear the first wave
3. On another client, connect to the server
4. Look at the wave indicator at the top of the screen

**Contributor

[2021-01-20 23:32] Acros5542 opened #479 "[BUG] Titan Logic on Multiplayer Servers"
**Describe the bug**
Titan Logic will only behave correctly for nonMC clients on a multiplayer server if the titans are being rendered by the MC. If the MC is not facing the titans and is far enough away, titan logic will begin to behave incorrectly, if at all. Titans may move minimally or stop entirely, take much longer to despawn upon death or not despawn at all, and can even freeze mid-swing an

[2021-01-21 06:40] DaSquyd opened #480 "[BUG] Camera Clips Through Objects"
**Describe the bug**
When the camera is up against a wall or the floor, it can sometimes clip through.

**To Reproduce**
Steps to reproduce the behavior:
1. Stand beside any wall (or anywhere in general for floor clip)
2. Slowly move the camera towards the environment object until it clips through. This is a very consistent and replicable issue.

**Expected behavior**
Camera should **not** clip th

[2021-01-21 19:37] Alex-Mod-Bot152 opened #483 "[PROPOSAL] Ability to reduce/remove blood and shadows"
Idea by @damian the elite

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/801234624382107648

**How will this enhancement improve the game?**
Better performance or visibility for players

**Describe the solution you'd like**
It would be option in graphics menu

**Contributor instructions** (Do not modify)
1. Determine if the enhancement is compatible with existin

[2021-01-21 20:36] Alex-Mod-Bot152 opened #484 "[PROPOSAL] New Gamemode - Escort/Protect Civilians"
Idea by @Bakayarou

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/801207373020659743

**How will this enhancement improve the game?**
New gamemode for players to enjoy

**Describe the solution you'd like**
Using custom logic so that titans try to get to civilians and eat them. We have to either kill all the titans or Escort all civilians to safety

**Additional

[2021-01-21 20:39] Lithrun commented on #484
Sounds nice, but identical to #110

[2021-01-22 02:26] Prolonpo commented on #307
From @Burdy, Spiked cannon (used to capture titan) should also be an addition to this proposal

https://discord.com/channels/681641241125060652/683376807101071489/799677238017523733

[2021-01-22 02:39] Prolonpo opened #485 "[PROPOSAL] Gear quality and 3dmg Reparation"
**How will this feature improve the game?**
Idea from @antigasp,

Link: https://discord.com/channels/681641241125060652/683107211983323164/800802269675126824

Related to #114

**Describe the solution you'd like**
"Being able to equip/unequip ODM and switch to other gear which has its own independent stats, in addition to the stats given by your character, could be neat.

It would suit expeditions.

[2021-01-22 08:46] #484 closed, assigned to nobody

[2021-01-22 08:47] Alex-Mod-Bot152 commented on #110
Idea by @bakayarou

Reference post-https://discord.com/channels/681641241125060652/683376807101071489/801207373020659743

Idea for game mode : protect the citizens name (tbc). basically titans get in the city and you have to kill the titans while making sure the citizens get evacuated safely. two ways you can win/ lose : to win either kill all titans, or see that a certain amount/% of citizens get

[2021-01-22 08:57] 8veStory opened #486 "[BUG] Player clips through floor when checkpoint captured"
**Describe the bug**
On any map with the Capture gamemode (e.g. Outside the Walls, City), if you stand in the center of the checkpoint where the gas station will appear when it is captured the station will push the player into the floor.

I've also noticed different behaviour on City and Outside the Walls. If you reproduce this bug on city you are practically stuck under the gas station under the

[2021-01-22 09:26] 8veStory commented on #486
Just realised this is a duplicate to #370.

[2021-01-22 09:26] #486 closed, assigned to nobody

[2021-01-22 15:39] Prolonpo commented on #393
Additional comment on #116 : player should be able to ride at 4 different speed

1. Gallop (full sprint)
2. Canter (between jog and sprint)
3. Trot (jog)
4. Walk

Could be activated with the combination of "Shift + [number]"
Example:
Pressing "Shift + 3" would activate the Trot speed and the horse will keep this speed until it receives another combination or the "speed boost" ability is activated

[2021-01-22 15:39] Prolonpo commented on #116
See: https://github.com/AoTTG-2/AoTTG-2/issues/393#issuecomment-765492875 About the different types of horse speed that should be made available.

[2021-01-24 05:26] Prolonpo commented on #392
**Intro and Outro to the Story Mode**

@JacobDrums reached me out in DM's and here is what he proposed as the intro cutscene to the story mode:

- When you first join the story mode, players will be spawned in the path with the glowing tree connecting all Eldians together
- There, the player will be welcomed with a soothing music and perhaps even a background narration (some random quotes about th

[2021-01-25 02:53] Acros5542 opened #487 "[BUG] Breaking game resolution with dual monitors"
**Describe the bug**
Okay so this one's a bit weird. I have 2 monitors, one 1920x1080p one and one 4k one. If I open an instance of AoTTG2 on one monitor in windowed mode, then move it over to my other monitor, and then open a second instance of AoTTG2, this new client will launch in either a smaller or larger resolution depending on which monitor I started with. By then dragging this new client o

[2021-01-25 03:06] Acros5542 opened #488 "[BUG] Odd collision behavior when holding your blades back."
**README**
This post originally was more or less a joke reporting what I thought at the time was a 1 in a million super odd occurrence that I could never recreate. However, after gisketch by sheer chance had the same thing happen to him, we were able to uncover the details of this issue and successfully recreate it. Ignore the post itself and look at the comments for more information.

**Describe

[2021-01-25 20:15] Lithrun opened #489 "Server Settings: The ScriptableObject edition"
**How will this enhancement improve the game?**
ScriptableObjects are nice! So, instead of hard coding server settings via enums, let's create a "PhotonServerService" which contains a list of PhotonServerConfig scriptableobjects. These SO's contain information such as "Name", "IP address", "Port" and "ApplicationId". This service allows you to: retrieve the PhotonServerConfig of your current serve

[2021-01-25 20:32] #190 closed, assigned to siddharthgup3

[2021-01-25 20:45] #424 closed, assigned to Toorah

[2021-01-25 21:35] #480 closed, assigned to DaSquyd

[2021-01-26 10:07] FAStre commented on #113
issue is not stale, last commit is https://github.com/AoTTG-2/AoTTG-2/pull/340/commits/3746789b746b4e42706b5093e505c2a75a9bd6b4

[2021-01-27 19:00] Prolonpo commented on #398
From @IRI, this should also apply for Player Titans

https://discord.com/channels/681641241125060652/683376807101071489/798272149315780618

[2021-01-27 19:02] Prolonpo commented on #310
From @Stiffy, aberrants should be able to perform a horizontal dolphin dive to catch players.

https://discord.com/channels/681641241125060652/683376807101071489/797912383736512595

[2021-01-27 19:22] Prolonpo commented on #392
https://github.com/AoTTG-2/AoTTG-2/issues/392#issuecomment-750824879

Regarding this,

Mission 1: the titans attacking the civilians could be shot by nearby cannons which would stun them and give the players a better chance at killing them.

Also, a Prologue mission could get introduced for players requiring a more comprehensive tutorial (the option will appear when entering the Story Mode)

- Pla

[2021-01-27 19:29] Prolonpo opened #491 "[PROPOSAL] New Graphics: Cel Shading and Toon Outlines"
**How will this enhancement improve the game?**
Idea from @Motsu (https://discord.com/channels/681641241125060652/683376785659789342/797590264902451201)

This enhancement would allow more types of graphics to enhance AoTTG2's immersion level - similar to Breath of the Wild artstyle (?)

**Describe the solution you'd like**
Introduce Cel Shading and/or Toon Outlines

**Contributor instructions** (D

[2021-01-27 20:01] Acros5542 opened #492 "[PROPOSAL] Thunder Spears"
Disclaimer: The various aspects of this proposal are not set in stone, and I am open to other suggestions or ideas regarding it. Personally I believe it will not be possible to finalize any ideas until they have been tested in-game, as how we expect something to function and how it actually will be used when playing optimally can sometimes be very different things. Regardless, hopefully this propo

[2021-01-27 22:52] Lithrun opened #493 "DocFX setup"
**How will this feature improve the game?**
DocFX allows us to generate documentation based on classes defined in .csproj files. Additionally it will display them in a MSDN-style on a Github page. An example can be found at: https://lithrun.github.io/AoTTG-3/api/Assets.Scripts.Characters.Titan.html

**Describe the solution you'd like**
DocFX which is integrated with the Continuous Integration

[2021-01-27 23:49] #493 closed, assigned to Lithrun

[2021-01-28 22:38] Prolonpo opened #496 "[PROPOSAL] Research Tree"
**How will this feature improve the game?**
By introducing a research tree, players would be able to have a sense of progression in AoTTG2.

Summary: players should be able to partake in missions with a certain objective in order to unlock special technologies/weaponries that are unique to AoTTG2 (such as a light cannon used to pierce titans)
• Capturing titans would allow to unlock weaponry to fi

[2021-01-29 22:21] Prolonpo opened #497 "[PROPOSAL] Ground shaking/rumbling, Camera and Screen shake when Titans are near"
**How will this enhancement improve the game?**
This will add another layer of immersion to the players.

Idea by @Katsu, https://discord.com/channels/681641241125060652/681647375336341522/804449839566815234

**Describe the solution you'd like**
The ground will rumble/shake and the player's camera (screen) will also shake when titans are stomping near their character's position.

**Contributor ins

[2021-01-30 21:24] Prolonpo commented on #114
From @antigasp, items which are very heavy and that would reduce a player's flying speed should reduce a player's ACL (acceleration) points to a certain level.

For example, carrying resupply gears would reduce all characters' ACL to 100 regardless of whether the player has ACL of 125 or Levi's ACL.

This can lead to the creation of characters that can be considered pack mules - slow generally, bu

[2021-01-30 22:04] Prolonpo commented on #413
From @Kamui,
"When Titan Shifters emerge from their Titan they have Titan marks that fade away over a period of time (like 10-30 seconds). Each Titan shifter will have their own respective marks like Eren, Annie, and etc. Also you could customize them like you would a skin and make the Titan marks permanent when you’re playing or control how long they are there for. You can also put them on even w

[2021-01-31 00:27] Acros5542 opened #498 "[BUG] Utgard Castle respawn points on Capture gamemode"
**Describe the bug**
Related to #369, here's a list of the checkpoints on Utgard Castle where the respawn point should be readjusted to prevent the player from falling out of bounds when spawning. Do note, when you respawn on these checkpoints, you don't always respawn in the exact same spot, but small area on and around the checkpoint, meaning you may not always fall out of bounds. Additionally,

[2021-01-31 00:37] Acros5542 opened #499 "[BUG] Refill stations on Utgard Castle's Capture gamemode do not spawn when a checkpoint is captured"
**Describe the bug**
On Utgard Castle's Capture gamemode, the refill stations that are supposed to spawn on each captured checkpoint do not spawn. Additionally, when the game is started, three checkpoints (1, 9, and 10) will have refill stations within them, but if this checkpoint is captured by the Titans then recaptured by Humanity, the refill station will not respawn.

**To Reproduce**
1. Go to

[2021-01-31 00:48] Acros5542 opened #500 "[BUG] Gas and blade UI elements persist across lobbies."
**Describe the bug**
The UI element displaying your remaining amount of gas and blades persists across lobbies; however, as soon as the game is given new data on your current gas and blades, this will replace the old display. This largely is noticeable if you are on less than 100% game and blades, leave your current game, and then join a new lobby and immediately spawn in as a Player Titan. Since

[2021-01-31 01:19] Acros5542 opened #501 "[BUG] Minimap no longer displaying the ground after reaching a certain height"
**Describe the bug**
Possibly related to #429, or could at least be fixed at the same time. Basically, when the minimap adjusts its display of the map, it factors in the player/camera height; however, if you go too high on some maps, the minimaps display of the map un-renders the map and turns entirely black.

**To Reproduce**
1. Go to City (probably the easiest map to do it on)
2. Launch yourself

[2021-01-31 01:31] Acros5542 opened #502 "[BUG] You're able to spawn as a Player Titan on any map"
**Describe the bug**
Currently there is no limitation to what maps you are allowed to spawn as a player titan on. Less of a bug than something worth fixing before release since it doesn't make sense on certain maps such as Racing Akina, and can even be problematic on maps meant for Human vs Human PvP such as Cave Fight or House Fight.

**To Reproduce**
1. Go to any map
2. Press 1
3. Try to spawn a

[2021-01-31 01:31] DaSquyd commented on #501
I'll fix this alongside #429

[2021-01-31 01:36] Acros5542 opened #503 "[BUG] The markers for Titans on the minimap don't update when the Titan is killed"
**Describe the bug**
This is a minor bug, as it exists in AoTTG1 as well, but on the minimap, the indicator for a Titan's location (the yellow circle) does not disappear immediately upon the titan dying, instead disappearing only once the Titan's model has disappeared. Only reason I'm reporting it is since the counter for remaining titans now updates immediately upon the titan dying rather than de

[2021-01-31 01:37] DaSquyd commented on #503
Might as well add this one too lol

[2021-01-31 01:45] Acros5542 opened #504 "[BUG] Error Message - Leaving City on Endless gamemode"
**Note**
This is part of a series of post about various error messages that can be given in the Developer Console while playing. Most of these seemingly do not have an impact on gameplay itself, but I am unsure if they are having any significant effect behind the scenes.

**Describe the bug**
When leaving City on the Endless gamemode, you are given a large number of "index out of range" errors.

*

[2021-01-31 01:51] Acros5542 opened #505 "[BUG] Error Message - Error when leaving City/Akina on Racing gamemode"
**Note**
This is part of a series of post about various error messages that can be given in the Developer Console while playing. Most of these seemingly do not have an impact on gameplay itself, but I am unsure if they are having any significant effect behind the scenes.

**Describe the bug**
When leaving City/Akina on the Racing gamemode, you are given two errors saying "cannot send message when

[2021-01-31 01:56] Acros5542 opened #506 "[BUG] Error Message - Starting games on City Infection"
**Note**
This is part of a series of post about various error messages that can be given in the Developer Console while playing. Most of these seemingly do not have an impact on gameplay itself, but I am unsure if they are having any significant effect behind the scenes.

**Describe the bug**
You are given a InvalidOperationException error when starting games on City Infection, and are given anoth

[2021-01-31 02:17] Acros5542 opened #507 "[BUG] Error Message - Leaving Trost Classic on the Trost gamemode"
**Note**
This is part of a series of post about various error messages that can be given in the Developer Console while playing. Most of these seemingly do not have an impact on gameplay itself, but I am unsure if they are having any significant effect behind the scenes.

**Describe the bug**
This one is very likely connected to the issue of receiving an error message when leaving the Colossal Tit

[2021-01-31 02:29] Acros5542 opened #508 "[BUG] Player Titans should not be able to spawn on House Fight, Cave Fight and Racing Akina"
**Note**
This is part of a series of post about various error messages that can be given in the Developer Console while playing. Most of these seemingly do not have an impact on gameplay itself, but I am unsure if they are having any significant effect behind the scenes.

**Describe the bug**
Related to #502 as this wouldn't be possible if it weren't for that issue, but if you attempt to spawn as

[2021-01-31 02:37] Acros5542 opened #509 "[BUG] Error Message - Restarting games on Capture gamemode"
**Note**
This is part of a series of post about various error messages that can be given in the Developer Console while playing. Most of these seemingly do not have an impact on gameplay itself, but I am unsure if they are having any significant effect behind the scenes.

**Describe the bug**
When restarting the game on any Capture gamemode (Outside the Walls, City, and Utgard Castle have this mod

[2021-01-31 03:15] Acros5542 opened #510 "[BUG] Error Message - Infinitely leaving Spectator Mode"
**Describe the bug**
This was mentioned in #381, but I feel it is appropriate to make a post here as a part of the series of error message related issues, as well as give more details. When dying in a multiplayer game, once you've pressed 1 a single time to open the respawn menu, you can press 1 again before respawning to receive a Null Reference error in the Developer Console and in the game's ch

[2021-01-31 03:43] Acros5542 opened #511 "[BUG] Minimap updates oddly when the player is moving in certain ways"
**Describe the bug**
The player indicator icon on the minimap updates oddly when the player is traveling at certain speeds/angles. This is especially noticeable when the player is travelling up/down at certain angles.

**To Reproduce**
1. Go to City or Forest
2. Swing around a pillar or tree with a fair amount of speed
3. Looking at the minimap and watch the yellow triangle indicating the player's

[2021-01-31 04:06] Acros5542 opened #512 "[BUG] Getting the horse to follow you across maps/gamemodes"
**Describe the bug**
If you go to Outside the Walls, then open the pause menu with escape and switch maps, the horse will follow you to other gamemodes once you've restarted the round.

**To Reproduce**
1. Go to Outside the Walls
2. Spawn in as a Human
3. Press escape
4. Click on Game Settings
5. Change the map to something else (not Trost)
6. Click change
7. Exit out of the menu and type /restart

[2021-01-31 04:34] Acros5542 opened #514 "[BUG] Switching maps to the Colossal Titan or Annie fight breaks the game"
**Describe the bug**
Trying to switch to the Colossal Titan or Annie fight using the map-switching function under Game Settings gives an "Invalid Operation Exception" error and a Null Reference error in the Developer Console, deletes the player from the screen, and leaves you in an unplayable state, even after using /restart. Switching to a different map/gamemode fixes this, or you can escape it b

[2021-01-31 04:51] Acros5542 opened #515 "[BUG] Switching maps while in a game doesn't give you the option to respawn as a Human or Titan"
**Describe the bug**
Less of a bug rather than an oversight, but when you switch maps while in a game using the option under Game Settings, upon restarting the game and spawning in on the new map, you are not given the option to choose whether you want to spawn as a Human or Titan. This can be problematic or make this feature obsolete depending on the scenario you're trying to use it in. For examp

[2021-01-31 06:00] Acros5542 opened #516 "[BUG] The queue for switching maps persist, even if you quit the game or already visit the map"
**Describe the bug**
The queue for switching maps/gamemodes without exiting back to the main menu persists even if you exit back to the main menu and create a new lobby, or if you already have loaded into the next map, exit it, and then create a new lobby on a different map.

**To Reproduce**
1. Go to any map
2. Press escape and go to Game Settings
3. Change the map to something else (not Colossal

[2021-01-31 18:59] Prolonpo opened #518 "Plants/foliage on maps & Animals"
**How will this feature improve the game?**
The forests, caves, river streams, and the environment of AoTTG2 should have their flora developed to bring the game to life.
No animals are planned at this time.

**Describe the solution you'd like**

- [x] Create a set of varied plants/bushes

- [ ] Implement them in the game/on the maps, randomly scattered on the grass.

Idea from @Seductive Basket
ht

[2021-01-31 19:05] Prolonpo opened #519 "[PROPOSAL] Kill Feed Colour Change depending on Damage Level"
**How will this enhancement improve the game?**
Idea from @Acros5542, https://discord.com/channels/681641241125060652/683376807101071489/800525319726956594

This will make the kill feed more interesting to look at with damages beyond 1000 being coloured differently based on certain damage brackets.

**Describe the solution you'd like**
Acros mentioned that damage shown in the kill feed should have

[2021-01-31 19:08] Prolonpo commented on #471
From @Larry The Guy, https://discord.com/channels/681641241125060652/683376807101071489/800352266526785596

Cutting titan's skin should also give a visual and sound effect upon cutting them. In addition, scars should appear on the skin until it gets healed.

Additional note regarding surfaces: these surfaces should have marks appear in them when cut by blades or shot by AHSS, guns, and/or cannons.

[2021-01-31 19:15] Prolonpo opened #520 "Sprite Models for Remaining Blades"
**How will this enhancement improve the game?**
@~L~, https://discord.com/channels/681641241125060652/683376807101071489/800617480501723186

This would show visually to all players the remaining numbers of blades left for each player.

**Describe the solution you'd like**
Multiple scabbards model should be made from full (4 blades present) to empty (0 blades present)

Blades will be showcased with

[2021-01-31 19:23] Prolonpo opened #521 "[PROPOSAL] Server Preset (Can Save a certain server configuration and load it up)"
**How will this enhancement improve the game?**
Idea from @~L~, https://discord.com/channels/681641241125060652/683376807101071489/800944443359887420

It will make setting up server much more efficient as one would not need to load a text file each time they wanted a custom map.

**Describe the solution you'd like**
From ~L~:

Where all you have to do is set up what Region and Server type you want

[2021-01-31 19:38] Prolonpo commented on #393
Idea from @~L~ that can complement #116, horses would have a hunger and water level to manage.

Question link: https://discord.com/channels/681641241125060652/683107211983323164/805194296419942493
Answer link: https://discord.com/channels/681641241125060652/683107211983323164/805519566734229594

Transcript of @~L~'s answer:
- For feed, i think it should be found in crates like cannon balls that ca

[2021-01-31 19:59] #489 closed, assigned to Lithrun

[2021-02-01 07:26] Acros5542 commented on #167
Since this is one of the most frequently noticed issues by new testers, I'm adding the bug label for the sake of simplicity when I reference this post.

[2021-02-01 07:47] Acros5542 opened #522 "[BUG] The icons for remaining blades on the HUD do not scale properly with resolution."
**Describe the bug**
When launching the game, what resolution setting you're on determines how spread out or close together the blade icons are on the HUD. This spacing for the icons will then persist even if you change the resolution while playing.

**To Reproduce**
1. Launch the game and go to any map
2. Spawn in as a human and notice the spacing of your blade icons on the HUD
2. Press escape an

[2021-02-01 09:18] Acros5542 opened #523 "[Enhancement] Some notes about the language in parts of the Alpha"
Here are some quick notes about the wording/spelling/capitalization used in parts of the current Alpha.

- On the main menu, "Single Player" should be written as "Singleplayer". Technically, the space is grammatically correct, but since multiplayer being written as one word is proper, it has become the norm to write singleplayer as one word in most games. See Minecraft's title screen for example.

[2021-02-01 09:30] Acros5542 opened #524 "[BUG] Upside down camera on the Original camera type."
**Describe the bug**
This is a known issue, but I noticed it doesn't have an official bug report yet so here it is. It is possible to flip your camera completely upside down on the Original camera type whilst tabbed out of the game. This is due to the fact the camera still moves even when the game is minimized or your cursor is outside of the game window.

**To Reproduce**
1. Go to any map and spa

[2021-02-01 09:44] Acros5542 commented on #229
I believe this should be closed now if I'm not mistaken.

[2021-02-01 14:11] Acros5542 opened #525 "[BUG] Breaking chat with Rich Text"
**Describe the bug**
Since chat was made to support Rich Text again, it's now possible to break it by typing incomplete tags in it. Additionally, bold and italics don't seem to be working.

**To Reproduce**
1. Go into any game and open the chat
2. Try the bold tag (<b> text </b>)
3. Try the italics tag (<i> text </i>)
4. Try an incomplete tag (can just send <b> by itself)

**Expected behavior**
In

[2021-02-02 09:18] atirutw opened #526 "[PROPOSAL] Upgrade to Universal Render Pipeline"
**How will this enhancement improve the game?**
This will bring many SRP features(shader graph, etc.), enhancement, and fixes the problems we are currently having with the deprecated built-in RP(flickering terrains, etc,)

**Describe the solution you'd like**
1. Install Universal Render Pipeline
2. Upgrade materials in the project to use the URP shaders
3. Port custom shaders to URP

**Describe al

[2021-02-02 16:47] atirutw opened #527 "[BUG] 3DMG-less tree climbing"
**Describe the bug**
When "wallrunning" up a tree, he player sticks to the tree instead of jumping away from the tree even though jumping animation played.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a game in the forest map
2. Run up any tree
3. Bug occurs, allowing the player to climb the tree without using 3DMG
4. ***Ultra Instinct theme starts playing***

**Expected behavior**

[2021-02-02 16:52] Rekperion commented on #352
The fix I have up resolves this when it goes through. Won't let me link this issue to my pull for some reason tho.
Edit: It let me link it now :)

[2021-02-02 17:26] Acros5542 commented on #527
This is also possible in AoTTG1, it's dependent on the shape of the model you're climbing. Might be worth fixing, but you can also infinitely wall climb any surface by quickly cancelling the jump with gas or a swing.

[2021-02-03 00:10] Acros5542 opened #528 "[BUG] Boulders getting stuck in Titans' hands."
**Describe the bug**
I think this is tied to #479, as at least I speculate the cause is a titan "going out of range" for the titan logic to function as it should whilst throwing a rock. The end result is the boulder doesn't clear from the titan's hand after he throws it, meaning it appears to be stuck on his arm during all his other animations. He can still perform all of his other animations norm

[2021-02-03 00:29] Acros5542 commented on #475
Reopening as I've discovered this doesn't only affect horses. What I believe is happening is the angle at which movement is occurring updates while paused, so if your horse is in air, normally you would come back down in an arc as your momentum continues to move you forwards, but gravity continually pulls you downwards. However, if you pause the game, the game continues to calculate what angle thi

[2021-02-03 01:20] merinobruno opened #529 "[BUG]Horse stuck in a loop trying to follow the player"
**Describe the bug**
When you get far away from the horse, it'll rush towards you. When it gets to your position, the inertia will make him go far away from you and it'll rush again towards you in a loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Outside the Walls'
2. Get far away from the horse
3. Scroll down to 'Wait for the horse to get to your position'
4. See the problem

*

[2021-02-03 01:32] Toorah commented on #450
This is now separated as its own github (mainly because I want to make them generally available)
https://github.com/Toorah/com.toorah-games.variableobjects
https://github.com/Toorah/com.toorah-games.variableui

this is my lastest development and may either completely make the previous attempts obsolete or may go nicely together:
https://github.com/Toorah/com.toorah-games.mirrorui

[2021-02-03 07:26] #420 closed, assigned to nobody

[2021-02-03 07:26] #332 closed, assigned to nobody

[2021-02-03 07:28] KoroSensei0320 commented on #67
Everything besides hair/hair textures is complete.

[2021-02-03 07:29] #91 closed

[2021-02-03 07:31] KoroSensei0320 commented on #299
Textures are being worked on by IRI.
Adding myself to the task to remove it from open tasks.

[2021-02-03 16:19] atirutw opened #530 "[BUG] Abnormally high jumping in Utgard when on the castle"
**Describe the bug**
The jump height in Utgard when jumping on the castle tower and some other parts are at least 6 times the normal jump height.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a game in the Utgard map
2. Jump on the castle(the spawn tower is 100% effected)

**Expected behavior**
Jump height should be the same as in other maps

**Screenshots**
![image](https://user-ima

[2021-02-03 16:54] atirutw commented on #530
I decided to do some more investigation about this and it seem something is really wrong with the castle's collider. Some part of the castle model makes you jump really high.

[2021-02-03 17:11] Lithrun commented on #508
The Player Titan setting should be disabled on this map inside the LevelBuilder. Please also move the LevelBuilder into a namespace.

Apply the same to the Cave Fight map.

[2021-02-03 17:16] Lithrun commented on #229
Resolved as per https://github.com/AoTTG-2/AoTTG-2-Photon-Server/issues/6

[2021-02-03 17:16] #229 closed, assigned to Mi-Sad

[2021-02-03 17:31] Lithrun commented on #488
Please make the bug more descriptive, as there isn't much we can do with this

[2021-02-03 17:35] Lithrun commented on #502
Duplicate of #508. Closing this one and adding Akina as an extra exclusion.

[2021-02-03 17:35] #502 closed, assigned to nobody

[2021-02-03 17:36] Lithrun commented on #508
As per title, also include this for Akina.

[2021-02-03 17:37] Lithrun commented on #529
Horse's aren't implemented yet. #116 do assure however to keep above in consideration.

[2021-02-03 17:37] #529 closed, assigned to nobody

[2021-02-03 17:40] Lithrun commented on #453
This has been known for a while. On hold until #33

[2021-02-03 19:06] Acros5542 commented on #530
Wonder if this helps explain #488
Also this has been a known issue since the map was implemented, no harm in giving it a report though

[2021-02-03 21:33] Prolonpo commented on #485
Some discussion regarding this topic: https://discord.com/channels/681641241125060652/683107211983323164/806203923013697566
and
https://discord.com/channels/681641241125060652/683107211983323164/806205083707899935

[2021-02-04 02:11] desu7 opened #532 "[BUG]Outside the Walls inaccuracies"
**Describe the bug**
The "Outside the Walls" map looks really odd, there's more hills than usual and the map geometry looks less smooth and more bumpy overall, the path texture is also incorrect, as it should be a rock texture. Even zones that are flat have small hills. This happens specially after the 4th checkpoint, and as a result of that weird geometry, the gas supplies in the 6th, 7th and 8th

[2021-02-04 02:21] desu7 opened #533 "[BUG]Outside the Wall's minimap can't display high mountains."
**Describe the bug**
Outside the Wall's minimap displays everything correctly, except for mountains that have a high height. This doesn't depend on the player's position, since it won't display those high mountains anyway, and it doesn't affect the whole minimap, therefore I'm sure the bug isn't related to #501.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Single player or Multiplay

[2021-02-04 04:01] atirutw commented on #530
I guess this is what happens when you make a big mesh in one piece instead of multiple pieces.

Oh right. Speaking of meshes, I noticed z-fighting on some parts of the castle. Could this be related?

[2021-02-04 04:08] atirutw commented on #533
This definitely have the same cause as #501.
The way that most minimaps work is that you make a camera that look down from above the player and render it to the minimap.

This easily explains why it can't render stuff that are too high relative to the player because the camera height might be something along the line of `player height + a fixed number` and cameras have this thing called "far clip"

[2021-02-04 04:35] atirutw commented on #533
Update: this seems to already be fixed in branch #340. Not sure about other branches.

[2021-02-04 07:44] merinobruno commented on #533
Same thing with the walls in The City

[2021-02-04 07:54] merinobruno commented on #512
It also keeps respawning in the following rounds

[2021-02-04 08:04] atirutw commented on #533
I asked DaSquyd to increase the camera height for that one. He'll probably fix it soon.

[2021-02-04 08:11] DaSquyd commented on #533
@WattanaGaming can you possibly get me the exact height of those hills (or actually the highest possible hills)? This may have already been fixed, but I can go in and modify #513 to make sure the max height of terrain is within camera culling.

[2021-02-04 08:13] atirutw commented on #533
~~Since the minimap is now following the player's Y axis, this issue is fixed. The only remaining issue is the camera's far clip. Check my comment in PR #513~~

I didn't check out the actual branch for it, sorry for the confusion.

[2021-02-04 10:52] desu7 commented on #533
I'm using build 429 for that, which is supossed to fix #501, I'm sure the issue doesn't have anything to do with #501, since I went to the highest point possible, which is much higher than any of the mountains in the map and the minimap was still being displayed and if that is the issue, then the whole minimap would turn entirely black, not just some sections.
![otwminimap2](https://user-images.gi

[2021-02-04 10:56] atirutw commented on #533
@DaSquyd what do you think about this? I think it's a good idea because we don't have to keep adjusting the camera height for new maps if we just make it adapt.

[2021-02-04 11:31] Lithrun commented on #532
This isn't classified as a bug. Outside the Walls isn't identical to its AoTTG counter part as the terrain couldn't be exported. Mapping team has already been informed of this. Will create a new issue as there isn't one yet for some reason.

[2021-02-04 11:31] #532 closed, assigned to nobody

[2021-02-04 11:35] Lithrun opened #535 "Outside the Walls Terrain"
**How will this enhancement improve the game?**
When decompiling AoTTG, and exporting its assets, we were unable to retrieve terrain data. Currently there is a placeholder terrain, so the map is at least working. The @AoTTG-2/mapping-team will modify the terrain to be as close to AoTTG Outside the Walls as possible.

**Describe the solution you'd like**
The new terrain of the Outside the Walls map

[2021-02-04 14:53] PoleDark opened #536 "Revamp User Interface"
**How will this enhancement improve the game?**
A nice change of pace would be nice for the second version of the game, thus a completely new UI must be made. This will bring in a fresh look for players and will distinguish this game from being "just another mod with reskinned UI".

- [x] Main Menu
- [x] Single Player Lobby
- [x] Multiplayer Lobby
- [x] Character Customization
- [ ] Map Editor
- [

[2021-02-04 14:57] FAStre commented on #536
#290 also relevant, perhaps a good idea to do both in one swoop.

[2021-02-04 14:59] PoleDark commented on #536
Some W.I.P for the past week
![select_a_map](https://user-images.githubusercontent.com/63149678/106910714-76935d80-673c-11eb-89cd-5231c4c3d3fc.png)
![unknown](https://user-images.githubusercontent.com/63149678/106910730-798e4e00-673c-11eb-9ef5-16a550263b8b.png)
![ui-Recovered copy](https://user-images.githubusercontent.com/63149678/106910738-7b581180-673c-11eb-9c98-538cec54f5f1.jpg)
![Untitled](ht

[2021-02-04 15:12] PoleDark commented on #458
![Uploading ThunderSpearInfo.png…]()

[2021-02-04 15:13] PoleDark commented on #458
It's not a proposal anymore ;) Here are some wip, there's more to come
![asd](https://user-images.githubusercontent.com/63149678/106913220-ba876200-673e-11eb-81d5-1ae2760c74c6.png)
![ThunderSpearInfo](https://user-images.githubusercontent.com/63149678/106912989-8613a600-673e-11eb-995d-4542542bfc32.png)

[2021-02-04 15:21] PoleDark commented on #518
Caves and rivers most probably will be the work of the Map itself. We can get more plants with simple scatterer. I don't know about animals though.

[2021-02-04 15:27] PoleDark commented on #476
I guess this is one of the things that players are supposed to fix for themselves. Adding this would be too much babysitting. AoTTG is known for its non-restrictive gameplay. Adding flight assist mechanism would make it the same as existing aottg games where you dont need much skill.

[2021-02-04 15:37] #70 closed

[2021-02-04 15:38] Toorah commented on #476
Just to make sure you understood the system correctly:

It does not do what the other AoT games do or the Spiderman games. You still need to aim yourself and pretty much play as before. All this does is be less strict about aiming. If your target is only 1 pixel big and you aim at the pixel next to it, usually you would miss, this proposal would allow you to hit still.

This is not meant for every

[2021-02-04 15:38] #287 closed, assigned to PoleDark

[2021-02-04 15:54] PoleDark opened #537 "Revamp In-Game HUD"
**How will this enhancement improve the game?**
A fresh look  will give the game an entirely new feel for it and truly setting it apart from the first game.

**Describe the solution you'd like**
An optimized HUD that has contains the same info as the first game, however intends to have major layout changes that will fit with the new UI designs.

**Describe alternatives you've considered**
n/a

**A

[2021-02-04 15:57] PoleDark commented on #476
We can give it a try. ~~Maybe have a server setting in which they can turn off easy mode for the entire server.~~  Racing communities have maps that has an intended pixel wide pillars to challenge aim.

[2021-02-04 16:03] Toorah commented on #476
That is the idea.
This feature is meant for people with accessibility issues or people who aren't used to playing games a lot but want to try anyway.

Competitive and pro players shouldn't use this, at least it's not intended for them

[2021-02-04 16:08] gisketch commented on #476
I actually like this idea, I have a friend who's just not good with games and is having trouble with the mechanics. He loves the game but can't get good at it. This could help those people.

[2021-02-04 16:17] atirutw commented on #458
It doesn't fit with the game's art style but I love this so much. Maybe we can have an art style upgrade issue to go along with this? 🤔

This is very pog btw

[2021-02-04 16:19] gisketch commented on #458
There is a proposal that maybe we can put a "Press any key to continue" after the loading incase people might wanna read the screens.

[2021-02-04 16:26] Prolonpo commented on #443
From @Dakros,

https://discord.com/channels/681641241125060652/683376807101071489/802967193427247104

[2021-02-04 16:29] Prolonpo commented on #413
From @Katsu

https://discord.com/channels/681641241125060652/683376807101071489/802996867163619359

[2021-02-04 16:30] Prolonpo commented on #428
Additional information from @Katsu

https://discord.com/channels/681641241125060652/683376807101071489/802996867163619359

[2021-02-04 16:31] Prolonpo commented on #444
From @Katsu

https://discord.com/channels/681641241125060652/683376807101071489/802996867163619359

[2021-02-04 16:44] Prolonpo opened #538 "[PROPOSAL] Amputation threshold"
**How will this enhancement improve the game?**
I have seen this pop up multiple time in the ideas channel, so I thought it would be a good idea to summarize some general points brought by many individuals.

This will improve the game by making each titan kill more unique due to the different level of damage that would cause different level of amputation.

In addition, this could also affect how l

[2021-02-04 16:45] Prolonpo commented on #112
Likely already covered, but just leaving here for bookkeeping purposes: weather should be dynamic and evolve

From @Budeco, https://discord.com/channels/681641241125060652/683376807101071489/805449323185176646

[2021-02-04 16:52] Prolonpo commented on #394
From @Kittums,

Or at least make their despawn timer longer so that the carnage is more present

https://discord.com/channels/681641241125060652/683376807101071489/806237131517067274

[2021-02-04 17:04] Acros5542 commented on #453
Yeah I'm aware it's been known, even mentioned it at the start of the post, but the original issue had far less detail in the specifics of the issue as well as some misunderstandings, so I'd still leave this one up.

[2021-02-04 19:44] Lithrun commented on #537
So, in terms of UX:

- [x] HUD elements should be able to get re-positioned, re-scaled, enabled or disabled by players
- [x] TextMeshPro for any UI Text
- [x] ChatBox (Bottom right),
- [x] Level Information (Top right)
- [x] Gamemode state (Top)
- [x] Player List (Top left).
- [x] Leaderboard #80. This does include Level Information and the Player list
- [x] Minimap (Bottom left),
- [x] Player sta

[2021-02-04 20:00] merinobruno commented on #533
The tallest hill in Outside the Walls is Y = 600 approx

[2021-02-05 02:56] PoleDark commented on #458
With the new UI designs it should fit the artstyle

[2021-02-05 04:11] Acros5542 commented on #502
Technically I reported these separately as this was the issue for being able to spawn as a Titan on any map, and #508 was just pertaining to the error message given when spawning as a Titan on a map that didn't have the room/proper spawn regions for it. But since there's no other places besides House Fight that has this problem currently, it's not a big deal to just make #508 the issue for being a

[2021-02-05 04:50] gisketch commented on #537
Possible additions:

- [ ] New damage popup font and animation
- [x] Blood smear on the edges of the screen when you kill a titan (could only be activated when you get high damage)

[2021-02-05 05:03] Acros5542 commented on #532
For future reference, any known issues like this should also be reported to the testing team so time isn't wasted reporting things that are already known.

[2021-02-05 05:07] Acros5542 commented on #538
I would make this not solely tied to damage but factor in titan size as well

[2021-02-05 05:10] Acros5542 commented on #537
Having a separate console for commands and the kill feed as opposed to displaying it all in the chat is something that's become popular in more recent mods such as Anarchy and would be a welcome addition to AoTTG2 in my opinion. Without it you're pretty much constantly having to toggle on and off the kill feed when you're switching from doing solo-runs to playing online, as it makes the chat prett

[2021-02-05 05:12] gisketch commented on #537
#318 has some cool enhancements we can add

[2021-02-05 05:24] Acros5542 commented on #488
@Lithrun This was more of a joke post as it was a one time occurrence I've never been able to replicate. The attached video at least _shows_ the issue, but I couldn't give any details on why it happens or how to replicate it beyond trying to mimic what's seen in the video.

[2021-02-05 05:37] gisketch commented on #488
[https://youtu.be/8umVkw9dpB8](https://youtu.be/8umVkw9dpB8) a clip of probably the same issue replicated by pure coincidence.

[2021-02-05 05:39] Acros5542 commented on #488
Actually, now that we have an additional clip of this issue courtesy of @gisketch , some analysis can be done. Some things worth noting that appear in both clips is a blade swing prior to contacting the surface, and a rather large change in y-axis location prior to and at the time of the collision. I had previously thought it may be caused by somehow confusing the game's physics engine to push you

[2021-02-05 05:43] gisketch opened #539 "Blood Smear on the Players When You Deal Damage"
**How will this feature improve the game?**
- It would make the game more immersive since it's really logical to have blood smeared on you same with the anime. Also, some smokes too would be nice.

**Describe the solution you'd like**
- Slap a blood texture on the base texture so that it can work with all skins. In short, decals.

**Describe alternatives you've considered**
 - Swap the textures wi

[2021-02-05 05:52] Acros5542 commented on #488
Managed to recreate it using this information. When you hook something above you and swing up towards it, your character leans backwards so their body is pointed upwards, then as you become parallel with your hooks, your character snaps to facing forwards once again, and equally if you're moving downwards towards your hooks you will angle downwards then snap. It seems if you're charging your blade

[2021-02-05 06:59] Acros5542 opened #540 "[BUG] Ghost hook after using Petra's skill"
**Describe the bug**
If you fire a hook immediately after using Petra's skill directly into a surface, it will completely phase through the surface and then disappear a moment later. For this to happen the hook has to quickly reach the surface after the end of Petra's skill, so you must already be close to something to account for the hook's travel time. This is easiest to replicate if you simply

[2021-02-05 07:04] Acros5542 commented on #488
Further update: The actual interaction of holding your blades while hooked to a wall and passing slightly above or below that hook causing you to clip partially into the wall exists in AoTTG1 as well, but in AoTTG1, it is not possible to fully clip into the wall, as the collision system seems to update quicker and push you back out regardless of how far you can clip inside.
So long as #453 being f

[2021-02-05 07:31] Lithrun commented on #373
CI has been deprecated and should be upgraded to the new: https://github.com/game-ci/docker. Once that's setup, we can use 2020.2.X

[2021-02-05 08:00] atirutw commented on #533
That's the exact height not approx lol

[2021-02-05 10:51] PoleDark commented on #539
![image](https://user-images.githubusercontent.com/63149678/107024458-0a1f6980-67e3-11eb-9070-c00361cc297a.png)

[2021-02-05 19:43] #389 closed, assigned to mash8

[2021-02-05 19:50] #349 closed, assigned to 8veStory

[2021-02-05 20:13] #196 closed, assigned to 8veStory

[2021-02-05 20:42] #382 closed, assigned to 8veStory

[2021-02-05 20:42] #435 closed, assigned to 8veStory

[2021-02-05 20:42] #464 closed, assigned to 8veStory

[2021-02-06 06:12] gisketch commented on #537
#167 will be fixed along with this issue.

"The kill feed is tied to the screen height, different resolutions can have the kill feed in the middle of their screen. It should be anchored to the top of the screen"

[2021-02-06 06:22] nolanrdavenport opened #544 "[BUG] Aberrants are unable to attack players while they're next to a wall."
**Describe the bug**
If you stand next to a wall, Aberrants are unable to jump on the player and they just keep readjusting. This was found on a multiplayer server.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a multiplayer server.
2. Find one of the Aberrants that would belly flop on top of you.
3. Bring it to the wall and stand ~5 meters away.
4. Let it walk up to you.

**Expected

[2021-02-06 11:16] gisketch commented on #522
Will fix this along with issue #537

[2021-02-06 21:05] Acros5542 commented on #544
Tied to broken Titan AI, as all Titans currently don't have all their animations/attacks implemented, so there are several situations where the Titan simply just can't hit you

[2021-02-06 23:00] nolanrdavenport commented on #205
What I noticed is that whenever you grapple in the direction of your characters velocity, then the pitch gets lower, but if you grapple in a direction opposite to your characters velocity, then the pitch becomes higher. This seems to happen both with AOTTG and AOTTG2. The effect seems to be greater on AOTTG2 meaning it is more noticeable.

[2021-02-06 23:53] nolanrdavenport commented on #205
It turns out that the reason the grappling hook was so distorted was because it had a doppler effect. I just lowered the doppler level from 1 to 0.25 and now it sounds much better at higher speeds.

[2021-02-06 23:59] nolanrdavenport commented on #205
I also did the same with the slash because it also distorts at higher speeds.

[2021-02-07 03:27] hetperfair commented on #518
eu acho que ter animais no jogo, daria mais conteudo, e até mesmo adicionar easter egg

[2021-02-07 03:28] hetperfair commented on #518
ovo de páscoa = coisas escondidas etc

[2021-02-07 03:36] nolanrdavenport commented on #537
Fixed the scaling issue with the kill feed.

[2021-02-07 14:09] atirutw commented on #518
Translation: I think that having animals in the game would give more content, and even add Easter egg

----

Translation: easter egg = hidden things etc

[2021-02-07 14:10] atirutw commented on #518
@hetperfair Se importa se eu pedir para você usar o inglês aqui?

[2021-02-07 14:37] hetperfair commented on #518
@WattanaGaming I don't care and I'm sorry if I made too many English mistakes

[2021-02-07 14:38] hetperfair commented on #518
I think having animals in the game adds more content and would even put Easter eggs

[2021-02-08 01:18] nolanrdavenport opened #546 "[BUG] Hook still makes sound when the gas is empty"
**Describe the bug**
Whenever your gas is empty and you try to use the hook, the hook doesn't work but you still hear the sound of the hook.

**To Reproduce**
1. Start a game.
2. Fly around while bursting to lower your gas quickly.
3. Once empty, try to use your grappling hooks.

**Expected behavior**
When you do this, you hear the same grappling sound as if the gas wasn't empty. It should either

[2021-02-08 03:11] nolanrdavenport commented on #546
I fixed the issue and created a method for dealing with the hook sound.

[2021-02-08 03:32] Prolonpo commented on #325
Precision brought by @Acros5542, the obstacle dodging skill should have a small startup time https://discord.com/channels/681641241125060652/683107211983323164/808177718151479296

But it looks like that overall, it wouldn't make sense as it is debatable if it is even possible to jump off a platform at high speeds...

[2021-02-08 03:44] nolanrdavenport commented on #546
I merged this branch with #205 because they both deal with hook sound issues.

[2021-02-08 03:44] #546 closed, assigned to nolanrdavenport

[2021-02-08 21:55] #525 closed, assigned to Toorah

[2021-02-09 07:29] Acros5542 commented on #453
Attaching more information per a conversation with KSHZ about this issue.

Here is a diagram roughly explaining how the trajectory after collision is the same, just the speed retained is different.
![demo collision](https://user-images.githubusercontent.com/75679898/107328576-ee36f480-6a7c-11eb-8361-0591242ed2c2.png)

As well as another explanation I gave of how speed-retention works, should be qu

[2021-02-09 13:53] PoleDark commented on #537
Some of the HUD WIPS

![Final Design HUD Rectangular Map](https://user-images.githubusercontent.com/63149678/107373030-0b250380-6b21-11eb-8da8-60318c5b0ca8.jpg)
![Final Design HUD](https://user-images.githubusercontent.com/63149678/107373053-10824e00-6b21-11eb-9b66-3d73347f0ae6.jpg)
![Final_Design_HUD_Pop_Up_Leaderboards](https://user-images.githubusercontent.com/63149678/107373143-2728a500-6b21-1

[2021-02-09 13:56] PoleDark opened #549 "Map Zones"
**How will this enhancement improve the game?**
This will improve callouts during collaborative and competitive gameplay. Furthermore, it will be helpful for the bigger maps we are about to introduce

**Describe the solution you'd like**
Basically we need to set zones in the map which will appear below the map similar to fps games.

**Describe alternatives you've considered**
n/a

**Additional con

[2021-02-09 21:45] Rekperion commented on #462
I swear it not stale. Just waiting for review. My PR fixes this issue as well as #352

[2021-02-09 21:52] Lithrun commented on #462
Will schedule the review for tomorrow 👍

[2021-02-10 18:28] Alex-Mod-Bot152 commented on #333
Idea by @Freddy

Reference post <https://discord.com/channels/681641241125060652/683376785659789342/808992881288544276>

Memorial stone in City or OtW showcasing "caualties" but in reality they would be people who worked on the Project

[2021-02-11 04:05] play-k commented on #333
how tf does github work???????

[2021-02-11 15:30] Prolonpo opened #550 "[PROPOSAL] Titans' ability to track players, predict their flight, and attempt to grab/slap them mid-air"
**How will this feature improve the game?**
This would make the fight against titans more dynamic as they would also have the ability to actively track and predict where the player will go/fly next.

Idea by @sad gru, with some discussion with @Prolonpo
Start of discussion: https://discord.com/channels/681641241125060652/683107211983323164/808863549178118174

**Describe the solution you'd like**
A

[2021-02-11 22:35] atirutw commented on #550
I upvote this but i dont think the titans can be canonically smart enough to predict anything

[2021-02-11 22:40] Lithrun commented on #550
This might be the same as the confirmed "aimed titan attacks" we have discussed before. Once the new Titan Models are there, we can use IK to achieve this. For these aimed attacks, the titan will predict where they exactly need to aim their attacks towards. How accurate this is, would depend on your settings.

[2021-02-12 15:56] #429 closed, assigned to DaSquyd

[2021-02-12 15:56] #501 closed, assigned to DaSquyd

[2021-02-12 15:56] #503 closed, assigned to DaSquyd

[2021-02-12 15:56] #511 closed, assigned to DaSquyd

[2021-02-12 17:36] Lithrun opened #552 "Unity PlayMode & EditMode Tests Setup"
**How will this enhancement improve the game?**
Sometimes references magically disappear from a Prefab if a change occurs, without being able to see this in the version control. So, having some tests which do assure that those are present would save a lot of headaches and manual testing.

**Describe the solution you'd like**
- [ ] EditMode tests for Titan Prefab references
- [ ] Check if FluentAss

[2021-02-12 17:38] play-k commented on #552
unga bunga me dont know what the fuck does this mean

[2021-02-12 17:44] Lithrun commented on #552
Please don't write nonsense on issues or your permissions will get revoked.

[2021-02-12 17:45] play-k commented on #552
ok, isnt it weird how they allow random people to write?? i thought devs or testers could write

[2021-02-13 16:15] Prolonpo opened #554 "[PROPOSAL] The ability to give other players a limited set of MC privilege (Co-hosting)"
**How will this feature improve the game?**
Idea by @pixelz, the ability to give another player a set of MC privilege which will help to run the server better.

Link: https://discord.com/channels/681641241125060652/683107211983323164/809583445931589642

**Describe the solution you'd like**
The ability to either use a command or (preferably) have a button within the player's menu that will allow th

[2021-02-13 16:33] Prolonpo commented on #325
From @Mollymawk, https://discord.com/channels/681641241125060652/681647375336341522/805188789316223057

@Double Scar zukko aottg2 bot can also be semi-credited with this idea - however the explanation they provided was extremely poor and not explicit at all (link to proposal: https://discord.com/channels/681641241125060652/681647375336341522/698062377282830336 // link to a poorly drawn visual aid:

[2021-02-13 16:35] Prolonpo commented on #412
Additional detail from @damian the elite

https://discord.com/channels/681641241125060652/681647375336341522/805249869505626133

with this you can grab an smaller titan than you(3 or 5 meter class)
• if yours titan is big enought it will grab it with one or two hand
• if yours titan is too small it will just carry the titan on is head comically

you can launch the titan there yours wish using it a

[2021-02-13 16:38] Prolonpo opened #555 "[PROPOSAL] New Player Titan Skills (PLEASE CHECK THE COMMENT AT THE START OF THIS ISSUE)"
**Update after the 4th proposal meeting (summary of accepted, postponed and rejected attack pattern)**

https://github.com/AoTTG-2/AoTTG-2/issues/555#issuecomment-889389259

**How will this feature improve the game?**
Idea from @damian the elite, additional player titans skills which would help to make PvP between human players and titan players more fun.

https://discord.com/channels/681641241125

[2021-02-13 23:23] nolanrdavenport commented on #537
Bugs to fix introduced by @Acros5542

- [x] The default alignment of the HUD seems to be off depending on your resolution, mainly with the 3 items along the top.
- [x] If you have two monitors you can move HUD icons off the screen by dragging your cursor to your other monitor
- [x] The leaderboard doesn’t live update when holding tab, you have to let go of tab then press it again
- [x] You can’t s

[2021-02-14 12:54] gisketch commented on #537
Apparently this issue occurs on the current development branch, so we did not cause this issue.

[2021-02-14 13:51] gisketch commented on #537
Fixed issue from #367

[2021-02-14 20:18] atirutw opened #556 "[PROPOSAL] Logarithmic falloff for sound effects(hook sound, titan stomping, etc.)"
**How will this enhancement improve the game?**
This will make the audio aspect more realistic.

**Describe the solution you'd like**
Change the settings of audio sources to use a logarithmic falloff instead of a custom falloff

**Contributor instructions** (Do not modify)
1. Determine if the enhancement is compatible with existing features
2. If the idea is denied, please provide a reason and clo

[2021-02-15 16:08] Acros5542 opened #558 "[BUG] Hook firing sound effect still plays even with no gas"
**Describe the bug**
This is an issue that exists in AoTTG1 as well, but if you try to fire a hook with no gas, the sound effect for the hook will still play even though firing hooks is only possible with gas.

**To Reproduce**
1. Run out of gas
2. Try to fire a hook
3. Listen for the hook-firing sound effect

**Contributor instructions**
1. Try to recreate the bug via the reported reproduction st

[2021-02-15 19:42] Acros5542 commented on #453
Aware this is on hold until other stuff is finished, but since this issue is the source of so many other bugs and causing issues with gameplay in general, I'm giving it high priority so it's fixed as soon as it can be.

[2021-02-15 21:05] Acros5542 opened #559 "[BUG] Issue with Petra's (and Levi's) skill when you have no gas."
**Describe the bug**
This is a carry-over bug from AoTTG1, but basically, when you use Petra or Levi's skill, a hook is fired as part of the special. Since hooks can only be fired with gas, using these specials without any gas causes an odd effect - the game actually remembers the last location you had gas at, and in some way assumes that is where your hooks are or something of the sort. The end r

[2021-02-15 21:08] Acros5542 commented on #559
Low priority since it's incredibly situational and exists in AoTTG1.

[2021-02-15 21:10] Lithrun commented on #453
It's still on hold until the refactoring is done, so not much we can do for the High Priority.

[2021-02-15 22:40] desu7 commented on #555
Oh well since you made a proposal this are other cool abilities I thought of:

·ROCK THROWING: Cooldown 10 seconds
Your Titan grabs a rock from the ground and he's able to choose the direction to fire it, similar to cannons in RC. Really useful for players who are stalling on houses, trees and even on top of walls. Wastes 20% stamina.

·NAPE HARDENING: Cooldown 45 seconds
Your Titan hardens his ne

[2021-02-16 21:10] Acros5542 opened #561 "[BUG] You can create multiplayer servers with names longer than can be displayed in the server selection screen."
**Describe the bug**
Currently, the length limit for how many characters can be used as a server name is 16,382... for whatever reason. However, this server name is too long to be displayed on the Multiplayer/server selection menu, instead repeatedly giving anyone who goes to this page "ArgumentException: Mesh can not have more than 65000 vertices" errors in the Developer Console.

**To Reproduce*

[2021-02-16 22:18] Lithrun commented on #561
This rather sounds like input validation which is a feature not implemented yet. Server side validation only works for legacy mode, so again, an unimplemented feature. Rather create a feature issue than a bug.

[2021-02-16 23:53] Acros5542 opened #562 "[BUG] Breaking /pause is my passion"
**Describe the bug**
Since the old pause bugs have been fixed, here's a new one. Note, technically this issue doesn't exists on any official Alpha builds yet since none have been made with the /pause fixes, but these fixes are present in some of the individual issue builds which is where I tested this.
This one is pretty simple though - you can no longer re-pause the game. Previously and in AoTTG1

[2021-02-17 00:09] Acros5542 opened #563 "[BUG] /pause is dead and we have killed him"
**Describe the bug**
If you join a lobby while that lobby is unpausing, you will be stuck paused even after the timer for the game to unpause reaches zero. Note that this does still exists on builds after the pause fixes mentioned in the Feb. 5th changelog.

**To Reproduce**
1. On one client make a multiplayer server
2. Pause the game with /pause
3. Launch a second instance of the game
4. Type /pa

[2021-02-17 17:15] Prolonpo commented on #555
From @Dakros, https://discord.com/channels/681641241125060652/681647375336341522/806283970685829150

The easiest way to kill a PT is to get a hook on its nape, and keep zooming around it until you find an opening. The PT can't do anything about it, because it's too slow.
The idea is to give the PT's the possibility to clear their body from hooks, or even catch the hooks and pull them rendering the

[2021-02-17 21:11] Lithrun commented on #552
After 5 days and 150 commits, I can confirm that this is working. Time for some cleanup and those prefab titan edit mode tests

[2021-02-18 19:58] #552 closed, assigned to Lithrun

[2021-02-18 20:00] Lithrun commented on #373
Alright @FransStreicher @WattanaGaming, let's see how fast I will regret working on this issue

[2021-02-18 22:11] colorblindraws opened #565 "[PROPOSAL] is there a way for someone to play the first versions of the game?"
**How will this feature improve the game?**
The simplicity of the “alpha era” mechanics made for an awesome experience with a very hard game and a really enjoyable learning curve

**Describe the solution you'd like**
I just wanted to be able to play the earlier version of the game, where the city was just grey towers and the titans were thumblike design wise

**Describe alternatives you've conside

[2021-02-18 22:19] Alex-Mod-Bot152 commented on #565
Please don't make GitHub post to ask questions. Use #questions in our Discord server

[2021-02-19 05:42] nolanrdavenport commented on #167
This issue was resolved in #537

[2021-02-19 05:42] #167 closed, assigned to nobody

[2021-02-19 05:53] nolanrdavenport commented on #558
I addressed this issue with #547 which I merged into #205. The PR for #205 will fix the issue but it's on hold because Hero.cs is being refactored.

[2021-02-20 00:40] Rekperion commented on #352
Not stale. Just waiting. Should be all good soon!

[2021-02-20 00:59] Acros5542 opened #568 "[BUG] Racing timers and average speed still update while the game is paused"
**Describe the bug**
More pause bugs! In this one, Racing Akina's (and other racing modes') timers still update when the game is paused with either Escape in singleplayer or /pause in multiplayer. The timers affected include the Race Start countdown, the Time counter indicating how long the race has been going for, and the Average Speed calculation (it will continually average in the speed you wer

[2021-02-20 12:08] PoleDark commented on #536
I'm going to start the Map Editor Concept UI. Any suggestions and inputs from Mappers?

[2021-02-20 21:53] #373 closed, assigned to Lithrun

[2021-02-21 11:43] Alex-Mod-Bot152 commented on #458
Seeing what have been done I think It's fair to say that this issue is closed. Can I get confirmation from @PoleDark and @Lithrun ?

[2021-02-21 11:46] gisketch commented on #458
It's not really stale since Tony has done 75% of the screens already, just haven't updated it on github yet. 4 more screens and it should be done.

![image](https://user-images.githubusercontent.com/78424395/108624088-853c7d00-747d-11eb-97cc-55793d247044.png)

[2021-02-21 11:47] Alex-Mod-Bot152 commented on #458
Alright, thank you for clarification

[2021-02-21 18:04] Lithrun opened #571 "API Setup"
**How will this feature improve the game?**
Within AoTTG2, we will be having our own API which can persist data. This issue is client side implementation (HttpClient) of https://github.com/AoTTG-2/AoTTG-2-Identity-Server/issues/4.

**Describe the solution you'd like**
An "AoTTG2.API" standalone package which can execute async HTTP Methods to the AoTTG2 API.

[2021-02-22 21:02] #508 closed, assigned to merinobruno

[2021-02-23 17:20] Prolonpo opened #573 "[PROPOSAL] Proximity Voice Chat"
**How will this feature improve the game?**
This idea was brought up during the 3rd Proposal Meeting which was hosted on February 20, 2021.

This involves the ability to be able to communicate through an in-game method allowing for more role-playing opportunities and a greater immersion.

**Describe the solution you'd like**
Players would be able to have two methods of communication: push-to-talk

[2021-02-23 17:23] Prolonpo commented on #391
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This was approved and will be part of the future milestone release for AoTTG2.

[2021-02-23 17:24] Prolonpo commented on #392
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This was approved and will be part of the future milestone release for AoTTG2. Although there is no guarantee on how quickly this will appear in future release.

[2021-02-23 17:24] Prolonpo commented on #407
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This issue was rejected and will not appear in future release of AoTTG2. This proposal presented potential issues with griefing and trolling and the more the discussion explored this option, the more complex the task of having titans aggro onto proximity voice chat appeared as players would also have the ability to mute each

[2021-02-23 17:24] Prolonpo commented on #408
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This proposal was labelled as pending and future discussion would be required.

[2021-02-23 17:27] Prolonpo commented on #409
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This proposal was labelled as pending and future testing would be required to determine if this would be a viable system.

[2021-02-23 17:27] Prolonpo commented on #412
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This was approved and will be part of the future milestone release for AoTTG2.

[2021-02-23 17:28] Prolonpo commented on #414
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This was approved and will be part of the future milestone release for AoTTG2.

Note that actual skills for the player titans would need to be discussed, but the idea to be able to have a custom look for Player Titan is definitely supported.

[2021-02-23 17:28] Prolonpo commented on #415
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This proposal was denied in its current form. However, this discussion did lead to thoughts about how to improve other skills currently present in the game.

[2021-02-23 17:29] Prolonpo commented on #416
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This was rejected as it would not encourage teamwork and make the threat of being grabbed less threatening. This however did lead to a discussion on how to make grabs more interesting and threatening.

[2021-02-23 17:30] Prolonpo commented on #419
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This issue was labelled as pending as future discussion would need to explore this further.

[2021-02-23 17:31] Prolonpo commented on #426
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This was approved and will be part of the future milestone release for AoTTG2.

However, based on the implementation, certain changes would be required to make sure that the Jaw Titan is well incorporated in AoTTG2.

[2021-02-23 17:32] Prolonpo commented on #441
This proposal was present in the 3rd Proposal Meeting on Feb. 20, 2021.

This labelled as pending and future brainstorming sessions would be required.

The discussion on this proposal led to the realization that AHSS users should have their own skills and special abilities other than the double-shot. The idea of additional specialization for AHSS is definitely supported.

[2021-02-23 17:35] Prolonpo opened #574 "[PROPOSAL] Changes to current abilities - Discussion concluded in 4th Proposal Meeting"
**How will this feature improve the game?**
This proposal stemmed from the 3rd proposal meeting hosted on Feb. 20, 2021.

This would allow players to be able to control their skills more effectively.

**Describe the solution you'd like**
Players should be able to hold down the button to activate their skills. As soon as that button is released, the skill stops and the player is able to resume flyi

[2021-02-23 17:43] Prolonpo opened #575 "[PROPOSAL] Revamp of Players Getting Grabbed"
**How will this feature improve the game?**
This idea stemmed from the 3rd Proposal meeting hosted on Feb. 20, 2021.

This idea would give players who got grabbed a window where they could struggle and extend their life for a short period until they either get rescued or they get eaten.

In addition, this would also make getting grabbed much more terrifying and would emphasize teamwork in order to

[2021-02-24 02:27] #565 closed, assigned to nobody

[2021-02-25 09:01] FAStre commented on #113
Not stale, check #340

[2021-02-25 14:10] FAStre opened #576 "[PROPOSAL] Time and Lighting improvements"
**How will this enhancement improve the game?**
#113 introduced a new time and lighting system for AoTTG2. The feature is stable and looks great, but there are some improvements and suggestions for further improving it.

**Describe the solution you'd like**

-  The ability to change lighting quality settings, and editing it independent of general graphics settings, wait for #536 before adding.

-

[2021-02-25 16:34] Acros5542 commented on #353
Just realized I had forgotten to update the Github report on this issue - it's been investigated quite a bit more and has had more elaboration for it on Discord for a while now. So here's the update:
___
The speed glitch in general stems from an issue with reeling either between two hooks or on top of one hook. Normally it should just cancel the force out, but in AoTTG2 it will reel you past the p

[2021-02-25 17:02] Acros5542 opened #577 "[BUG] Temporarily freezing when using Petra's special with no blades."
**Describe the bug**
Carry-over bug from AoTTG1. If you use Levi or Petra's special when your currently equipped blades are broken or if you have no blades at all, you'll temporarily freeze before the animation plays.

**To Reproduce**
1. Spawn in as a human on any map
2. Continually reload your blades until you have none left
3. Use Levi or Petra's special (currently the only accessible one in Ao

[2021-02-26 00:21] Acros5542 opened #579 "[BUG] Example bug for the template. Ignore this."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Log file**
Include a log file

**Add

[2021-02-26 00:21] #579 closed, assigned to nobody

[2021-02-26 02:25] Prolonpo commented on #444
Some discussion on improving the Crawler (@desu, @antigasp) - change in attack (bite and grabs) and ability to roll to kill players on their back.

Start: https://discord.com/channels/681641241125060652/683107211983323164/813576216095227934
End: https://discord.com/channels/681641241125060652/683107211983323164/813578019804807258

[2021-02-26 07:30] Alex-Mod-Bot152 opened #580 "[PROPOSAL] Armored Titan"
Idea by @Alex-Mod-Bot152

### **Point 1- General stuff about Armored Titan:**

Armored Titan is a 15 meter tall titan which has armored plates all over its body, those armored plates have been shown to be resistant blades and small fire-arms although thunder spears and special artillery shells are able to penetrate it. It has also shown great feats of strength and speed but only if it had less arm

[2021-02-26 10:54] Lithrun commented on #453
Investigated this a bit further by looking into changelogs. As per Unity 5, there's the following: "Unity No Longer Supports Non-Kinematic, Non-Convex colliders". Player characters rely on physics, this means that they are "Non-Kinematic" (This essentially disables physics). Most prefabs currently are Mesh Colliders, these are "Non-Convex".

In order to resolve this, we will have to use a tool lik

[2021-02-26 22:33] merinobruno commented on #563
Isn't the time scale modified when the game is paused? I think that variable should be global

[2021-02-26 23:19] Lithrun commented on #571
So far, so good:
- Users can change their username
- Additional external providers can be linked to the same account
- GDPR compliant (data request & account deletion)
- Setup Swaggerhub, to automatically generate client side code based on API endpoints
- Setup Authorization
- Setup persistence (MSSQL instead of the temp Sqlite)

Todo's:
- ~~Use Azure Keyvault, to hide Production secrets~~ This is

[2021-03-01 06:00] Prolonpo commented on #444
The new sets of videos on Time & Lighting posted on Feb. 28th, 2021, led me to think about this:

- Titans should become immobile and sleep after the sun sets down
- Perhaps their movement should become sluggish and slower when it is dawn and dusk
- Special titans would not be affected by this (such as the ones controlled by shifters, boss titans, or extremely dangerous special/mutant titans)

Whe

[2021-03-01 12:34] desu7 opened #582 "[PROPOSAL] New Bosses and Events"
**How will this feature improve the game?**
As we know, AOTTG has 2 bosses (Annie and Colossal Titan), and 1 anime event (Trost). These are beloved by the community, they're fun to play once in a while and it improves the game experience. What I propose, is to add more of them, with some being shorter and others being longer to complete, and some requiring more team work. Not only that, but I also

[2021-03-01 15:55] desu7 opened #583 "[BUG]Checkpoints in Capture mode aren't updated for players who join a server"
**Describe the bug**
Similar to AOTTG 1, when a game has started in Capture mode and the players have captured points already, they won't update in the "Capture score" above for players who have just joined, instead I'll stay as if the game had just started, even if visually, every player can see which points haven't been captured, which belong to Humans and which to Titans. At the same time, when

[2021-03-01 18:04] Prolonpo commented on #394
From @Pro_idott

`other ways to be eaten like sideways where you legs are gone or like marco died`

In other words, the ability to have leftover pieces of corpses.

https://discord.com/channels/681641241125060652/683376807101071489/808130590150492241

[2021-03-01 18:12] Prolonpo commented on #574
Thoughts from @Dr.Eisenlocke:

https://discord.com/channels/681641241125060652/681647375336341522/809640921011585024

SPECIAL ATTACK REWORK

Mikasa
-> If Gas is used upon activation, momentum is conserved, acceleration is applied to the player's velocity vector
-> If Gas is not used upon activation, momentum is not conserved, acceleration is applied to the gravity vector (like in AoTTG)
-> Special

[2021-03-01 18:15] Prolonpo commented on #574
Details from @Kamui: https://discord.com/channels/681641241125060652/681647375336341522/809654064111288342

Marco
His special has a bigger range of effect, when used ALL titans in range will lose all their attention on the players that they’re currently focused on and will focus directly on Marco and not change this for a duration of time.

Armin
Not much to say here except make his special have a

[2021-03-01 18:24] Prolonpo commented on #295
From @Psilocibaby, https://discord.com/channels/681641241125060652/683376785659789342/806354335411077121

The things that keep me playing the game the most are really small visual changes that give more satisfaction from kills, the single player Titan nape wedges are a good example that actually made me want to practice more in single player when it was first added. specifically more satisfaction

[2021-03-01 18:55] Prolonpo opened #584 "[PROPOSAL] Automatic Voice lines"
**How will this feature improve the game?**
This would increase the immersion of the game by having the characters say a certain voiceline once in a while when they are performing a certain action.

Idea by @blaboy, questions by @Prolonpo

**Describe the solution you'd like**
Start: https://discord.com/channels/681641241125060652/683107211983323164/816011606051782707
End: https://discord.com/chann

[2021-03-02 12:10] FAStre opened #585 "Dynamic Sky Toggle"
**How will this enhancement improve the game?**
While testing the time and lighting system, I noticed that putting a static skybox instead of a procedural one makes quite a noticeable difference in fps. I propose adding another toggle to the time and lighting settings that will toggle whether a dynamic sky is enabled or not. When not enabled, the skybox will be one of 3, either a dawn, afternoon o

[2021-03-04 03:11] Prolonpo opened #587 "Evolving Free Roam Map"
**How will this feature improve the game?**
This will make the Free Roam Map feel more alive as events would be able to change the status and the conditions of certain territory within it.

Discussion participants: @Prolonpo (author), @HawkeMaylan, @AlexBot
• Ongoing conversation between Prolonpo and Hawk

**Describe the solution you'd like**
Please see the following document (details may change):

[2021-03-04 03:22] Prolonpo opened #588 "[PROPOSAL] Realism Mode Features Discussion"
**How will this feature improve the game?**
Participants in this discussion: The Proposal Team (@Prolonpo (author), @Acros5542, @AlexBot, @TBG)

The current implementation of the Realism Mode is a little bit hazy and vague, this proposal serves to provide a hypothesis on the direction that it could go with.

**Describe the solution you'd like**
(Entire discussion found in the Proposal Team channel

[2021-03-04 09:43] hawk commented on #587
I suppose you tagged the wrong "hawk"?

[2021-03-04 09:44] hawk commented on #554
I suppose you tagged the wrong "hawk"?

[2021-03-04 09:46] Alex-Mod-Bot152 commented on #588
Links stated in this Proposal lead to Proposal Team channel which can't be accessed from outsiders. I'm sorry for this inconvenience

[2021-03-04 14:48] Prolonpo commented on #587
So sorry about this @hawk! There is another individual with the same pseudo on our team, hence the accidental tag.

[2021-03-04 14:56] hawk commented on #587
No problem. I can handle a few extra mails. :-) I thought more about the guy missing the info.

[2021-03-05 15:15] Alex-Mod-Bot152 commented on #325
From @Witched Saea

Better slide mechanic/s

1) If the angle is shallow enough and you are hooked somewhere you are going to enter similar slide to this one https://cdn.discordapp.com/attachments/683107211983323164/817375724809224272/tumblr_5c83c3a4e4cb6be612a37d4590f5d153_d9a5db5b_640.gif

2) You are able to gain speed speed until certain point (Around 1k speed, possibly 1,4k) but the acceleratio

[2021-03-07 19:48] gisketch commented on #537
New bugs to fix courtesy of @Acros5542

- [x] Null references after rejoining lobbies. (due to hook indicator missing)
- [x] /clear command no longer working
- [x] Kill feed hitbox too big horizontally
- [x] Blood elements persisting across lobbies.
- [ ] Blade shimmer effect not playing when refilling
- [ ] Blade desync when canceling reload.
- [x] Lay-out to layout
- [x] Gas canister (remove gre

[2021-03-08 17:32] Rekperion commented on #352
Just waiting for another review for PR #474

[2021-03-08 17:33] Rekperion commented on #462
Just waiting for another review for PR #474

[2021-03-08 19:25] atirutw commented on #576
I'm not sure if this can be done but I'll do some research.

We'll probably want to make a more complex & complete day/night cycle solution similar to [Azure[Sky]](https://assetstore.unity.com/packages/tools/particles-effects/azure-sky-dynamic-skybox-36050) with all sort of features we could want but the architecture will have to change, mainly separating the lighting logic from the networking(may

[2021-03-08 21:09] Lithrun commented on #453
@AoTTG-2/art-team @AoTTG-2/mapping-team Please read above, as we must no longer use MeshColliders which are non-convex. Any existing objects will require compatible mesh models which we can use as non-convex mesh colliders, or setup compound colliders.

There's a temporary code work around, yet this is not as accurate as the physics engine.

[2021-03-10 10:24] gisketch opened #591 "Visual Sound Effects"
**How will this feature improve the game?**
This feature will help people with disability specifically people with bad hearing. This will implement visualizers to show you where the sound sources are coming from (with icons such as titan footsteps, flares, etc.) in a form of a ring. This feature will be optional of course.

**Describe the solution you'd like**
Visual SFX can be implemented similar

[2021-03-10 10:30] Alex-Mod-Bot152 commented on #591
Idea has been Originally brought up by @Witched Saea which was not stated in this particular issue

[2021-03-10 11:12] #576 closed, assigned to nobody

[2021-03-10 12:02] Lithrun opened #593 "Colorblind Settings"
**How will this feature improve the game?**
Players who are colorblind, are unable to differentiate some colors with each other. AoTTG2 should have features which allows colorblind players to replace certain colors in the game. An example would be the Red and Green flare, as some people cannot differentiate these colors from each other

**Describe the solution you'd like**
A setting which allows p

[2021-03-10 14:51] gisketch opened #594 "Sound Effect Captions"
**How will this feature improve the game?**
It will help deaf people or people with bad hearing as there will be captions shown in the screen for each sound effects similar to minecraft subtitles.

**Describe the solution you'd like**
Show the captions in the chatroom or maybe on its own box.

**Additional context** (Remove if not relevant)
Add any other context or screenshots about the feature re

[2021-03-10 14:58] gisketch commented on #594
Holding until issue #537 is finished

[2021-03-10 23:16] Acros5542 opened #595 "[BUG] Hooks lose collision if you try and hook blades you have dropped"
**Describe the bug**
If you reload your blades then try to hook them while they're on the ground, your hooks will lose collision and travel through the floor/map. This is a bug that exists in AoTTG1 as well, credit to that one guy in the ranking server who was talking about it and reminded me it existed lol

**To Reproduce**
1. Spawn in as a human on any map
2. Reload your blades (R is default key

[2021-03-10 23:20] Acros5542 commented on #588
Minor clarification for "Instead, death on impact should recreate when happens in Cyrus Essential (CE) mod: requires impact + change in speed to determine if a player who hit an object dies or not (if the change in speed in a single frame is great enough, the player is dead after the impact)"

In Cyrus the only thing that is checked is a great enough speed change in a single frame, I'm proposing f

[2021-03-11 19:08] Lithrun opened #596 "Replace EU Photon Server"
**How will this feature improve the game?**
Apparently the Photon Server went up into flames. No, it literally did https://www.searchenginejournal.com/ovh-data-center-fire-darkens-thousands-of-sites-worldwide/398485/. Nobody was injured, so no need to worry. Time to setup a new server so our AoTTG2 users can still use multiplayer

**Describe the solution you'd like**
A fire-proof server

[2021-03-11 19:40] #596 closed, assigned to Lithrun

[2021-03-12 18:22] play-k commented on #594
would be good to be able to change the size of these subtitles

[2021-03-13 09:36] KoroSensei0320 opened #598 "Addition of in-game badges for Discord roles"
**How will this feature improve the game?**
This feature would use a bot to read the Discord roles of staff/Patreon members and add a badge for them in-game.

**Describe the solution you'd like**

- [ ] Art team - Create badges (Developer, Mapper, Artist, Moderator (perhaps manager/lead combined), Translator, Proposer Patreon, tester)

- [ ] Investigate implementation (The bot should use a HTTP PO

[2021-03-14 10:49] Lithrun opened #599 "Character Customization: ScriptableObjects Deluxe Edition"
**How will this enhancement improve the game?**
Now that #33 has been merged into development, preparation for #34 can start. Currently we do use ScriptableObjects for Character Customization, although there is a large usage of enums. Decouple the ScriptableObjects from the enums as much as possible, to make it even easier to extend the character customization system in the future.

**Describe the

[2021-03-14 11:19] #33 closed

[2021-03-14 13:42] Lithrun commented on #562
@Acros5542 for future reference, please assure that Issue names are descriptive. Can't really tell what the issue is with "Breaking /pause is my passion", and this should rather be "Unpausing countdown cannot be cancelled by pausing again"

[2021-03-14 13:43] Acros5542 commented on #562
@Lithrun Aight I'll stop with the meme names for pause bugs. Started doing it as a joke because this is the 12th bug I've found relevant to pausing the game lol

[2021-03-14 13:53] #562 closed, assigned to merinobruno

[2021-03-14 23:58] DaSquyd opened #600 "Input System Implementation (Part I: Hero)"
Unity's default input system kinda sucks, so it's time to use InputSystem. This system is event-based, meaning no more if statements will be clogging up Update and FixedUpdate. Instead, classes that need input queries will subscribe to the InputSystem and run methods only when those events are triggered. This should make the code far easier to read and understand as well as do some work in reducin

[2021-03-15 02:33] gisketch commented on #537
TODO:
- [ ] InRoomChat change back to instantiation
- [ ] Scoreboard (Refactor sort button)
- [ ] Blades HUD missing references (Only update, when hits titan, or reloads) //See Blades.cs
- [x] Blood Smear null reference
- [x] Customize HUD screen button missing
- [ ] KillFeed reverse animation

[2021-03-16 20:46] Lithrun commented on #599
Tasks:
- [ ] Migrate from old system to the updated system
- [ ] Custom Texture Support
- [ ] Dynamic Recoloring Support
- [ ] Character List ScriptableObject
- [ ] Default AoTTG2 Character Networking Object (Character Index, Outfit Index, Build Index)

Bonus Task:
- [ ] Include the new characters

[2021-03-19 20:27] Lithrun opened #601 "AHSS"
**How will this feature improve the game?**
Now that #33 is done, it is also time to fix AHSS. AHSS has previously been disabled (around May) due to some weird logic, and now that a lot of logic has been improved, it's time to get AHSS working again

**Describe the solution you'd like**
- [ ] Assure #600 is done. Remove On Hold when done.
- [ ] Implement damage (currently only 10 damage is dealt)

[2021-03-20 09:10] FAStre commented on #526
Can we consider this closed on #340 merge?

[2021-03-20 09:15] Lithrun commented on #526
Yup, #113 (PR #340) contains it, so will add the Closes keyword to it 👍

[2021-03-21 17:42] desu7 commented on #595
As of Build #33/The Map Editor Build, this also happens with the AHSS's bullets.

[2021-03-23 12:45] Alex-Mod-Bot152 commented on #582
Before I dwell into specifics of the Boss Fights I would want to comment on few things that I and other want to see:
-Bosses in the Original game scale very badly with skill and are only fun for new player and skilled players see them as lame due to bad design of moves, models or even location
-Making them more interesting than flashy should be a thing. We don't want to repeat the past with boss f

[2021-03-23 12:56] Alex-Mod-Bot152 opened #602 "[PROPOSAL] Beast Titan"
Idea by @Alex-Mod-Bot152     (Tweaked and changed by whole AoTTG2 team)

### **Point 1- General stuff about Beast Titan**

Beast titan is a 17 meter class titan that has ape-like appearance, its arms are clearly much thinner and longer than those on normal Titan or Titan Shifter. It’s main strength is being able to throw objects with great speed and accuracy over long distances but it lacks power

[2021-03-24 18:13] #113 closed, assigned to Toorah, atirutw, FAStre, TheBoredProgrammer64

[2021-03-24 18:13] #526 closed, assigned to atirutw

[2021-03-24 18:29] Lithrun opened #603 "Alpha 3 Setup"
**How will this enhancement improve the game?**
Now that #33 and #113 have been implemented, it's time to go for our third Alpha build: **Alpha 3**.

**Describe the solution you'd like**
This issue is there to do some quick in-depth testing of the game, and resolve any minor issues before releasing Alpha 3. This may not take longer than the 28th of March. Any significant findings will have to be r

[2021-03-24 19:55] Lithrun opened #604 "Level & Settings: ScriptableObject Deluxe Edition"
**How will this enhancement improve the game?**
After the fancyness of #489 and #599, there now comes a sequel to make the triology complete: Convert the GameSettings & LevelBuilder classes into a ScriptableObject. This will allow us to manage these settings more dynamic and easier via the unity editor, without having to modify any code. Useful when you want to test a specific set of settings as w

[2021-03-25 19:31] LehmannLoic opened #605 "Refactor any RacingGamemode logic from FengGameManagerMKII"
Going through the last RacingObjective item does not trigger the "Race Ended", so game does not display what your time was, nor will it ever restart.

Some methods in FengGameManagerMKII class are marked as Obsolete (multiplayerRacingFinsih, netRefreshRacingResult refreshRacingResult2 and a few more variables).
It doesn't seems like that everything marked as obsolete in the FengGameManagerMKII  cl

[2021-03-27 16:04] #363 closed, assigned to xxviiihours, mash8

[2021-03-27 21:49] #342 closed, assigned to LehmannLoic, TheBoredProgrammer64

[2021-03-27 22:14] #352 closed, assigned to Rekperion

[2021-03-27 22:14] #462 closed, assigned to Rekperion

[2021-03-29 08:01] LehmannLoic commented on #514
Still working on it, two last weeks were quite busy so I didn't have time to make much progress on this issue.

[2021-03-31 17:49] #599 closed, assigned to Lithrun

[2021-03-31 18:04] Alex-Mod-Bot152 opened #611 "[PROPOSAL] Cart Titan"
Idea by @Alex-Mod-Bot152

### **Point 1- General stuff about Cart Titan**

Cart titan is 4 meter tall, approximately 10 meters long (Without gear) quadruple titan. It’s main upsides are excellent endurance and speed even over long distances and great foundation to be a support class titan by carrying various kinds of equipment, payload and weapons on it’s back

### **Point 2- Usage of Cart Titan**

[2021-03-31 18:09] Lithrun opened #612 "AoTTG2 Custom Map Format"
**How will this feature improve the game?**
AoTTG2 will redefine the legacy AoTTG RC map format, and modify it to allow a much larger variety of features, extensibility and ease of use. The current specification is still being written (will be added once complete)

**Describe the solution you'd like**
- [ ] A new format for Custom Maps, which AoTTG2 will support for its Custom Maps
- [ ] Custom Ma

[2021-03-31 19:15] Prolonpo commented on #602
Note about the "Gas Barrel" that can turn humans into titans, in addition of having the effect wear off overtime, players can actually inhale the gas in their gas canister as a way to clear out the spinal fluid in its gaseous form. This method would instantly clear the spinal fluid effect and would expand 2 gas bursts worth of leftover gas.

[2021-04-09 09:40] KoroSensei0320 commented on #598
In progress - being worked on by Gisketch and Tony for the art aspect.

[2021-04-09 09:40] PoleDark commented on #520
This is a visual 3d model, correct?

[2021-04-09 11:23] Lithrun commented on #603
Right, Alpha 3 is already there, and its contents were merged together with #599, so, issue done 😄

[2021-04-09 11:23] #603 closed, assigned to Lithrun

[2021-04-10 11:00] Alex-Mod-Bot152 opened #613 "[PROPOSAL] Sprinter - New Titan Type"
Idea by @Witched Saea

### **Sprinter**

New Titan enemy, similar to Aberrant but it's faster, almost always is running and is behaviorally different from other titans putting him in Abnormal Category.

Sprinter has few stages throughout the game and those stages dictate how it behaves and what it can do.

_**Dormant**_ - Sitting, walking around or looking around. Just like other titans do without

[2021-04-10 12:44] atirutw opened #614 "[PROPOSAL] Improvement to sun & moon light"
**How will this enhancement improve the game?**
Originally, the Time of Day controller used in 113 was designed to use two directional lights. This was fine for the built-in Render Pipeline(referred to as RP) but a while after we upgraded to Universal RP, I have noticed that the shadow of the two directional lights "snap" at around 6AM/PM in-game. I figured I should update the script to only use o

[2021-04-11 07:31] FAStre commented on #365
@HawkeMaylan Be sure to have mappers add the DayAndNightController prefab in their maps, it can be found at Assets/Resources/Day And Night Controller

[2021-04-11 08:51] play-k commented on #613
reminds me of this titan https://youtu.be/pV5WnfGMlK4?t=14

[2021-04-12 11:17] Acros5542 commented on #263
To describe this issue better, in AoTTG1, there are currently two types of gas burst.
Double-Tap gas burst and Rebound gas burst.

Despite one being a rebind for the default controls, due to a bug present in RC and other mods, they function differently. However, this is not a bug that should be fixed thoughtlessly. Rebound gas burst behaves differently than double-tap, and thus has a different set

[2021-04-13 13:05] LESM18 opened #616 "[PROPOSAL] Founding Titan"
Clarification

This proposal was originally written in Spanish because this is the language I speak, I translated it thanks to the Google translator, so if something is not very right in terms of vocabulary, writing, etc., this is why, I also leave the proposal in Spanish below of the part in English in case someone can understand it better in this way

Introduction

The founding titan is one of t

[2021-04-13 13:09] LESM18 commented on #616
Sorry for not putting the proposal tag, I don't know how to handle git hub

perdón por no poner la etiqueta de propuesta, no se manejar git hub

[2021-04-13 20:29] Lithrun commented on #616
There, added it for you 😄

[2021-04-18 19:26] #614 closed, assigned to nobody

[2021-04-21 09:16] kexshan commented on #256
Okeh :l

[2021-04-24 12:04] raima-zachariah opened #618 "[Security] -"
-

[2021-04-24 12:20] Lithrun commented on #618
Security issues are fine to be reported, yet according to the policy, this must be done via https://github.com/AoTTG-2/AoTTG-2/security/policy

[2021-04-24 12:20] #618 closed

[2021-04-28 15:51] Prolonpo commented on #601
Significant suggestion to consider: update the running animation for the AHSS

Idea from @ZJeagerBro: https://discord.com/channels/681641241125060652/683376785659789342/834144827838300200

[2021-04-28 16:25] Prolonpo commented on #112
From @ItsBlackmello, https://discord.com/channels/681641241125060652/683376807101071489/821540462421737523

-Fog (shortens eyesight distance)
-Snow (Makes it harder to walk on any surfaces)
-Windy (player can be pushed off axis along with their hooks)

[2021-04-28 16:51] Prolonpo commented on #393
From @Raivaru, https://discord.com/channels/681641241125060652/681647375336341522/823093927410008134

[2021-05-03 19:36] FAStre commented on #350
I've gotten quite busy with other things so will be unassigning myself from the issue for now, however here is what I learnt for the next person who tries to take it up:

- 2 Classes seem to be controlling hit detection, EnemyCheckCollider.cs and TriggerWeaponCollider.cs. Both of these classes seem basically identical to their aottg1 counterparts. Additionally, the issue doesnt seem to be the 2FU

[2021-05-08 22:01] Alex-Mod-Bot152 opened #620 "[PROPOSAL] Attack Titan"
Idea by @Alex-Mod-Bot152

### **Point 1- General stuff about Attack Titan**

Attack Titan is 15 meters tall, muscular titan possessing high regenerative abilities for both the shifter (Wouldn’t really apply in game) and titan itself. Like told by Mikasa, “It’s Humanity reincarnation of rage”

### **Point 2- Usage of Attack Titan**

Attack Titan would be a generalist of many traits, him having aver

[2021-05-11 17:01] FAStre commented on #350
Some recommendations from Lithrun when it was discussed in discord as well:

[2021-05-11 20:42] Lithrun commented on #26
This is now included within #612. Will create follow up issues after #612 is done, for each language we want to support, together with some documentation.

[2021-05-13 14:05] Lithrun commented on #350
I included a potential fix within commit 9cd4f7bab626036248087dff62e3e29d36135415. Can't really test it however, is I ain't fast enough >.>

[2021-05-16 11:52] FAStre opened #622 "Make Titans behave similar to AoTTG1"
**How will this enhancement improve the game?**
Testers have noticed that titan behavior is sometimes inconsistent with AoTTG1, and that it would improve gameplay by making it closer to the original game. There are multiple dissimilarities.

**Describe the solution you'd like**

- [ ] Add back the delay before titans attempt to attack. (In AoTTG1 you have to be constantly within their view for a b

[2021-05-16 11:55] FAStre opened #623 "[BUG] Fix titan numbers in forest wave gamemode"
**How will this enhancement improve the game?**
The forest wave gamemode settings are different to AoTTG1, and should ideally be the same.

**Describe the solution you'd like**
- [x] Change the Titans per wave in Forest back to the correct amount (starts at 3, increases by 1 each round except for waves 5, 10, 15, and 20). If this is something controlled by the new spawn service that’s not yet been

[2021-05-16 11:59] FAStre opened #624 "Characters enhancement"
**How will this enhancement improve the game?**
Characters currently have outstanding and/or missing implementations, this issue should allow it to be more complete.

**Describe the solution you'd like**
- [ ] Add the correct stats to the preset characters. (Currently all the characters added in #578  have default stats – I think with #578 merged the framework is there to adjust these to their cor

[2021-05-16 19:31] #522 closed, assigned to gisketch

[2021-05-16 19:32] #537 closed, assigned to PoleDark, gisketch

[2021-05-17 19:22] #585 closed, assigned to FAStre

[2021-05-18 19:08] Prolonpo opened #625 "Looting Supplies (Gas & Blades) From Dead Players"
**How will this feature improve the game?**
This will allow another way to resupply

**Describe the solution you'd like**
Upon death, players will drop their remaining gas and blades on the ground which will now float on the ground ready for other players to pick up.

The dropped items will have a 2 min time frame where they will be up for grab, after which, they will then de-spawned.

Players tha

[2021-05-18 19:13] Prolonpo opened #626 "Three Types of Wagons"
**How will this feature improve the game?**
These wagons will allow to play an important role during the players' games.

**Describe the solution you'd like**
Wagons would be divided into three categories:

1. Refill wagons - have gas and blade stations allowing players to refill at it, however, the supplies obtained at this wagon would only go to the player who has refilled at the station.
2. Sup

[2021-05-18 19:17] Prolonpo commented on #428
The parent proposal (#297 ) was found during the first proposal meeting and got labelled as "postponed".

Further investigation from the Proposal Team determined that this aspect from #297  was worth implementing into AoTTG2.

Destroyable objects would include buildings, houses, trees, prisms - each with a health and will "collapse" when their health reaches zero.

[2021-05-18 19:20] Prolonpo opened #627 "New Gamemode: Village Evacuation"
**How will this enhancement improve the game?**
This will provide an interesting new gamemode to AoTTG2.

**Describe the solution you'd like**
Two variations:
- First variation involves having to escort villages to a safe district whilst titans will be attacking on random intervals
- Second variation involves having the players ride to the village under titan attack, kill all titans, bring the vil

[2021-05-18 19:22] Prolonpo commented on #392
Additional feedback from the Proposal Team: Story Mode should have involve missions and campaigns inspired from the show - an example could be "Survival at Utgard Castle"

[2021-05-18 19:27] Prolonpo commented on #574
Confirmed element for Jean Skill (after the Proposal Team's analysis on it):
- Jean Skill users should have their skill recharge after killing 50 titans following using their skill

Parent issue (#307) and this topic appeared during the first proposal meeting

[2021-05-18 19:30] Prolonpo commented on #321
This proposal appeared during the second proposal meeting and was labelled as "postponed". Further analysis by the Proposal Team showed that this issue should be worth implementing into AoTTG2.

Additional details provided are:
- The requirement for an animation to load the flare shell, to fire the flare, and to discard the flare
- A potential global cooldown to avoid spamming flares
- The ability

[2021-05-18 19:34] Prolonpo opened #628 "Chronological Respawn Based on Quota"
**How will this feature improve the game?**
This new respawn mechanic would allow for a more engaging and entertaining way to play AoTTG2.

**Describe the solution you'd like**
This option could be enabled and disabled.

When enabled, players are ranked in the order that they have perished. Dead players can only respawn if the surviving ones are able to kill a certain number of titans.

As soon as

[2021-05-18 19:34] Prolonpo commented on #408
In its current format, this current issue has been rejected. However, its child issue #628 will be brought into AoTTG2 after the Proposal Team's investigation.

[2021-05-18 19:34] #408 closed, assigned to nobody

[2021-05-18 19:37] Prolonpo opened #629 "Button Mashing to Delay Getting Eaten after being Grabbed"
**How will this feature improve the game?**
This will allow players to buy time for their teammates to save them.

**Describe the solution you'd like**
Upon getting grabbed by a titan, a player will be able to button mash and enter a "Struggle" phase where they will try to pry the titans mouth as long as possible to avoid getting eaten.

This will allow the grabbed player to survived up to a maxim

[2021-05-18 19:38] Prolonpo commented on #416
Its child issue has been accepted into AoTTG2 after the Proposal Team's investigations (#629)

[2021-05-18 19:38] #416 closed, assigned to nobody

[2021-05-18 19:40] Prolonpo commented on #629
Another parent issue is #575

[2021-05-18 19:40] Prolonpo commented on #575
Child issue #629 for button mashing to delay getting eaten

[2021-05-18 19:42] Prolonpo opened #630 "More Methods to Save a Grabbed Player"
**How will this feature improve the game?**
Allows to save players in more methods over than blinding the titan, cutting their ankle, and/or cutting out their nape before the titan has a chance to eat the grabbed player.

**Describe the solution you'd like**
New methods to save grabbed players could involve:
• Cutting the eyes
• Cutting the nape
• Amputating the arm that is linked with the hand gr

[2021-05-18 19:42] Prolonpo commented on #575
Child issue #630 for more methods to save a grabbed player

[2021-05-18 19:42] Prolonpo commented on #575
Other details not contained in this proposal's child issues have been rejected.

[2021-05-18 19:42] #575 closed, assigned to nobody

[2021-05-18 19:44] Prolonpo commented on #419
Investigation by the Proposal Team approved of its implementation into AoTTG2.

- Activation of this skill would require meeting a certain point threshold
- Points will obtainable by killing titans
- Here is a description of this mechanic:

Instead of a cooldown, could involve the player gaining a certain amount of points to activate this skill
Skill activated when player gets 20 kill points
Norma

[2021-05-18 19:48] Prolonpo opened #631 "AHSS Perks & Customizable Equipment"
**How will this feature improve the game?**
This would allow AHSS users to vary their playstyle.

**Describe the solution you'd like**

Instead of different weapons, AHSS users would be able to equip different perks (can only equip one at a time)

Quick Reload
- 30% faster reload
- Unlock by killing 50 normal titans

Ammo Man
- 4 additional shots
- Unlock by killing 50 aberrants

Shiv Master
- All

[2021-05-18 19:49] Prolonpo commented on #441
In its current form, this proposal has been rejected. A child proposal #631 has been made with element that have been approved for implementation.

[2021-05-18 19:49] #441 closed, assigned to nobody

[2021-05-18 19:51] Prolonpo commented on #300
As a game mode similar to this can be created by allowing the players to tweak their settings or to assign a certain game mode with a preset setting, this proposal has been rejected after the Proposal Team's investigation.

[2021-05-18 19:51] #300 closed, assigned to nobody

[2021-05-18 19:52] Prolonpo commented on #307
The class system has been reviewed by the Proposal Team, and it was decided that it would not be a good addition to AoTTG2.

[2021-05-18 19:54] Prolonpo commented on #307
As for the mechanic on fixing faulty gear and having to manage building resources to know what to build and when, these mechanisms were not approved by the Proposal Team after investigation. This does not mean that these ideas are inherently bad, but in this current format, this remaining portion of this issue has not been approved.

[2021-05-18 19:54] #307 closed, assigned to nobody

[2021-05-18 19:58] Prolonpo opened #632 "To the Development Team [PROPOSAL] Address the issue that jumping and dodging during a slide kills all momentum"
**How will this enhancement improve the game?**
This will make sliding less frustrating as currently jumping and dodging during a slide kills all the player's momentum which doesn't make sense.

**Describe the solution you'd like**
Allow players to maintain their momentum when they jump or dodge during their slide (the player should not lose 90% of their speed whilst doing this maneuver)

Note tha

[2021-05-18 19:58] Prolonpo commented on #325
Child issue #632

[2021-05-18 19:59] Prolonpo commented on #409
This proposal, after investigation by the Proposal Team, was rejected for implementation into AoTTG2.

[2021-05-18 20:04] Prolonpo commented on #519
Already has been covered in one of the development build

[2021-05-18 20:04] #519 closed, assigned to nobody

[2021-05-18 20:10] Prolonpo commented on #451
Issue #630 presents findings from the Proposal Team's investigation on more ways to save a player

[2021-05-18 20:12] Prolonpo commented on #451
In terms of the first point on using blade and gas to escape, this would make Jean Skill obsolete, which would not likely be appreciated.

For the second point on the ability to throw blades, this ability would already have been approved for implementation as a skill.

For the third point on blood effect and scars on titan, this would definitely play a nice visual effect.

[2021-05-18 20:12] Prolonpo commented on #451
Putting a request to close this issue.

[2021-05-18 20:13] Prolonpo commented on #497
Having the ability to toggle and disable this would be appreciated.

[2021-05-18 20:18] Prolonpo commented on #582
Ties well with the proposal on new missions #297

[2021-05-19 16:08] Prolonpo commented on #582
In terms of the Colossal boss fight, as the player can be injured due to the steam, visual effects that bloodies the player's screen should be used to indicate the player's remaining health (full health = no blood, almost dead = lots of blood splattering all over the screen and the screen turning gradually gray)

[2021-05-24 17:35] desu7 commented on #582
I'm not really sure, the bosses and events I describe, kind of follows those of the anime, what #297 proposes is missions on procedurally generated maps, and what I propose is bosses & events that are always doing the same, with no variations, and there's a high focus on the action, although I guess the part 2 of the proposal can be implemented onto other game modes as well.

There's still a notab

[2021-06-02 06:32] Acros5542 opened #634 "[BUG] Capes do not have physics"
**Describe the bug**
When flying around as any character with a cape (such as Levi's Default costume), the capes are currently lacking the movement animation they display in AoTTG1.

**To Reproduce**
1. Spawn in on any map as Levi Default Costume
2. Move/fly around and pay attention to his cape

**Expected behavior**
The cape should flutter based on the player's movement speed.

**Additional conte

[2021-06-02 06:43] Acros5542 opened #635 "[BUG] Alternate swing animation"
**Describe the bug**
This is an issue which exists in AoTTG1 as well, and can actually make hitting high damages more difficult. Basically, due to an some sort of issue with the code, when charging/holding your blades while hooked to something, there is a chance a different blade-holding animation will occur (in which your blades appear to be crossed over one another). Typically in gameplay this d

[2021-06-02 07:08] Acros5542 opened #636 "[BUG] Double hooking forwards cancels gas too long"
**Describe the bug**
Even in AoTTG1 double hooking (with Q+E simultaneously, not the actual double-hook keybind) forwards will temporarily stop the gas animation; however, as per #33 merging, double hooking forwards now cancels your gas itself and for too long, making double hooking forwards act as a form of g-stopping, with it giving far less speed than it should. This exact issue actually existe

[2021-06-02 07:26] Acros5542 opened #637 "[BUG] Gas burst cancelling double hooks breaks animation"
**Describe the bug**
Gas burst cancelling a double hook since #33 has been merged temporarily breaks the character animation, causing him to appear standing in air.

**To Reproduce**
1. Double hook something (with Q + E, not the double-hook keybind)
2. Gas burst just as your hooks connect to gas burst cancel (may take a few tries if you're not used to doing gas burst cancels)
3. See how your chara

[2021-06-02 07:37] Acros5542 opened #638 "[BUG] Levi's skill on horesback"
**Describe the bug**
Using Levi's skill on horseback causes him to either remain on the horse or fall off, with the attack of his special never playing. The hook that normally would spin around him during this animation still appears, yet has no impact, and Levi himself with never spin or attack. Similar effects are attainable on other characters such as when using Petra or Mikasa's special, altho

[2021-06-02 08:01] Acros5542 opened #639 "[BUG] Character preference incorrectly persisted across lobbies"
**Describe the bug**
The game will attempt to retain which character you last played as when joining a new lobby, meaning if you played as Annie previously, then join a new lobby, Annie will be pre-selected as your character in the spawn menu. However, only the character is persisted correctly, and the character options such as Outfit or Loadout will default to the topmost character in the list (L

[2021-06-02 08:11] Acros5542 opened #640 "[BUG] Hook stuck if fired immediately after Levi's special"
**Describe the bug**
This bug exists in some versions of AoTTG1 as well. When using Levi's special, if you immediately fire your right hook after using it, the hook will become stuck will not recall even after letting go of the key for it. The hook will return to normal if Levi's special is used again.

**To Reproduce**
1. Spawn in as Levi on any map
2. Use his special and immediately fire your ri

[2021-06-02 08:47] Acros5542 opened #641 "[BUG] Capture game mode ignores character choice and can also sorta create ghosts"
**Describe the bug**
When playing on the Capture game mode, which character you attempt to play as is ignored, instead you will always spawn as whichever character you had previously played as. Outfit and Loadout selections still work normally so long as the preferences you select are on the character you will spawn as. If Capture is the first game mode you're playing since launching the game, you

[2021-06-02 09:13] Acros5542 opened #642 "[BUG] All blades characters are currently using the female idle stance"
**Describe the bug**
All blades characters, regardless of gender, are currently using the female idle stance. Unsure if this has always been the case or started with #33 as there were no playable male characters until it was merged. Note the AHSS idle stance is working properly.

**To Reproduce**
1. Spawn in as Levi, Kenny, or Pixis and look at his stance while idling.

**Expected behavior**
Male

[2021-06-02 09:17] Acros5542 opened #643 "[BUG] Mikasa's AHSS has no texture"
**Describe the bug**
When playing as Mikasa (or Mankasa), their AHSS has no texture.

**To Reproduce**
1. Go to any map (except for Capture game mode)
2. Select to spawn in as Mikasa with the Loadout of AHSS
3. Spawn in
4. See error

**Expected behavior**
The AHSS texture should be the same across different characters.

**Screenshots**
![Screenshot (921)](https://user-images.githubusercontent.com/

[2021-06-02 10:24] Acros5542 opened #644 "[BUG] Hitbox for the Titan's kick attack reaches way too high vertically"
**Describe the bug**
The hitbox (technically the hurtbox) for the titan's kick and stomp attacks reach above their head.

**To Reproduce**
1. Try and bait the titan into kicking (easiest to do if you're standing on their head)
2. Notice that you freaking die :)

**Expected behavior**
Kick hitbox should be pretty small and local to their feet.

**Video**
https://youtu.be/s824l0u3yto

**Contributor

[2021-06-02 19:04] desu7 commented on #146
As of Alpha 3:
Blocks 1, 3, 5 and 7 are synced; Blocks 2, 4, 6 are synced but in the opposite direction.

In AoTTG, Blocks 1,3,7 are in sync, while Blocks 2 and 4 are also synced but in the opposite direction. Looking at blocks 5 and 6 in game, it looks like Block 5 starts synced with the odd blocks, but it looks like it is slighty faster since it can take lead on other blocks (this is also visibl

[2021-06-02 19:15] SlowDeepExhalation commented on #636
A comment--after testing to verify this, it does seem more common, but **it is not something fixed in RC.**  Double hooking something can still occasionally cancel gas in all mods I've played, unless you are either swinging blades at time of contact, playing AHSS, or canceling a gas burst.  I haven't verified the latter two in AoTTG 2 myself, but swinging blades does protect gas as in AoTTG1 mods.

[2021-06-02 23:25] Acros5542 commented on #636
@SlowDeepExhalation Yeah I noticed it appeared to still happen in AoTTG1 when testing this, but it definitely feels like the effect is stronger/longer lasting in AoTTG2. Here's a quick video comparing the two: https://youtu.be/9NxRkdAhoAA
I used Jean so they both should have the same Accel stat

[2021-06-06 13:50] Lithrun commented on #634
Cloth physics have changed, so we need to re-add them with the Unity 2020 version. Did attempt to include these but the issue might be related to the model itself.

[2021-06-06 13:51] Lithrun commented on #635
As this is an existing AoTTG bug, will place it on low priority.

[2021-06-06 13:54] Lithrun commented on #638
Hero shouldn't be able to use special skill while on a horse. Either include for #116 or as a standalone bug issue.

[2021-06-06 13:56] Lithrun commented on #639
There's no persistence available. @AoTTG-2/development-team either add this or reset the dropdowns when the menu is opened again as the value & display value aren't in sync.

[2021-06-06 13:57] Lithrun commented on #643
Seems like the scriptable object for Mikasa AHSS is missing. Small one

[2021-06-10 19:55] SlowDeepExhalation opened #645 "Debug Functions"
**How will this feature improve the game?**
Debug functions would make it substantially easier for testers and developers to confirm the presence of bugs, as well as allowing us to study and define them much faster and more precisely.  Some bugs are extremely work intensive to examine, or almost impossible to reproduce for all but the most skilled players; isolating and fixing them would be greatl

[2021-06-11 19:42] Andrewman19 opened #646 "[PROPOSAL] More Customization Features"
**How will this feature improve the game?**
This feature, in my opinion, would greatly improve the games customization system, and make each player feel like they are their character in game. It will add a lot of reward to playing the game as well.

**Describe the solution you'd like**
I think adding more Customization features, and a currency (No paying though, everything should be earned In-game

[2021-06-14 21:13] Prolonpo commented on #446
From @seductive basket, trees should have falling particles
- or at least the option to put an animated sprite on them that would represent falling leaves (https://discord.com/channels/681641241125060652/683376785659789342/844893699871211520)

[2021-06-16 00:58] xcg2903 commented on #644
I've gotten the stomp a few times in my testing and it hasn't killed my like in the video for any of them

[2021-06-16 03:41] Acros5542 commented on #644
Hmm, may have been fixed unintentionally if you're testing on the development version, but this issue has been noticed by myself and other testers far more times than it has been recorded so at least on the Alphas it's still occurring.

It's a bit tricky to recreate it because of the attack-spam issue causing titans to constantly try and do their two-hit swing into slam combo, but if you keep tryi

[2021-06-16 19:18] Lithrun opened #648 "Add /// summary comments to all classes."
**How will this enhancement improve the game?**
AoTTG2 still has to deal with some vague AoTTG classes which does hundreds of things. So, adding summary comments to these classes will make things more clear. Additionally a diagram of the code architecture can be useful to developers.

**Describe the solution you'd like**
So, as the lead developer, I will add some comments trying to clarify what th

[2021-06-16 19:36] FAStre commented on #350
Stale Label removed and re-assigning myself to the issue as it is high priority and no one else has gotten the time for it. There are some uncommitted changes on my branch, but I have sent a new Build  in the testing channel today.

[2021-06-20 08:53] Acros5542 opened #649 "[BUG] Normal Titans are currently using the Aberrant death animation"
**Describe the bug**
Currently Normal Titans are using the death animation shared by Aberrants, Jumpers, and Punks in which they fall backwards upon death. Instead, they should be using their animation from AoTTG1 in which they fall forwards and at a slower speed than Aberrants do.

**To Reproduce**
1. Kill a Normal Titan in AoTTG1
2. Kill a Normal Titan in AoTTG2
3. Pay attention to the differenc

[2021-06-20 09:00] FAStre commented on #622
Closing as it is a partial duplicate of #649

[2021-06-20 09:00] #622 closed, assigned to nobody

[2021-06-20 09:03] AlexMercer1479 commented on #649
aight its coming up

[2021-06-20 09:23] Acros5542 opened #650 "[BUG] Titan Attack Spam"
**Describe the bug**
Already a known issue, just never got a bug report because it was said to be unfinished rather than bugged.
In AoTTG1, there's 3 parts to a Titan detecting and attacking you:
First, they detect you, where they're turn towards you or begin walking towards you
Second, you move within their cone of vision. This is about 100 degrees from the center of their front angle-wise as wel

[2021-06-20 11:21] #612 closed, assigned to Lithrun

[2021-06-20 11:21] Lithrun commented on #26
Included in #612

[2021-06-20 11:21] #26 closed

[2021-06-20 11:30] Lithrun opened #651 "Custom Map - Component Video - Remote control"
**How will this enhancement improve the game?**
As per #612, the Video component has been implemented (https://docs.google.com/document/d/1OKOG6z5rTZUYNbk6UrGFZd8ElJ2vI8yIx4J6dasePYw/edit#heading=h.bsplkksr1cej). However, players currently have no way to control what to play on this video player. So, implement a remote controller with which the master client can control what video is being played.

[2021-06-20 11:37] Lithrun opened #652 "Custom Map - Custom Textures implemention"
**How will this enhancement improve the game?**
AoTTG2 doesn't implement the "[Custom Textures](https://docs.google.com/document/d/1OKOG6z5rTZUYNbk6UrGFZd8ElJ2vI8yIx4J6dasePYw/edit#heading=h.vqzv71oqpf9u)" clause of the specification yet, so let's do it. Custom Textures will allow map creators to use any texture (.PNG format) within their custom maps, allowing dozens of more customization options

[2021-06-20 11:49] Lithrun opened #653 "Characters: Armin, Connie, Eren, Hanji, Jean, Marco, Mike, Petra, Rico, Sasha"
**How will this enhancement improve the game?**
Currently we have Annie, Kenny, Levi, Mikasa & Pixis. So let's add the remaining ones.

**Describe the solution you'd like**
Create the Character Presets for Armin, Connie, Eren, Hanji, Jean, Marco, Mike, Petra, Rico, Sasha

[2021-06-20 20:00] Acros5542 commented on #645
Added 6. Toggle option to show hitboxes, possibly could be higher on the list, depends on what's being tested

[2021-06-21 19:37] Lithrun commented on #645
@Acros5542 This needs to be a new issue, as effort for that alone is probably around 2. Please do not add additional workload to an estimated issue as otherwise 1-5 has to wait until 6 is done.

See: https://github.com/AoTTG-2/AoTTG-2/issues/657

[2021-06-21 19:40] Lithrun opened #657 "Debug Function - Visible colliders"
**How will this enhancement improve the game?**
Toggle option to show hitboxes, possibly could be higher on the list, depends on what's being tested.

**Describe the solution you'd like**
@Acros5542 fill in more specific details, as "hitboxes" is vague. Describe what is **exactly** required. Remove the rework tag once done

**Additional context**
For implementation, check out: https://github.com/p

[2021-06-21 20:48] #649 closed, assigned to AlexMercer1479

[2021-06-22 16:52] Lithrun commented on #624
Issue seems to cover both #636 and #105. Could you clarify further what the intend of this issue is? @FAStre @Acros5542

[2021-06-22 17:06] Acros5542 commented on #624
It does cover #636 yes, so it could either be split to just focus on correcting the character stats, or fix both and close #636 when it's complete.

I would not say this is related to #105 - 105's purpose is _changing_ how the character stats behave (mainly with regards to the BLD stat). As I've mentioned before, I would not consider #105 a finalized approach to doing so as ideas for further chang

[2021-06-22 17:44] Acros5542 commented on #510
On hold till multiplayer works.

[2021-06-22 17:48] Acros5542 commented on #507
Fixed and never closed >_>

[2021-06-22 17:48] #507 closed, assigned to nobody

[2021-06-22 17:59] #505 closed, assigned to nobody

[2021-06-22 18:00] Acros5542 commented on #505
Actually not able to recreate this, closed for now. Alpha 3 label was a mix-up since it was similarly named to another issue that needed it readded.

[2021-06-22 18:28] Acros5542 commented on #453
Removed On Hold, #33's been merged for a while now.

[2021-06-22 18:29] #461 closed, assigned to nobody

[2021-06-22 18:29] Acros5542 commented on #461
Fixed and never closed.

[2021-06-22 18:32] Acros5542 commented on #488
Issue still exists, seems harder to actually clip within walls using it now. Possibly due to collider changes or something from #33.

[2021-06-22 18:34] Acros5542 commented on #479
On Hold till multiplayer works.

[2021-06-22 18:35] Acros5542 commented on #478
On Hold till multiplayer works.

[2021-06-22 18:39] Acros5542 commented on #388
On Hold until multiplayer works.

[2021-06-22 18:41] #463 closed, assigned to nobody

[2021-06-22 18:41] Acros5542 commented on #463
Fixed but never closed.

[2021-06-22 18:43] Acros5542 commented on #463
They do still become less visible on lower settings, but I don't care until the new UI is put in place.

[2021-06-22 18:47] Acros5542 commented on #433
The interaction wheel behaves differently in Alpha 3. It does now lock your inputs, but you will still move if opening it. Unclear if this issue is still present as the interaction wheel no longer has actions tied to the refill stations or distance from it. On Hold for now.

[2021-06-22 18:49] Acros5542 commented on #399
Any update on this? @Lithrun

[2021-06-22 18:50] #643 closed, assigned to sxlksxskul

[2021-06-22 18:50] Acros5542 commented on #387
On Hold till multiplayer works.

[2021-06-22 18:51] Acros5542 commented on #385
On Hold till multiplayer works.

[2021-06-22 18:52] Lithrun commented on #399
None as we don't have any Mac developers available.

[2021-06-22 18:52] Acros5542 commented on #383
On Hold till multiplayer works.

[2021-06-22 18:54] Acros5542 commented on #354
On Hold till multiplayer works.

[2021-06-22 18:57] Acros5542 commented on #623
Related to #346 as well.

[2021-06-22 19:01] Acros5542 commented on #347
In some way outside of this project, this issue has been erased entirely. Not just in new builds but retroactively in old builds and in AoTTG1.

[2021-06-22 19:01] #347 closed, assigned to nobody

[2021-06-22 19:02] Acros5542 commented on #344
The lighting changes in #113 kind of mask this issue, but it's still present and depending on your settings is still noticeable.

[2021-06-22 19:04] Acros5542 commented on #320
The AI is still incorrect (as are all Titans), although at a second look, most likely the reason she so easily scales trees is because of #453 causing her to retain too much speed when she bumps into them.

[2021-06-22 19:05] Acros5542 commented on #319
On Hold until Player Titans are available again.

[2021-06-22 19:06] Acros5542 commented on #316
She now plays the death animation, but the second phase of her fight (the additional titans spawning in) has not been implemented, since I'd _presume_ that's known because the error code in game indicates it's unfinished, I'll close this issue.

[2021-06-22 19:07] #316 closed, assigned to nobody

[2021-06-22 19:10] Acros5542 commented on #265
On Hold till multiplayer and spectator mode work again.

[2021-06-23 17:37] Prolonpo opened #658 "[PROPOSAL] Multi-Weapon Special Ability"
**How will this feature improve the game?**
This would allow players to have a more fluid equipment allowing them to adapt to more situations with new tactics.

Initial idea by @Prolonpo with helpful input by the rest of the Proposal team

**Describe the solution you'd like**
A special ability will allow a player to equip 2 thunderspears on top of one of the original classes at the cost of lesser

[2021-06-23 20:15] FAStre opened #659 "Upgrade the URP package to version 10.4.0 and Unity to version 2020.2.7f1"
**How will this enhancement improve the game?**
Currently, one tester with an extremely low spec computer and integrated GPU, is still seeing pink textures and materials in AoTTG2 after the upgrade to URP. The problem seems to arise from having a very old low power integrated GPU. URP version 10.4.0 seems to have [fixes](https://docs.unity.cn/Packages/com.unity.render-pipelines.universal@10.4/chan

[2021-06-24 05:07] Adonca2203 commented on #114
Currently the inventory system works like a charm. You are able to pick up items that are placed on the map and load a flexible radial menu which is populated with your items and refreshed upon item addition or removal. You are also able to use any item in your inventory wheel by clicking on it. I'm currently working on adding functionally for the lantern and then I'll move onto the rifle.

[2021-06-24 17:42] Prolonpo opened #661 "[PROPOSAL] To the Art Team: Lightning when Titans Spawn"
**How will this enhancement improve the game?**
Makes titan spawning cooler

Idea by @Puppy [Holo Simp] and @Seductive Basket (https://discord.com/channels/681641241125060652/683107211983323164/857676383391711272)

**Describe the solution you'd like**
When titans spawn, instead of a sudden apparition or some smoke, lighting should come or should glow at the location that the titans are spawning.

[2021-06-24 18:05] Acros5542 opened #662 "[BUG] Speedometer"
**Describe the bug**
The speedometer currently rounds up to the nearest .1 (so for example if you're going fast enough to hit 2690, the speedometer will display your speed as 2.7K). This is not the same as AoTTG, in which it floors the numbers so it won't show 2.7K until you're at least going fast enough to hit 2,700 damage.
Rounding up sounds more logical on paper, but in practice it's a little m

[2021-06-24 18:15] Lithrun commented on #662
So use this https://docs.unity3d.com/ScriptReference/Mathf.Floor.html

[2021-06-24 18:21] sxlksxskul commented on #662
yup just have to wait to change branches which takes a million years for me

[2021-06-24 21:08] sxlksxskul commented on #653
Currently all newly added characters so far (Armin, Eren, Jean, Marco, Petra) have no hair as there are no options for the specific characters, all newly added male characters have "Uniform MB 1" as their outfit, Petra's outfit is currently "Uniform FB Annie" as there are no other options for female outfits besides "Uniform FB Mikasa". I also noticed that there is no option for Sasha's ability whe

[2021-06-24 21:23] #662 closed, assigned to sxlksxskul

[2021-06-24 21:25] #659 closed, assigned to FAStre

[2021-06-26 20:26] DjFrytek commented on #641
Found a possible fix in SpawnMenuV2.cs, Spawn() function.
If there are no problems found with that solution I will most likely assign myself.

[2021-06-26 22:24] DjFrytek commented on #530
When I worked on racing ring colliders issue, there was a problem when player would jump really high when standing on the ring, the steeper the slope, the higher the jump. I ended up dissecting the ring into smallest parts possible, but it would still happen. I believe the problem was with it using mesh collider, or something along those lines while also not having all sides, meaning you could wal

[2021-07-01 05:22] Adonca2203 commented on #114
There's a bug with the light on the lantern in which whenever i face south on any map, the light distance shortens itself on the ground to a point where it's near invisible however it still lights up walls. Unsure what the cause is, i tried changing the ground texture for a wall texture and it did not fix the issue. For now I will be moving onto the rilfe.

[2021-07-04 18:12] #639 closed, assigned to DjFrytek

[2021-07-08 19:20] Dvid000 opened #665 "[3D Model Request]"
**Information**
Describe what the object should look like, and be able to do.

**Why is this 3D Model needed?**
A clear and concise description of the importance of this model.

**References**
Include images which can be used as a reference for the 3D artist.

[2021-07-11 13:56] #641 closed, assigned to DjFrytek

[2021-07-11 13:58] Lithrun commented on #665
@Dvid000 was this made by accident? As there's no description within this issue

[2021-07-12 15:16] sxlksxskul commented on #653
So two problems have popped up (credit to Crimson Hunter for letting me know).

![image](https://user-images.githubusercontent.com/84128082/125311624-73c01880-e32b-11eb-970a-d179e3954193.png)
The first problem would be weird white textures as seen above. This problem seems to have been present for a good while since the first characters (e.g. Mikasa) all have this problem. Most likely hasn't been

[2021-07-12 21:05] #245 closed, assigned to Adonca2203, winnpixie

[2021-07-13 13:29] Prolonpo opened #667 "[PROPOSAL] New Titan and Player Titan Skill: Death Hug"
**How will this feature improve the game?**
Idea by @Venos (https://discord.com/channels/681641241125060652/683107211983323164/857678255967174696)

Developed by @Prolonpo

This will make titans much more dangerous against shifters (as shifters are now simply bulldozing through hordes of titans without any actual danger)

**Describe the solution you'd like**
Titans and Player Titan will have an add

[2021-07-18 09:39] SlowDeepExhalation commented on #624
I took the liberty of updating this issue, as recommended by Acros, and adding additional necessary information.

[2021-07-18 10:39] SlowDeepExhalation opened #668 "[BUG] Vertical hook pull is too weak"
**Describe the bug**
When your character hooks any object above or below them, they're pulled upwards or downwards towards that object.  The farther away the object, the harder your character is pulled.  If you land two hooks, the pull is increased substantially.

In AoTTG2, vertical hook pull is significantly weaker than it is in RC.  This is due both to the characters having incorrect ACL values

[2021-07-19 19:50] Lithrun commented on #648
Yes yes, I am now actually starting with it. I mean, who doesn't like adding comments?

[2021-07-21 16:46] Alex-Mod-Bot152 opened #669 "[PROPOSAL] Female Titan"
### **Point 1- General stuff about Female Titan**

Female titan is a 15 meter titan that has the appearance of like the name suggests, female. It’s worth noting that this appearance is quite unusual for a titan since they generally have male of non binary appearance.

### **Point 2- Usage of Female Titan**

Female titan is a nimble, quite fast titan that has good parrying and counter attack abilit

[2021-07-22 21:49] Lithrun commented on #624
The BLD (Blades stat) can be ignored, as it will no longer be in AoTTG2 as it's going to be replaced by EQP (Equipment) which will work for Blades, AHSS and ThunderSpears as mentioned in #105

[2021-07-23 08:02] WizardOfXerox opened #670 "Blade,Gas hud"
**How will this feature improve the game?**
Customization of the Huds like a skin

**Describe the solution you'd like**
Like a image it can be loaded like a skin

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Contributor instructions** (Do not modify)
1. Determine if the feature is compatible with existing

[2021-07-23 12:33] Prolonpo commented on #670
@WizardOfXerox Have you received permission from any Proposal Member for posting this idea here?

The idea is good though

[2021-07-23 13:15] Prolonpo opened #671 "[PROPOSAL] Mike Skill aka Titan Detection ability"
**How will this feature improve the game?**
Idea by @antigasp, input from @Prolonpo

See the following links for reference:
- https://discord.com/channels/681641241125060652/683107211983323164/868115290720993312
- https://discord.com/channels/681641241125060652/683107211983323164/868116031648976937

**Describe the solution you'd like**
A new support skill should be added and its mechanic is descri

[2021-07-23 13:19] Prolonpo opened #672 "[PROPOSAL] Supplier Skill"
**How will this feature improve the game?**
Idea by @antigasp, input from @Prolonpo

See the following links for reference:

https://discord.com/channels/681641241125060652/683107211983323164/868115290720993312
https://discord.com/channels/681641241125060652/683107211983323164/868116031648976937

**Describe the solution you'd like**
This skill will temporarily replace a player's current ability as

[2021-07-23 14:57] Prolonpo opened #673 "[PROPOSAL] Wider Blade Texture Option"
**How will this enhancement improve the game?**
Idea by @Red

This will allow more customization and make blades more personalized for players.

**Describe the solution you'd like**

This will be achieved by having the blade skin taking into consideration a larger area - the hitbox will be the same as the original one.

![image](https://user-images.githubusercontent.com/72053473/126800262-b9cd3090

[2021-07-23 15:03] Prolonpo opened #674 "[PROPOSAL] Ability to sheathe and unsheathe blades - To the Dev Team"
**How will this enhancement improve the game?**
Idea by @Inco, input by @Prolonpo (https://discord.com/channels/681641241125060652/683107211983323164/868136013707501668)

This will allow more roleplaying and more immersion for players.

Allowing them to move around without blades when in a secure zone, and then having to unsheathe their blades if a threat appears - which is very cool

Animation sh

[2021-07-23 15:27] play-k commented on #313
Additional Achievement idea from me
"Humanities strongest" have more kills then everyone else in a single round
Post: https://discord.com/channels/681641241125060652/681647375336341522/868124983958831154

[2021-07-23 17:52] Prolonpo commented on #518
Additional details from @~L~

https://discord.com/channels/681641241125060652/683376807101071489/864439402750148640

[2021-07-23 21:49] Prolonpo opened #675 "[PROPOSAL] Air Dash Special Skill"
**How will this feature improve the game?**
Idea by @Dakros

Provide one additional skill for players to customize their playstyle.

More a movement based one rather than an offensive one.

**Describe the solution you'd like**

This is a skill that will consume gas upon being used and will allow its users to quickly move through the air to avoid obstacles or incoming attacks from titans or humans.

[2021-07-24 14:49] Prolonpo opened #676 "[PROPOSAL] Medic Skill"
**How will this feature improve the game?**
Idea stemming from Supplier Skill (see #672)

This will allow the medic role to be less fixed in place and more dynamic making this role more popular.

**Describe the solution you'd like**

The active form of the medic skill involves the following:
- Pick up the remainings of a dead teammate
- Press the special skill triggering the reviving animation (ta

[2021-07-24 21:01] Lithrun commented on #653
I looked at the image, but I do not see any white textures? Could you specify this further?

It might be due to the fact that the texture of hair models you are trying to use is missing? Assure that the Human Hair Component has a texture available in it, like with Mikasa as an example:
![image](https://user-images.githubusercontent.com/22615133/126880996-130b0183-caed-4d2a-83bb-7abfa1916dae.png)

[2021-07-25 14:37] Prolonpo commented on #492
Note related to #37

[2021-07-25 14:40] Prolonpo commented on #492
**Discussion regarding Thunder Spears activation (normal attack and special attack)**

Normal attack: launches a singular thunder spears (launches from the side that doesn't have its hook engaged - if both hooks are engaged, the thunder spear is launched from the side with the most number of thunder spears remaining)

Special attack: a charge up ability, the longer the user holds the button, the m

[2021-07-25 14:56] #407 closed, assigned to nobody

[2021-07-25 20:56] #648 closed, assigned to Lithrun

[2021-07-26 03:35] Prolonpo opened #679 "[PROPOSAL] Colossal Titan"
**How will this feature improve the game?**
Idea from @Crimson Hunter

**Describe the solution you'd like**
Please see: https://docs.google.com/document/d/1-bA49-5egJqYPkB3LgzjVicGOtYXDbuHkP3BECmUeWI/edit?usp=sharing

**Describe alternatives you've considered**
N/A

**Contributor instructions** (Do not modify)
1. Determine if the feature is compatible with existing features and fits within the sco

[2021-07-26 12:38] sxlksxskul commented on #653
![image](https://user-images.githubusercontent.com/84128082/126987959-047ccd4e-1575-4cb6-8e9b-abd7099e6a38.png)

Do you see the area around his eyes and nose, how the skin is a very light colour. Then look towards his hair at the side (at least the area where he would have hair since he is bald) and around his ears. The skin there is a completely different shade from the front of his face (the are

[2021-07-26 16:00] Lithrun commented on #653
It looks like that because of the texture itself, so the texture itself would need to be updated.

Hm alright, I will investigate this and see if I can find the issue. Stay tuned~

[2021-07-26 16:32] Lithrun commented on #653
![image](https://user-images.githubusercontent.com/22615133/127025169-b1ca6948-5f62-49ec-aef7-6916e21bd47f.png)
Apparently there is no hair color set for those characters? If it's 0, 0, 0, 0, then it will just use the textures default color.

There is a small bug with the editor script, as you have to increase the size of the inspector window, otherwise you will not be able to see certain fields,

[2021-07-26 16:34] Lithrun commented on #604
Assigned to self, but will first pickup #645 as it's more urgent.

[2021-07-27 20:14] Prolonpo commented on #451
Issue closed after the Proposal Team rejected this proposal.

[2021-07-27 20:14] #451 closed, assigned to nobody

[2021-07-27 20:29] atirutw commented on #451
:cry:

[2021-07-28 14:21] Prolonpo commented on #492
Update (July 28th, 2020)

After the community vote (https://discord.com/channels/681641241125060652/683104471273701421/869926656838623303), it was determined that Option 4 from the community vote will be the way that thunder spears are going to be used in AoTTG2.

There are talks regarding implementing Option 1 as a side alternative allowing the players to switch between different modes of using t