[2021-07-28 14:21] Prolonpo commented on #37
Make sure that this issue also takes into consideration #492

[2021-07-29 15:07] Prolonpo commented on #665
Also noticed this weirdness, issue closed as there is no detail present.

[2021-07-29 15:07] #665 closed, assigned to nobody

[2021-07-29 15:09] Prolonpo commented on #670
Transferred the content to #318 as this issue is fairly brief.

Issue closed for the sake of de-cluttering the GitHub issues.

[2021-07-29 15:09] #670 closed, assigned to nobody

[2021-07-29 15:09] Prolonpo commented on #318
Additional details in this issue #670 & transferring it in this comment as it is fairly brief and concise

[2021-07-29 15:14] Prolonpo commented on #56
The new sets of proposals for shifters might also address the current situation of Titan Shifters being over-powered.

Wondering if I should close this issue as this issue might become redundant after the talk from the Titan Shifter proposal that are also aimed at making them more balanced.

[2021-07-29 15:20] Prolonpo commented on #153
Close this issue as all steps are marked as complete? @Lithrun

[2021-07-29 15:26] Prolonpo commented on #56
After consulting with the staff, this issue was deemed redundant with how AoTTG2 has currently progressed.

Reference: https://discord.com/channels/681641241125060652/683483289289621515/870323723884961864

Closing this issue.

[2021-07-29 15:26] #56 closed

[2021-07-29 15:35] #409 closed, assigned to nobody

[2021-07-29 15:38] Prolonpo commented on #418
As this is a small improvement to the game and causes no drastic change, thus the label "Proposal" was dropped and this task has been assigned to the Dev Team and the Art Team.

[2021-07-29 15:40] Prolonpo commented on #417
Simple addition to AoTTG2, more a quality of life improvement and immersion improvement - no drastic changes, simply visual. Dropped the "Proposal" label and assigned to the Dev team.

[2021-07-29 15:45] Prolonpo commented on #439
Closing this issue as the latest dev blog showcases the implementation of multiple sound effects which shows that this issue has been taken care of

Latest dev blog: https://youtu.be/HdUpCrfQcfM

[2021-07-29 15:45] #439 closed, assigned to nobody

[2021-07-29 16:48] Prolonpo commented on #584
Although this issue sounds good on paper, finding a voice actor for each language that is going to be supported for AoTTG2 goes way beyond this project's current capability.

Reference: https://discord.com/channels/681641241125060652/683483289289621515/870332750866047058

Thus, closing this issue.

[2021-07-29 16:48] #584 closed, assigned to nobody

[2021-07-29 16:48] Prolonpo commented on #324
Although this issue sounds good on paper, finding a voice actor for each language that is going to be supported for AoTTG2 goes way beyond this project's current capability.

Reference: https://discord.com/channels/681641241125060652/683483289289621515/870332750866047058

Thus, topics related to voice lines should be removed and only emotes should be considered.

[2021-07-29 16:51] Prolonpo opened #681 "[PROPOSAL] Emotes and Facial Emotions Update"
**How will this feature improve the game?**
This will make AoTTG2 more role-playable and can provide an additional layer of immersion for players

**Describe the solution you'd like**
This is related to #324 and summarizes the ideas related to emotes and emotions that AoTTG2 characters could display.

From @filth, have a similar options but for emotes (dances, victory pose, pointing, etc.)

Refere

[2021-07-29 16:59] Prolonpo commented on #324
Created a new issue summarizing the ideas related to emotes and emotion on AoTTG2 characters, can be found in #681

Closing this issue to de-clutter AoTTG2's GitHub

[2021-07-29 16:59] #324 closed, assigned to nobody

[2021-07-29 18:45] Prolonpo commented on #646
Definitely an interesting idea... but implementation entirely depends what resources are available for the dev team (which is very scarce)

In addition, this will require extra testing and debugging in order to avoid exploits with the in-game currency.

There is an earlier proposal #421 that also tackles the topic of Customization Features, but offers the ability to customize one's character direc

[2021-07-29 18:52] Prolonpo commented on #75
Label Update: since this issue is part of the MVP, swapped the label "Low Priority" for "MVP"

[2021-07-29 19:02] Prolonpo commented on #485
In the aftermath of the 4th Proposal Meeting, it was determined that further discussion will be required (putting the "On Hold" label)

[2021-07-29 19:03] Prolonpo commented on #496
This issue was accepted during the 4th proposal meeting

[2021-07-29 19:04] Prolonpo commented on #550
Accepted during the 4th proposal meeting.

[2021-07-29 19:05] Prolonpo commented on #554
Approval granted from the 4th proposal meeting

[2021-07-29 19:07] Prolonpo commented on #555
Summary of the results of the 4th proposal meeting

Accepted:
- Scream
- Mad rush
- Spinning (testing requires)
- Super smash
- Rock Throwing

Further Discussion required - Postponed:
- Nape Hardening
- Detach Hooks

Rejected:
- Run Push

[2021-07-29 19:13] Prolonpo commented on #574
All special skills have been accepted during the 4th proposal meeting:
- Mikasa
- Petra
- Levi
- Marco
- Armin
- Jean (Proposal meeting said that the 50 titans to recharge the ability should be lowered to 10-20 titans)
- Sasha
- Mike (new titan detection skill that puts a spin on this #671)

Details for this issue:
![image](https://user-images.githubusercontent.com/72053473/127553268-94250eb1-8770

[2021-07-29 19:15] Prolonpo commented on #671
Unless we want to rename the skill in https://github.com/AoTTG-2/AoTTG-2/issues/574#issuecomment-889393023 or the skill in this issue, there is the problem of overlap between both of those.

[2021-07-29 19:18] Prolonpo commented on #588
Conclusion from the 4th proposal meeting: requires a LOT of testing

**Worth implementing and testing** - partially approved, put putting on hold as this will require significant discussion on this

[2021-07-29 19:19] Prolonpo commented on #613
4th Proposal Meeting approved this issue

Details for the approval can be found below:

![image](https://user-images.githubusercontent.com/72053473/127552920-5b5fcd4c-df0b-4b22-a557-4235ef057125.png)

[2021-07-29 19:20] Prolonpo commented on #587
Both authors' (Prolonpo and Hawk) section have been approved

Details below:
![image](https://user-images.githubusercontent.com/72053473/127553061-af67a722-76ee-47cc-b940-f19b6b508a2e.png)

[2021-07-29 19:25] Prolonpo commented on #75
My apologies, confusion plagued my mind...

[2021-07-29 23:59] Prolonpo commented on #295
As there were additional elements added to this issue since its evaluation during the first proposal meeting, a re-evaluation of which section to approve is required

Notes from the 1st proposal meeting:
![image](https://user-images.githubusercontent.com/72053473/127580092-0eed5a70-2380-43c1-8aba-056ae21d2f95.png)

[2021-07-30 00:00] Prolonpo commented on #297
insufficient result from the first proposal meeting (notes attached), need the Proposal Team's input on this:

![image](https://user-images.githubusercontent.com/72053473/127580205-809e8ba1-3247-4908-8ce4-d4d4b4712e31.png)

[2021-07-30 00:01] Prolonpo commented on #298
Inconclusive result from the first proposal meeting, request for the Proposal Team to investigate further into this matter

[2021-07-30 00:12] Prolonpo commented on #310
Additional ideas were brought to this issue and the first proposal meeting didn't bring any conclusive decision on this matter, request for the Proposal Team to investigate on this issue
- Might want to reach out to the Art Team in order to see which elements have been completed so far

1st Proposal Meeting's notes:
![image](https://user-images.githubusercontent.com/72053473/127580868-4cf03e37-a8b

[2021-07-30 13:57] Prolonpo commented on #574
Important note: after consulting with the Proposal Team, Mike's skill should reflect #671 instead of the one present here.

[2021-07-30 13:58] Prolonpo commented on #671
Update to the previous comment of the overlap problem: the skill described here for Mike is the one that is going to be used for AoTTG2 - please ignore the Mike skill described in #574

Updated the labels accordingly.

[2021-07-31 01:13] Prolonpo commented on #313
From the result of the 2nd proposal meeting, this issue has been approved.

Future individual achievement will be approved or rejected at the discretion of the staff.

[2021-07-31 01:14] Prolonpo commented on #314
Apparently this issue has already been in the alpha closing this issue due to this reason.

[2021-07-31 01:14] #314 closed, assigned to nobody

[2021-07-31 01:15] Prolonpo commented on #323
Approved from the 2nd proposal meeting

[2021-07-31 01:16] Prolonpo commented on #318
2nd Proposal Meeting approved this issue

![image](https://user-images.githubusercontent.com/72053473/127724149-34042144-f770-49cf-8f49-6a1c9550e6ec.png)

[2021-07-31 01:17] Prolonpo commented on #325
Additional discussion required was the concluding remark during the 2nd proposal meeting.

[2021-07-31 01:19] Prolonpo commented on #326
All of these considerations have been taken note by the Art team, and thus no need to keep this issue open.

[2021-07-31 01:19] #326 closed, assigned to nobody

[2021-07-31 01:20] Prolonpo commented on #328
2nd Proposal Meeting approved this

![image](https://user-images.githubusercontent.com/72053473/127724256-c0958118-a16f-402e-9428-b28f6a57ca7c.png)

[2021-07-31 01:21] Prolonpo commented on #329
2nd proposal meeting approved of this

![image](https://user-images.githubusercontent.com/72053473/127724286-edc1c900-8635-4269-b1ac-7704437d1e38.png)

[2021-07-31 01:22] Prolonpo commented on #330
2nd proposal meeting approved this

![image](https://user-images.githubusercontent.com/72053473/127724306-77b02add-e65e-487c-bcde-8115404a4fb9.png)

[2021-07-31 01:22] Prolonpo commented on #330
Put mapping team here as their input as to where the supplier should stop would be important

[2021-07-31 01:23] Prolonpo commented on #331
2nd Proposal Meeting approved this issue:

![image](https://user-images.githubusercontent.com/72053473/127724336-b35ed663-d501-43a0-a73a-da8dfdcd940b.png)

[2021-07-31 01:23] Prolonpo commented on #333
2nd Proposal Meeting approved this

![image](https://user-images.githubusercontent.com/72053473/127724361-d15fb72c-0976-4fbf-b522-5d3509c47b90.png)

[2021-07-31 01:24] Prolonpo commented on #334
2nd Proposal Meeting approved this

![image](https://user-images.githubusercontent.com/72053473/127724382-2eded69b-4d3b-40ec-8ba0-2cb8619dd22d.png)

[2021-07-31 01:25] Prolonpo commented on #391
Notes on this issue from 3rd Proposal Meeting

![image](https://user-images.githubusercontent.com/72053473/127724441-596b84f7-17b6-435c-95d2-c446c3c8072c.png)

[2021-07-31 01:27] Prolonpo commented on #412
Notes from the 3rd Proposal Meeting

![image](https://user-images.githubusercontent.com/72053473/127724482-ef8662b3-2e51-4b2f-9f37-a39183038fad.png)

[2021-07-31 01:27] Prolonpo commented on #414
Notes from the 3rd Proposal Meeting

![image](https://user-images.githubusercontent.com/72053473/127724507-7c3effe9-8be7-44b8-b5d9-813dec4927d8.png)

[2021-07-31 01:28] Prolonpo commented on #415
Closing this issue

[2021-07-31 01:28] #415 closed, assigned to nobody

[2021-07-31 01:32] Prolonpo commented on #573
Notes from the 3rd Proposal Meeting approved this issue

![image](https://user-images.githubusercontent.com/72053473/127724613-890ee3e1-97a3-47e4-b312-c655b8443c6d.png)

Note that the attached picture is about how proximity chat can affect titan behavior - as this is way too complex this feature was abandoned.

However, proximity voice chat is still welcomed and approved.

[2021-07-31 01:33] Prolonpo commented on #396
As this is a fairly small improvement, this should take too much resources. Approved.

[2021-07-31 01:34] Prolonpo commented on #395
Related somewhat to #673

[2021-07-31 01:34] Prolonpo commented on #673
Related somewhat to #395

[2021-07-31 01:36] Prolonpo commented on #600
Updated the labels

[2021-07-31 01:37] Prolonpo commented on #400
Small implementation that'd be neat for players and doesn't drastically change AoTTG2's core mechanics. Approved

[2021-07-31 01:39] Prolonpo commented on #403
As dummy titan models have been created and there already has a game mode to strike them down, this seems that this issue overlaps their information.

Closing this to declutter the GitHub page.

[2021-07-31 01:39] #403 closed, assigned to nobody

[2021-07-31 01:41] Prolonpo commented on #410
Considering that Annie's Titan was nicknamed the Female Titan, this means that other titans had mostly male body types - and Annie's Titan was special due to its body type.

Thus this issue would be too much relevant in light of what the show offers.

Closing this issue due to the mentioned reasons.

[2021-07-31 01:41] #410 closed, assigned to nobody

[2021-07-31 01:43] Prolonpo commented on #413
Closing this issue as there are more in-depth issues on specific shifters and this only acts a general overlap of those specific issues.

[2021-07-31 01:43] #413 closed, assigned to nobody

[2021-07-31 01:44] Prolonpo commented on #443
The art team was able to create a few idle animation already and thus this issue has been covered.

Closing this issue.

[2021-07-31 01:44] #443 closed, assigned to nobody

[2021-07-31 01:53] Prolonpo commented on #483
Should definitely be an option. Approved.

[2021-08-01 15:36] Prolonpo commented on #675
Precision: the air dash special skill should also work on a vertical way (yes you would be able to gain height or to quickly dash towards the ground based on if the camera is upward or downward)

[2021-08-02 13:06] PoleDark commented on #671
What are needed in the art team here @Prolonpo?
So far we'll handle

- [ ] Skill Sprite
- [ ] Skill Animation
- [ ] Sound Effects

[2021-08-02 13:53] Prolonpo commented on #671
@PoleDark The art team would also need to consider the skill's visual effect
- What sort of markers for titans that were pinged with this ability?
- Should we have different markers for different types of titans (including shifters) or should they all be the same?
- What should the warning of a teammate getting grabbed look like?

[2021-08-02 20:21] Prolonpo opened #685 "[PROPOSAL] New Weapon: Musket"
**How will this feature improve the game?**
This will allow AoTTG2 players to be able to deal with titans using a brand new long-ranged weapon.

The details in this issue were the result of the discussion amongst AoTTG2 staff

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/72053473/127917526-0386633b-dabc-4507-88d8-9be29d9daf6b.png)

The AoTTG2 musket woul

[2021-08-02 20:29] #645 closed, assigned to Lithrun

[2021-08-02 20:29] Lithrun commented on #657
Closed as per #684

[2021-08-02 20:29] #657 closed, assigned to nobody

[2021-08-04 18:59] Prolonpo commented on #313
Since wildlife is going to be added to AoTTG2...

New Achievement: WTF DUDE

You shot 100 wild animals (deer, birds, etc.) with a musket...

Alright... so BBQ anyone?

[2021-08-04 19:13] Prolonpo commented on #518
Update: birds and deers are currently being worked on by the Art Team, so it seems that animals would also be implemented in the game.

[2021-08-05 15:11] Prolonpo opened #686 "[PROPOSAL] Game Mode: Rod Reiss Battle"
**How will this feature improve the game?**
Adds an additional epic game mode to AoTTG2 that will challenge the players to accomplish a certain goal.

Initial mention by @Freddy, pointed recently by @SX, proposal details written by @Prolonpo, and feedback from @antigasp and the rest of the staff.

_Reference links (some are only accessible by AoTTG2 staff):_
- Questions about Freddy's post: https:

[2021-08-08 01:57] Prolonpo opened #687 "[PROPOSAL] Thunder Artillery"
**How will this feature improve the game?**
An idea that stemmed within the Proposal Team with @antigasp mention leading to the discussion

This will be a long-range form of the Thunder Spear capable of killing clusters of titans from a distance, resulting in less casualties for soldiers.

Reference links (some may only be accessible to AoTTG2 staff):
- antigasp's initial suggestion: https://disco

[2021-08-08 15:27] Prolonpo commented on #402
Update, as Levi skill already switches the blade holding style for the character, it seems that this issue has been implemented, changing the labels accordingly.

[2021-08-08 15:28] Prolonpo commented on #467
Updated the labels accordingly

[2021-08-08 15:29] Prolonpo commented on #472
Small addition, would be neat and a great way to tell which horse is yours - if the player doesn't want a horse name, they can always leave that field blank.

[2021-08-08 15:30] Prolonpo commented on #571
Updated the labels accordingly

[2021-08-08 15:32] Prolonpo commented on #556
Makes sense

[2021-08-08 15:35] Prolonpo commented on #398
As this is definitely a cool and popular add-on to AoTTG2, this is accepted.

[2021-08-08 15:36] Prolonpo commented on #401
Makes sense, this small addition should make the game more realistic and less weird with a giant mass of flesh stopping in a fraction of a second.

[2021-08-08 15:40] Prolonpo commented on #421
As this proposal has a lot of overlap with #34, it might be better for the Proposal team to take a closer look

[2021-08-08 15:43] Prolonpo commented on #471
This proposal makes sense and would improve the immersion of AoTTG2.

[2021-08-08 15:45] Prolonpo commented on #497
Camera shaking looks to be something that already exists in AoTTG1 (when an aberrant bellyflops near you, the camera shakes), which means that it makes sense that this proposal is also ground to AoTTG2 (although testing would be required to see if the shaking is too intense)

[2021-08-08 15:49] Prolonpo commented on #632
This issue should definitely be fixed as it is rather annoying to go from 1k speed to 0 speed when jumping and dodging kills all of the momentum.

Although perhaps a backward dodge (holding the movement button opposite to the direction of the slide) and combined with a dodge could activate an emergency break movement where the player creates a lot more particle and is able to slow down drastically

[2021-08-08 15:51] Prolonpo commented on #674
@Ryu Cid also mentioned how players that have stored their blades away should run 50% faster

https://discord.com/channels/681641241125060652/683107211983323164/868166945353125908

[2021-08-09 12:08] Prolonpo opened #688 "[PROPOSAL] Render distance Improvement - Object blur at the end of render distance and slowly clears up as it gets closer to the player"
**How will this enhancement improve the game?**
The way that AoTTG1 dealt with render distance was by covering objects with a thick fog of darkness.

When that fog of darkness was lifted up, the render distance showed a weird line in the horizon where objects within the render distance were loaded in and those outside of it never appeared.

Answer & Mention by Definitely no Ice: https://discord.co

[2021-08-09 13:27] Prolonpo commented on #395
After investigation with the Proposal Team, this issue was accepted:

Link to the investigation (only accessible by staff): https://discord.com/channels/681641241125060652/760893594374111302/873959197715337327

[2021-08-09 13:27] Prolonpo commented on #442
After investigation with the Proposal Team, this issue was accepted:

Link to the investigation (only accessible by staff): https://discord.com/channels/681641241125060652/760893594374111302/873959197715337327

[2021-08-09 13:27] Prolonpo commented on #440
After investigation with the Proposal Team, this issue was accepted:

Link to the investigation (only accessible by staff): https://discord.com/channels/681641241125060652/760893594374111302/873959197715337327

[2021-08-09 13:28] Prolonpo commented on #446
After investigation with the Proposal Team, this issue was accepted:

Link to the investigation (only accessible by staff): https://discord.com/channels/681641241125060652/760893594374111302/873959197715337327

[2021-08-09 13:28] Prolonpo commented on #521
After investigation with the Proposal Team, this issue was accepted:

Link to the investigation (only accessible by staff): https://discord.com/channels/681641241125060652/760893594374111302/873959197715337327

[2021-08-09 16:47] Lithrun opened #689 "Asset Database"
**How will this feature improve the game?**
The "Asset Database" is part of our API. It will persist player assets, such as: skins, sets, settings and custom maps. The advantage of using this Asset Database, is that the community no longer has to rely on external forums or discord servers, and that we can directly integrate this within the game.

**Describe the solution you'd like**
- A basic UI i

[2021-08-09 17:00] Lithrun opened #690 "Self Hosted Photon Server Discovery Protocol"
**REQUIRES INTEGRATION WITH THE [PHOTON SERVER](https://github.com/AoTTG-2/AoTTG-2-Photon-Server/issues/18) AND [API](https://github.com/AoTTG-2/AoTTG-2-API/issues/10)**
**How will this feature improve the game?**
See the API issue for more exact details...

The Self Hosted Photon Server Discovery Protocol essentially allows anyone to host an unofficial AoTTG2 Photon Server. Each unofficial server

[2021-08-09 17:02] Lithrun opened #691 "Sound"
**How will this feature improve the game?**
Thanks to the composers, we now have a nice collection of OST & sound effects. So, now let's implement these within the game.

**Describe the solution you'd like**

- [x] crossfade between states

- [x] playlists should support adding multiple songs of the same stateType

- [x] when in a specific state, and a song ends, it should change to a random song

[2021-08-09 17:05] Lithrun opened #692 "Credits"
**How will this feature improve the game?**
So, a lot of awesome people have worked on AoTTG2 so far. Now we will need to list all of them down, and show them within our credits.

**Describe the solution you'd like**
Various concepts have been suggested, yet we still need to finalize how we exactly want to do this (a classical list or perhaps something more unique)

[2021-08-09 18:03] Lithrun opened #693 "Terms of Usage & Privacy Policy"
**How will this feature improve the game?**
Privacy Policy:
The API doesn’t use a lot of data, yet whatever is used/collected should still be written down in a privacy statement according to the GDPR.

Terms of Usage:
To specify what is, and what is not tolerated on the official multiplayer servers. In one word: commonsense, yet not all individuals have it, so we would need to write down things li

[2021-08-09 18:05] Lithrun commented on #111
Postponed to "Future" due to limited developer activity

[2021-08-09 18:06] Lithrun commented on #116
Postponed to future due to limited developer activity

[2021-08-09 18:06] Lithrun commented on #109
Postponed to future due to limited developer activity

[2021-08-10 23:24] Prolonpo commented on #394
After a discussion with the rest of the staff, the following proposal was accepted

Reference link only accessible to staff: https://discord.com/channels/681641241125060652/760893594374111302/874635005681344553

[2021-08-10 23:25] Prolonpo commented on #491
After a discussion with the rest of the staff, the following proposal was accepted - note that this graphic should be toggleable.

Reference link only accessible to staff: https://discord.com/channels/681641241125060652/760893594374111302/874635005681344553

[2021-08-10 23:27] Prolonpo commented on #538
After a discussion with the rest of the staff, the following proposal was accepted, although there were some additional points to keep in mind.

Additional points (https://discord.com/channels/681641241125060652/760893594374111302/874636940698329168)
- Amputation threshold should affect how far the decapitated limb flies with higher speed leading the amputated titan limb to fly further away
- Rege

[2021-08-12 14:46] Prolonpo commented on #691
Proposal Team's feedback:
- The art team already had previously mentioned that the music should be dynamic, which the Proposal Team definitely agrees on this point
- The game should have a detection system to know when titans are nearby and when players are engaging titans (for example, flying peacefully should have a different ost playing than flying with crawlers and punks chasing the player)

-

[2021-08-12 14:47] Prolonpo commented on #692
Proposal Team's feedback:
- As many volunteers were involved in this project, the following simple format should be used to credit volunteers:

- This would be a simple way to showcase and to credit all the help that the community has brought to the game

[2021-08-12 14:51] Prolonpo commented on #115
Proposal Team's feedback:
- Training game mode looks to be a mix between racing and speed-killing
- Points and rank should be based on how quickly the player was able to complete the course and how much damage they were able to do
    - Note that the rank should primarily based on the time it took the player to complete the course and this time could be cut down with the damage that the player was

[2021-08-12 15:14] Prolonpo commented on #115
Mappers feedback (@dark3art):

Training = tutorial, skill improvement & testing zone (as the map is designed in this manner)

Tutorial:
• Operating the 3dmg (how to fly with it, obstacle course to clear, perhaps a bullet dodge game where you learn how to use the 3dmg to dodge incoming objects flying towards you - reel in, reel out, gas burst, etc.)
• Killing titans (dummy models, fly to them and s

[2021-08-16 13:52] Prolonpo commented on #580
Controls would be the same as #620, but the damage is greater and the speed of the attack is slower

[2021-08-16 13:59] Prolonpo commented on #580
Default start at Neutral stat, press "2" to switch to speed mode, and press "1" to switch back to neutral mode

Activate the Defense mode by holding down RMB

[2021-08-16 14:05] Prolonpo commented on #426
Attack and defense controls should be the same (perhaps slightly modified) from #620

Swinging controls should be inspired from the 3DMG control (arms are basically shorter hooks)

[2021-08-16 14:10] Prolonpo commented on #611
Controls:

WASD to move around

If the battle variant is equipped: use mouse to aim and shoot guns (machine gun control is also mouse-controlled)
- Basically a tank

If the support variant is equipped: use mouse control to move/pickup things around
- Basically a giant extractor

To switch between equipment, need to go through the spawn menu (for now)

[2021-08-16 14:13] Prolonpo commented on #602
Beast's hand-to-hand animation should just be the Punk Bitch Slap attack (a slower version)
- Activated by pressing LMB when there is no rocks on the Beast titan's hand

[2021-08-16 14:15] Prolonpo commented on #669
Female Titan Update: changed the defense and parry mechanism keybinds (from LMB to E & Q)

[2021-08-16 14:22] Prolonpo commented on #679
In terms of control (for the attack and defenses), it seems that it should mainly be based on #620 with some inspiration from #602

[2021-08-17 20:11] sxlksxskul commented on #686
Pointed recently by Steve Stedman xd

[2021-08-18 15:15] Prolonpo commented on #329
Note about the aiming system and a new projectile path:

![image](https://user-images.githubusercontent.com/72053473/129924445-87b26a13-8209-42d9-8d84-2c25cfeff89a.png)

[2021-08-31 19:04] Lithrun commented on #561
Additionally, there should also be a server name size limit validation check on the Photon Server. @AoTTG-2/photon-server-squad should create an issue for that.

[2021-08-31 19:38] #146 closed, assigned to TheBoredProgrammer64, dark3art

[2021-09-04 22:05] Lithrun commented on #623
Should be resolved as per #604, please check in a build once available...

[2021-09-04 22:15] #558 closed, assigned to dark3art

[2021-09-07 07:53] dark3art commented on #399
Steps to open a Mac Build:
download the build and unzip it
add it into the Application folder
open the terminal
**_enter these command as following:_**
(change AppName to the name of the application for example if the file reads AOTTG2.app --> sudo chmod -R 777 /Applications/AOTTG2.app)

sudo spctl --master-disable
sudo chmod -R 777 /Applications/(appName).app
xattr -d com.apple.quarantine /Applic

[2021-09-07 07:54] #399 closed, assigned to dark3art

[2021-09-07 17:36] #638 closed, assigned to TheBoredProgrammer64, dark3art

[2021-09-13 16:55] BLuRTuts opened #705 "[PROPOSAL] Crosshair adjustment"
**How will this feature improve the game?**
There are 2 states for the trajectory of hooks. If you have something targetable in your crosshair( white crosshair), and if you don't (red crosshair). While white, the hook wil hit where you aimed, simple enough.
If red, the hook will travel along it's static path, reaching the crosshair center at around 125 units out. but if there's something between t

[2021-09-13 18:28] Lithrun commented on #152
Assets are being moved over to Github, so this one can be considered done

[2021-09-13 18:28] #152 closed, assigned to roxnsteady, dark3art

[2021-09-13 21:25] BLuRTuts opened #706 "Fix player hooking stun [PROPOSAL]"
**How will this enhancement improve the game?**
When you hook another player in blade pvp for example, you're able to stun them for a short while, so they can't shoot any hooks or dodge, and stop their momentum.
This is great and all, but a lot of the times it doesn't work properly, and there are different situations that causes it to not work.
From testing, it seems that a lot of the causes is be

[2021-09-21 19:38] #530 closed, assigned to DjFrytek

[2021-09-21 19:39] #668 closed, assigned to TiltSwordWielder

[2021-09-21 20:14] TiltSword commented on #624
### _Sidenote for devs:_
Once these character presets are implemented, please uncomment the value assignments at the end of `Hero.Initialize` (as of writing this, lines 2105-2107 in said script) and delete the then redundant value assignment to `Rigidbody.mass` as well as the comment following it (lines 2108-2111).

[2021-09-22 19:52] #653 closed, assigned to sxlksxskul

[2021-09-27 19:59] Lithrun commented on #692
_I secretly thought of something while implementing #604. Prolonpo knows :)_

[2021-10-04 20:26] Prolonpo opened #710 "[Unity 2021.2+] To the Art Team & Dev Team: Hooks leaving marks on surfaces"
**How will this enhancement improve the game?**
Idea by @DjFrytek (https://discord.com/channels/681641241125060652/683376785659789342/893593388417429504)

**Describe the solution you'd like**

Prolonpo's note: the timer for the mark to disappear could be around 30 sec. Although feedback can be used to see if this leads to too much data to be processed.

**Describe alternatives you've considered**

[2021-10-06 15:03] ArmoredCat0 opened #712 "[BUG]Locking onto a titan and shaking the mouse violently will cause the screen to break"
**Describe the bug**
Already an issue in AoTTG1 as well. Locking onto a titan and shaking your mouse violently will cause the screen to get flipped at different angles and also completely upside down as well.

**To Reproduce**
Steps to reproduce the behavior:
1)Lock onto a titan (default key f)
2)Start shaking your mouse violently and in different directions. It might take a bit of time to do this

[2021-10-06 15:13] ArmoredCat0 opened #713 "[BUG]One of the refuel stations in the map "Cave Fight" doesn't work"
**Describe the bug**
One of the refuel stations in the map "Cave Fight" doesn't work at all. Also the refuel station is not showing up in the compass .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the map "Cave fight" and try refilling the gas with the station present on the side of the map

**Expected behavior**
The refuel station should be working as normal and it should show up o

[2021-10-06 15:27] ArmoredCat0 opened #714 "[BUG]Player can get stuck in running animation while dodging"
**Describe the bug**
When you spam the dodge button, there is a chance for your player to get stuck in the running position. Only fix is to hook a surface.

**To Reproduce**
Steps to reproduce the behavior:
1. While dodging spam the key opposite to the direction in which you are dodging
2. Spamming when you are just about to land from the dodge animation will provide better results

**Expected beh

[2021-10-06 15:38] ArmoredCat0 opened #715 "[BUG]Player can get stuck in idle stance while reloading"
**Describe the bug**
While spamming the reload key, the player can get stuck in an idle stance. Only fix is to hook a surface

**To Reproduce**
Steps to reproduce the behavior:
1. Spam the reload blade key

**Expected behavior**
The blades should reload normally and the player should not get stuck in the idle stance

**Screenshots**
![image](https://user-images.githubusercontent.com/89747361/13623

[2021-10-06 15:41] ArmoredCat0 opened #716 "[BUG]Player can reload two blades in one reload animation"
**Describe the bug**
Spamming the reload key can cause the player to reload two blades back to back in one reload animation

**To Reproduce**
Steps to reproduce the behavior:
1. Spam the reload key

**Expected behavior**
The reload key spam should reload only one blade during one reload animation

**Log file**
N/A

**Additional context**
Might be related to #714
Video about the bug can be found fo

[2021-10-08 14:11] Lithrun opened #717 "Project structure improvements"
**How will this enhancement improve the game?**
There's still some mess from AoTTG1 within our Unity project, which has to be cleaned up. This issue will contain a list of several changes or file renaming. As this will likely cause merge conflicts, we will first gather a list of improvements we want to do, and then schedule a date when it will be applied.  This issue will replace #193

**Describe

[2021-10-08 14:11] Lithrun commented on #193
Closing this issue as #717 will cover this

[2021-10-08 14:11] #193 closed, assigned to Lithrun

[2021-10-12 15:16] ArmoredCat0 opened #719 "[BUG]Player Titan walking issue"
**Describe the bug**
The player titan has a few problems with walking in general. First holding down shift (both for normals and aberrants) decreases their movement speed to nearly zero. Also the walking animation for the aberrants doesn't play when you hold down the walking button (default shift)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to city map and select infection mode which

[2021-10-12 15:16] Prolonpo commented on #104
A potential implementation method: https://discord.com/channels/681641241125060652/889893004687601724/895649759178686474

[2021-10-12 22:27] Acros5542 opened #720 "[BUG] Interpolation Visual Issues"
**Describe the bug**
Interpolation is something that was added to AoTTG1 a little while ago and came with it a host of various factors that had to be adjusted in order to work properly in all scenarios.
In AoTTG2, the same thing was implemented but automatically via a feature on the updated version of Unity. As a result, a lot of the patches that had to be made in AoTTG1 are lacking in AoTTG2.

Ba

[2021-10-13 15:09] Lithrun commented on #720
Why is this considered a high priority? Interpolation is only relevant for users who can achieve more than 50FPS + have a monitor which is more than 60Hz, which most people do not have. As this is purely a visual thing, and only relevant for the few %, moving this to low priority. Nice to have, but there's more important things we need to focus on.

Additionally, as you appear to be aware of what

[2021-10-13 16:22] Acros5542 commented on #720
@Lithrun It's high priority because _none_ of the other high priority issues are even being worked on, and because until either a toggle is added or these issues are fixed, nobody can properly test titans. Frame-by-frame data is useless without a toggle for interpolation, and even the _feel_ when playing against them is impossible to judge for me personally until the visual issues are fixed as qui

[2021-10-14 15:10] ilAlecs opened #722 "Dot Pyxis Special"
**How will this enhancement improve the game?**
Will add more diversity to the AoT Canon characters' abilities

**Describe the solution you'd like**
Give Pyxis the ability to "summon" a cannon which he or others can use to kill titans or players.

**Describe alternatives you've considered**
A way to imprement this would be:
1. Player presses the special button.
2. A flare is fired in the air
3. (O

[2021-10-14 19:11] Lithrun commented on #720
Thus based on your own reasoning, exactly more reason to make this a low priority and disable it completely on a next PR.

[2021-10-14 19:29] Acros5542 commented on #720
Nice jab at me. I already admitted to this in the post originally, and numerous times since before and after interpolations implementation. I wasn't the one who added it to the game originally.
If it's going to be added, do it right.

[2021-10-17 11:34] Crimson-Hunter opened #723 "New Character Animations Implementation"
This will involve getting rid of the old character animations and replacing with the new ones.

We will discard the old animations and replace with new ones.

Should be relatively straight forward but this is my first time so lets see how it goes.

**Contributor instructions** (Do not modify)
1. Determine if the enhancement is compatible with existing features
2. If the idea is denied, please prov

[2021-10-18 17:23] Prolonpo opened #724 "[First Release Build] Details regarding the implementation"
**How will this feature improve the game?**
Due to the limited development resources, there were intensive debates on what should be included in the first release build of AoTTG2.

Based on the initial projection of the first release build, it seems that it will never come out on time, and thus I racked my brain to come up with this solution.

I proposed to do the following for the first release a

[2021-10-20 07:04] ArmoredCat0 opened #725 "[BUG]Weapon trail not disappearing"
**Describe the bug**
If you hook a wall or gas burst when the trail is visible, it won't disappear until a normal or special attack is performed.
**NOTE: The build in which this issue/bug is present has currently not merged with any of the major alpha builds**

**To Reproduce**
Steps to reproduce the behavior:
1. Get on any map and hook a wall or gas burst when the trail is visible i.e hook a wall

[2021-10-20 16:21] #308 closed, assigned to dark3art

[2021-10-20 16:26] #205 closed, assigned to nolanrdavenport

[2021-10-20 16:30] desu7 opened #726 "[BUG]Mikasa Skill Bug"
**Describe the bug**
It is possible to bug Mikasa's skill by cancelling its animation, getting replaced by a normal slash instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any map, with any game mode. Use any character that has Mikasa's skill.
2. Use the skill, then quickly cancel it before landing by doing a gas burst. You can also cancel it if a hook has been released before u

[2021-10-23 10:25] dark3art opened #727 "[NEW MAP] Shiganshina-shore map"
new map by mapping team any question direct to dark3art or hawk

For the mapping team task will be

- [ ] shape terrain

- [ ] paint terrain

- [ ] create nature

- [ ] create harbor

- [ ] create shiganshina

Art team:

- [ ] supply the harbor model

- [ ] the harbor texture

[2021-10-30 11:34] #365 closed, assigned to HawkeMaylan

[2021-10-30 11:34] dark3art commented on #365
prefabs have been made for mappers so this issue is outdated and i'm closing it so the github page get's cleaned up

[2021-10-30 12:21] #263 closed, assigned to dark3art

[2021-10-30 13:58] #67 closed

[2021-11-02 17:52] Acros5542 commented on #636
Need to retest this now that we know ACCL was lower than we thought.

[2021-11-02 17:56] Acros5542 commented on #637
Potentially fixed by the gas burst internal cooldown that was added. The issue would still be present, just no longer replicable unless we add more than single burst cancels as an option.

[2021-11-02 21:26] Acros5542 opened #732 "[BUG] FPS Counter Inaccuracy"
**Describe the bug**
The FPS counter does not update update as often as it should, and the number it displays is sometimes higher or lower than what your FPS actually is. The more FPS you have, the further above or below the counter may be.

**To Reproduce**
1. Use some form of external FPS tracker and launch AoTTG2
2. Compare your actual FPS to what the FPS tracker in-game displays

**Expected be

[2021-11-02 21:47] Acros5542 opened #733 "[BUG] V-Sync Forced on by Default"
**Describe the bug**
By default, upon launching a build for the first time, v-sync is forced on. You can disable it by setting 0 in the FPS Limiter, but it should be disabled by default and toggled to turn on in Graphic Settings.

**To Reproduce**
1. Setup some form of external FPS tracker as the in-game one is inaccurate.
2. Launch AoTTG2, and note that your FPS is locked to your monitor's refres

[2021-11-05 20:03] Mi-Sad commented on #732
Yeah saw and is actually bothering me so gonna fix in a sec

[2021-11-05 20:27] Mi-Sad commented on #725
interesting, might have to do with the way it exit the "attack state"

[2021-11-06 08:26] ArmoredCat0 opened #736 "[BUG] Titan's attack animation can get instantly cancelled"
**Describe the bug**
If a titan kills you in any way, it's attack animation gets instantly cancelled

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any map of your choice and select titan or wave mode
2. Get a titan to kill you and notice how it's attack animation gets cancelled

**Expected behavior**
The animation should play completely even when the player died

**Screenshots**
http

[2021-11-06 10:03] #732 closed, assigned to Mi-Sad

[2021-11-06 10:05] Acros5542 commented on #725
We need a build to confirm this is fixed before it can be closed.

[2021-11-06 10:35] Acros5542 commented on #732
Same as #725, wait till a build is made to confirm it's fixed, then the bug report can be closed.

[2021-11-08 04:35] PeteAniDev commented on #276
Reproduced, it's not the same as #136.

https://user-images.githubusercontent.com/38600771/140684872-2e94c5c8-cc78-4583-9f69-61bb503355ba.mp4

[2021-11-08 05:23] PeteAniDev commented on #276
Basically, you enter spectator mode when you die but when you respawn the spectator mode is still enabled. If you enter spectator mode again in that state, the game will think that you want to exit the spectator mode and will not delete the old hero.

[2021-11-08 07:23] Acros5542 commented on #276
Went back and checked out of curiosity, and it's not reproducible on Alpha 2. Seems this issue was made, unintentionally fixed (per Alpha 2), and then made possible again once #33 was merged.

[2021-11-08 23:14] #725 closed, assigned to Mi-Sad

[2021-11-08 23:14] dark3art commented on #725
this is tested and pushed into dev so imma close it

[2021-11-09 02:05] Zynku commented on #348
Need some clarification on this bug. I looked at the video you sent and the blades seem to only connect on the kill, hitting the nape. I don't see any connection with the titan arm hitbox.

[2021-11-09 05:06] PeteAniDev commented on #107
Idea: If the blades hit the titan nape, it does 10% (at 0% durability) ~ 50% (at 100% durability) damage (based on your speed). Since this is kind of like the AHSS skill, I suppose it should deal somewhat the same damage.

[2021-11-09 09:39] Acros5542 commented on #348
Look at the titan's left arm immediately before I get the kill and after as he's falling to the ground.
It looks like I've only hit the nape, but I also struck the arm hitbox causing the limb to appear severed from the elbow down.

[2021-11-09 11:02] PeteAniDev opened #741 "Blade Throw Skill Animation"

[2021-11-09 11:05] PeteAniDev commented on #741
- [x] Skill performing animation for heroes.
- [x] Blade flying animation. (Spinning blade)

[2021-11-09 16:20] Prolonpo commented on #722
Ties well into #574, looks well balanced as well

[2021-11-09 16:20] Prolonpo commented on #574
See Dot Pyxis Special for another skill that can be implemented #722

Idea by @AlexSasaki

[2021-11-09 17:07] #713 closed

[2021-11-09 17:10] #623 closed, assigned to PeteAniDev

[2021-11-10 17:20] Lithrun commented on #223
Issue was already merged as per #701

[2021-11-10 17:20] #223 closed, assigned to mash8, dark3art

[2021-11-11 00:37] PeteAniDev commented on #107
- [x] Better blade flying direction when raycasting hit nothing.

[2021-11-11 20:08] TonyTwohands commented on #710
ayyo, turns out with universal render pipeline decals are not possible unless using some workarounds, so I'm tryna see what I can do

[2021-11-11 20:08] TonyTwohands commented on #661
Effect added, all that's needed now is dev side

[2021-11-11 20:35] Lithrun commented on #710
Feature is supported with URP v12 (Unity 2021.2+). So will remain on hold until we are above that version.
https://docs.unity3d.com/Packages/com.unity.render-pipelines.universal@12.0/manual/whats-new/urp-whats-new.html#urp-deferred-rendering-path

[2021-11-12 00:02] PeteAniDev commented on #107
- [x] Weapon trail on blades.

[2021-11-12 00:30] #741 closed, assigned to nobody

[2021-11-12 16:35] Lithrun commented on #362
These are now synced every now and then via "art-prefabs" via @dark3art, so this can be considered done as long as that continues. Since if it's not on Github, it doesn't exist.

[2021-11-12 16:35] #362 closed, assigned to Lithrun

[2021-11-12 16:36] Lithrun commented on #535
Since @HawkeMaylan is working on this one, and has a build available for it. Assigning this to you

Will check /w testing team if #369 is then also resolved

[2021-11-12 21:49] Prolonpo commented on #418
Improvement to this issue, idea original by **kuya jahbee-wakIZ**, further developed and refined by **Dakros**
- Link to original message: https://discord.com/channels/681641241125060652/683376785659789342/904611179362676736
- Link to Dakros' input: https://discord.com/channels/681641241125060652/683107211983323164/904716784337309717

Summary
- Objective is to provide a way for the player to know

[2021-11-13 06:04] Prolonpo commented on #418
Update from **kuya jahbee-wakIZ** on how the colour should be indicated
![image](https://user-images.githubusercontent.com/72053473/141607955-405d1093-f112-412a-bd0b-0ae66de7508f.png)

[2021-11-13 07:28] dark3art opened #746 "[Fix] Training dummy's"
Fixing the titan dummy's because they are sucky suck for now...

What needs to happen:

- [x] Ankle hitbox: should stop the rotating of the training dummy's for a set amount of time (if you could same time as normal titans sit down)

- [x] Neck hitbox: titan should fall over and after an amount of time it should stand back up so you can fight it again

- [x] New animation: in addition to the neck

[2021-11-15 23:09] Acros5542 opened #748 "[BUG] Blade trails are continually re-applied while the game is paused"
**Describe the bug**
Coming in with another pause bug: this time if you're in a singleplayer or multiplayer lobby, swing your blades so that the blade trail appears, and pause the game (with either escape or /pause) as this trail is on screen, the blade trail will continue to stack whilst the game is paused. This makes it very easy to crash your game if you leave it sitting like for this a couple

[2021-11-15 23:46] Prolonpo commented on #325
From **desu** in the staff-ideas-discussion (https://discord.com/channels/681641241125060652/889893004687601724/909902410846191636)
- Vertical gas bursting can be done with a combo of "Dodge whilst mid air + Gas burst"

[2021-11-16 03:18] PeteAniDev commented on #107
- [x] Set a constant minimum damage
- [ ] Reloading bug https://discord.com/channels/681641241125060652/683082467069919236/909917199383298158. Should be solved in #752

[2021-11-16 11:41] PeteAniDev commented on #159
- [x] An effective pathfinding system.
- [x] Adapting to changes in the environment.

[2021-11-16 16:50] Lithrun opened #749 "[PROPOSAL] Directional Gas Burst"
**How will this enhancement improve the game?**
One of the most discussed and controversial suggestions. A lot of people think it's a great addition, a lot of people think it's a horrible addition. So, with this issue we will simply implement it (it's just a few lines of code), create a build, and see what the feedback is with the actual feature rather than relying on speculation. So the existence

[2021-11-16 22:28] HawkeMaylan opened #750 "[PROPOSAL] Character Statistics Overhaul"
**How will this feature improve the game?**
In AoTTG the statistics were extremely basic causing many players to purely invest in acceleration with the other stats having little impact on playstyles or overall gameplay. This is being created to fix this issue by adding more in-depth statistics that can add more play styles and replayability to the game, this in turn should increase the skill cap b

[2021-11-18 20:33] Prolonpo commented on #749
Related to #325 at this specific comment: https://github.com/AoTTG-2/AoTTG-2/issues/325#issuecomment-969446824

[2021-11-18 20:34] Prolonpo commented on #749
This is also related to #675

[2021-11-20 14:03] Lithrun commented on #583
On Hold until #604

[2021-11-21 13:57] PeteAniDev opened #752 "Interrupting the reloading animation can result in an invisible blade. [BUG]"
**Describe the bug**
The title described its all.

**To Reproduce**
Steps to reproduce the behavior:
1. Spawn as a hero.
2. Reload.
3. Hook to interrupt the reload.
4. Kill titans with the invisible blade.

**Expected behavior**
Interrupting reload animation should make the hero fail to reload and have to reload again.
The HUD should also display that you haven't reloaded yet.

**Contributor instr

[2021-11-23 19:35] Zynku commented on #752
The way this has been fixed is that if the "reload" animation is interrupted, it will act as if it hasn't been interrupted, and give the player the new blade anyway. It doesn't force the player to retry to reload like @PeteAniDev suggested.

[2021-11-25 13:46] xdxd123 commented on #116
possible issue with horses being bugged out and can jump high at times. Also they can partially clip into buildings/walls and stay in them until you stop pressing W to move forward.

https://streamable.com/mx86mh

Edit: jumping high is on the list. but not sure about the horse messed up collider.

[2021-11-26 22:55] subject546 opened #757 "inconsistent and camera angle dependent fog [BUG]"
**Describe the bug**
On the medium settings the fog is inconsistent between the ground and other objects. You can see in the left picture that the trees and titan are affected differently compared to the ground plane.

When I turn around the titan (and face an other way) it sometimes seems to render correctly.
picture is the same time of day (I choose one that highlights the issue).

When I turn f

[2021-11-26 22:56] subject546 commented on #757
issue occurred on development: cd1dac200cc4424b057037b98f2431e7cc7fb40d

[2021-11-26 23:29] subject546 commented on #757
maps affected (checked means fixed):

- [ ] ~~akina~~ (not noticed) (maybe due to the floor color)
- [x] forest classic
- [x] city classic
- [x] trost classic (probably, reuses city so not noticed (tried after fix in city))
- [ ] ~~outside the walls~~ (not noticed) (geometry is more subdivided already)
- [ ] ~~cave fight~~ (not noticed) (maybe due to the floor color or small size)
- [x] house figh

[2021-11-26 23:45] subject546 commented on #757
@AoTTG-2/mapping-team please implement this fix in new maps as well (after PR is approved).
The fix is only needed if the top of the floor consists exclusively from 2 **HUGE** polygons as highlighted in the image below.

![image](https://user-images.githubusercontent.com/4405556/143661406-fb6d62a5-5f4a-4315-acbe-0bbd0712ce68.png)

[2021-12-25 08:09] 8veStory commented on #748
Upon investigation the root error comes from Pause not being implemented correctly.

Old vs New Code in PauseService.cs:
![image](https://user-images.githubusercontent.com/29248979/147380510-5dff32d8-22f7-4f29-9ef0-af3db6822513.png)

Old code paused by setting the timescale to 1E-06f, a very small number. In effect, this doesn't actually pause the game (it's just super slow-mo), resulting in blade

[2021-12-25 08:44] 8veStory commented on #748
Tested it and unfrotunately #475 and #568 are not fixed by this change. #748 is fixed according to my testing though.

[2021-12-26 21:42] ShadowReviews opened #759 "[PROPOSAL] Developer mode/God mode"
**How will this feature improve the game?**
Ability to let developers and testers move through the map and kill enemies more easily, making testing and debugging easier.

**Describe the solution you'd like**
Ability to either kill titans in one hit anywhere on the body or some kind of hitscan based ability to kill titans instantly. Potentially making grapples lock on to air after a maximum range t

[2022-01-06 14:00] TiltSword commented on #650
Now that I'm finally finding time to work on the project again, I will write down some things about this issue that have been discussed in the Discord:
I have a point of reference for the attack timers from an AoTTG mod, which I will use to implement the attack behavior as close to the original as I can. I will make a variation with randomized timers (like the original version) and one with consta

[2022-01-11 11:40] PeteAniDev commented on #159
- [x] ![image](https://user-images.githubusercontent.com/38600771/148936105-8073c38c-9cce-47ff-980d-5cfeead1da59.png)

[2022-01-14 07:25] PeteAniDev commented on #159
- [x] In the forest map, the titan should act aggro at the player all of the time.

[2022-02-02 21:55] SaudBako commented on #524
I couldn't reproduce the exact bug, but I'll work on stopping all camera movements when the game loses focus.
This flipping did happen on TPS by the way, but without without even tabbing out of the game window, which might require a github issue on its own.

[2022-02-13 14:21] #276 closed, assigned to PeteAniDev

[2022-02-13 14:48] #447 closed, assigned to Mi-Sad, Zynku

[2022-02-13 14:58] #348 closed, assigned to Zynku

[2022-02-13 17:12] #726 closed

[2022-02-15 14:47] dark3art opened #765 "[BUG] crosshair adjustment"
**Describe the bug**
There's an issue with the crosshair. Left hooks land much lower than expected, whereas right hooks land much higher than expected. Which as you can imagine, makes it quite annoying to test ODMG logic. Issue did not occur before https://github.com/AoTTG-2/AoTTG-2/commit/083f550fd58b0cf09d7c253301ff472776d05f5b, and was caused somewhere during the Pull Requests

**To Reproduce**

[2022-02-15 18:11] #179 closed

[2022-02-15 18:22] #107 closed, assigned to PeteAniDev

[2022-02-15 18:31] #736 closed

[2022-02-15 18:36] #752 closed, assigned to Zynku

[2022-02-15 21:46] #757 closed, assigned to subject546

[2022-02-16 18:47] #712 closed, assigned to SaudBako

[2022-02-16 18:54] #524 closed, assigned to SaudBako

[2022-02-16 18:56] #512 closed

[2022-02-18 22:25] Lithrun commented on #765
Making this highest priority currently. Let's see who can fix it the fastest

[2022-02-19 20:09] Grizzly182 commented on #765
I'll try working on it too

[2022-02-24 20:10] Zoap commented on #765
@Grizzly182  I tested this a couple days ago, try to use the branch for issue #733 to look for the bug, it seems to be related to framerate and 733 has the framerate unlocked ingame, it seems higher framerate = better accuracy, while lower framerate = less accuracy.

[2022-02-25 14:35] #733 closed, assigned to Zoap

[2022-02-27 13:53] Dakros opened #767 "Improvements of the background music system"
**How will this enhancement improve the game?**
A better audio experience for the player.
This is for Zoap

**Describe the solution you'd like**

- [x] Make sure that #691 is done.

1. The state loop should work in this order:
Menu--->Ambient->Combat->Ambient->Neutral
Menu--->Ambient->Neutral->Combat->Ambient->Neutral

Menu tracks are played in the main menu and its' sub-menus only. Once the playe

[2022-02-28 16:37] Zoap opened #768 "Sound settings in the in game menu"
**How will this enhancement improve the game?**

Players need to be able to change the volume in game to their liking.

**Before you start.**

- [ ] Make sure #604 is done.

- [x] Make sure #691 is done.
- [ ] Make sure #767 is done.

**Describe the solution you'd like**

A settings button in the in game menu that leads to the sound settings

- [ ] Volume slider, master volume (changes all volume)

[2022-03-05 21:51] Zoap opened #769 "Utgard castle improvements"
Issue for the utgard castle map

**Contributor instructions** (Do not modify)
1. Determine if the feature is compatible with existing features and fits within the scope/design of the project
2. If the idea is denied, please provide a reason and close the issue. If the idea is accepted, consult your team to do an estimation of effort. Remove the [PROPOSAL] name and label.
3. Move the issue to the F

[2022-03-06 10:16] #691 closed, assigned to Zoap, DjFrytek, dark3art

[2022-03-07 08:35] iamsamhhh commented on #153
I'll made another branch since the other one is too old. This new branch will be named as #153-LAVAFLOOR

[2022-03-09 22:50] Lithrun opened #770 "Developer quality of life improvements"
**How will this enhancement improve the game?**
- [x] Add .csproj & .sln to the .gitignore again. Every month or so, these will have to be manually updated within Github so that DocFX can also display the latest classes on our website https://aottg2.net/
- [x] Disable Roslyn CS0649
- [x] Resolve PhotonServerSettings.asset from resetting

[2022-03-11 12:33] iamsamhhh commented on #327
I figured out by going to this website https://api.github.com/repos/AoTTG-2/AoTTG-2/releases (it's currently blank because there isn't any releases yet) Under "tag_name" we can find the tag we marked on our latest release which should be the version.
Here's an example
<img width="995" alt="截屏2022-03-11 下午8 25 13" src="https://user-images.githubusercontent.com/81800116/157866576-8c5942ee-6467-4af2-

[2022-03-11 12:35] #770 closed, assigned to Lithrun

[2022-03-15 15:18] iamsamhhh commented on #327
For the 4th task, Whenever we need to make a new release, there should be three file uploaded in order. Ther first one should be Windows version. The second one should be Mac version and the third should be Linux version. With this, I can simply access them with a index and download the correct one.
With the 5th task, there is website that is similar to github which is called gitee. This can work

[2022-03-20 13:37] void2610 commented on #235
I intend this issue to be the first one I take up.
It seems that #153 has all the tasks done, is there any problem to start working on this issue?
@Lithrun

[2022-03-20 13:54] dark3art commented on #235
@void2610 the issue has been so long left alone that the branch thzt excist is outdated and also gamemode issue's should be left alone until #604 is done as there it get's revamped

[2022-03-21 18:27] dark3art commented on #350
Fix inside issue #604 so do we close this issue then @Lithrun

[2022-03-23 08:25] mwnDK1402 commented on #765
~~We need to make a decision on whether the hooks should shoot directly forwards, or whether they should always head straight towards the raycast hit point.~~

[2022-03-27 17:58] #765 closed, assigned to mwnDK1402, Grizzly182, dark3art

[2022-03-29 00:45] ActuallyTrue commented on #719
I'm going to look into this issue.

[2022-03-30 00:57] ActuallyTrue commented on #388
I'm going to look into this issue

[2022-04-09 09:29] mwnDK1402 commented on #345
@dark3art, isn't this fixed now?

[2022-05-02 00:38] MmmCrits commented on #277
Most of the issue was already solved in the current development branch (stopping the timer when the race ends and not adding an extra 15 seconds), this commit just fixes the string formatting so it displays time/speed to 2 decimal places.
[b24073b0baf170d4c80f892e3b3feb3a7e0dda45](https://github.com/AoTTG-2/AoTTG-2/commit/b24073b0baf170d4c80f892e3b3feb3a7e0dda45)

[2022-05-09 17:15] MmmCrits commented on #209
Someone (I think TitanNote) has already made a beautiful map, but it is inside branch #108-Standoff.
I'm trying to merge the 108-Standoff branch with development so I can work on the gamemode, but it breaks the map when I do (objects missing, things are purple, etc).
Rather than making an entirely new map, someone should probably look into updating/fixing this map instead.
![Issue 209 map](https:/

[2022-06-11 19:51] Culificador commented on #601
"currently only 10 damage is dealt"
Did I understand correctly? are you saying that ahss can only do 10 damage to titans?
"Add Double Shot as a Hero Skill"
If it's a skill, would it have coldown to use again?
If that's the case, it would be a goner for all professional ahss players.
I have a lot of ideas of what I could and couldn't add to the game, but I don't share them because I know they would

[2022-06-16 15:10] MmmCrits commented on #108
The gamemode is more or less functional (at least in singleplayer, I can't test it in multplayer), but it's messily implemented. I had to modify spawn service / spawn menu / several other things to get it to work.

I didn't realise that there is a separate issue for spawn service implementation (#301), so I'm going to finish 301 first because it is going to make some of the spawn service changes I

[2022-08-05 21:19] theshoperr commented on #536
Idk if it's good enough. I need to see with @PoleDark if there is anything to change. The logo at the bottom is different because atm I don't know if we hold the license for the original font. But anyway, this is just a prototype, if anyone is interested on making some tweeks, feel free to message me so I can send the files. I am theshoperr#8074 at the server.
![Credits-panel](https://user-images.

[2022-08-05 21:26] theshoperr commented on #689
Working on it using a third-party plugin named mod.io. It has a website and a in-game add-on. Will resolve all this issue at once.